/* iCheck plugin Square skin, blue
----------------------------------- */
.icheckbox_square-blue {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url(blue.png) no-repeat;
  border: none;
  cursor: pointer;
}
.iradio_square-blue {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  background: url(blue.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_square-blue {
  background-position: 0 0;
}
  .icheckbox_square-blue.hover {
    background-position: -22px 0;
  }
  .icheckbox_square-blue.checked {
    background-position: -44px 0;
  }
  .icheckbox_square-blue.disabled {
    background-position: -66px 0;
    cursor: default;
  }
  .icheckbox_square-blue.checked.disabled {
    background-position: -88px 0;
  }

.iradio_square-blue {
  background-position: -110px -4px;
}
  .iradio_square-blue.hover {
    background-position: -126px -4px;
  }
  .iradio_square-blue.checked {
    background-position: -142px -4px;
  }
  .iradio_square-blue.disabled {
    background-position: -158px -4px;
    cursor: default;
  }
  .iradio_square-blue.checked.disabled {
    background-position: -174px -4px;
  }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
  .icheckbox_square-blue,
  .iradio_square-blue {
    background-image: url(blue@2x.png);
    -webkit-background-size: 240px 24px;
    background-size: 240px 24px;
  }
}