<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta property="og:type" content="website">
<meta property="og:title" content="Hey!Korean Mentoring">
<meta property="og:site_name" content="Hey!Korean Mentoring">
<meta property="og:url" content=".">
<meta property="og:image" content=".">
<meta property="og:description" content="Hey!Korean Mentoring ">

<link href="./lib/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="./lib/bootstrap/bootstrap-tagsinput.css" rel="stylesheet">
<link href="./lib/select2/select2.min.css" rel="stylesheet">
<link href="./lib/icheck/blue.css" rel="stylesheet">
<link href="./css/common.css" rel="stylesheet">

<!-- Icon for Website -->
<link rel="shortcut icon" href="./images/heykorean.ico" type="image/x-icon">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->