<!-- #header -->

<!-- Header Common for All Page -->
<!-- ************** -->
<!-- ************** -->
<div class="s_gnb_wrap" style="height:36px;">
	<div class="s_gnb">
		<a class="btn p-pointer" title="change location">
			<em>Hanoi</em><img class="triangle" src="./images/triangle.png" alt="more location">
		</a>
		<div class="location_con" style="display: none;">
			<div class="container-popup">
			  <a title="close" class="p-area-close p-pointer" style="z-index: 100;">
			    <img src="http://cdn.heykorean.com/common/area_popup/locationcon_close.png" alt="close">
			  </a>
				<li class="wide">
					<dl>
						<dt class="country">United State</dt>
						<dd class="cancel">
							<a href="javascript:void(0);" class="btnAreaClose" title="Close"></a>
						</dd>
						<dd class="line">
							<img src="http://heyimg.heykorean.com/2013/ktown/img/location_line.gif">
						</dd>
					</dl>
					<div class="locate_list">
						<dl class="ct_wrap">
							<dt class="state">New York City</dt>
								<dd class="city">
									<a href="http://global.heykorean.com/relation/?AI=4672&amp;rUrl=http://www.heykorean.com" title="New York City">New York City</a>
								</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4883&amp;rUrl=http://www.heykorean.com" title="Long Island">Long Island</a>
							</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4865&amp;rUrl=http://www.heykorean.com" title="Binghamton">Binghamton</a>
							</dd>							
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4864&amp;rUrl=http://www.heykorean.com" title="Albany">Albany</a>
							</dd>
						</dl>
						<dl class="ct_wrap">
							<dd class="state">
								<a href="http://global.heykorean.com/relation/?AI=4478&amp;rUrl=http://www.heykorean.com" title="New Jersey">New Jersey</a>
							</dd>
							<dd class="city">
								<a href="#"></a>
							</dd>
						</dl>
						<dl class="ct_wrap">
							<dd class="state" title="Maryland">Maryland</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4938&amp;rUrl=http://www.heykorean.com" title="Baltimore">Baltimore</a>
							</dd>
						</dl>
						<dl class="ct_wrap">
							<dd class="state" title="Massachusetts">Massachusetts</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4851&amp;rUrl=http://www.heykorean.com" title="Boston">Boston</a>
							</dd>
						</dl>
						<dl class="ct_wrap">
							<dd class="state" title="Washington">Washington</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4917&amp;rUrl=http://www.heykorean.com" title="Seattle">Seattle</a>
							</dd>
						</dl>
					</div>
					<div class="locate_list">
						<dl class="ct_wrap">
							<dd class="state" title="Illinois">Illinois</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4956&amp;rUrl=http://www.heykorean.com" title="Chicago">Chicago</a>
							</dd>
						</dl>
						<dl class="ct_wrap">
							<dd class="state" title="Georgia">Georgia</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4919&amp;rUrl=http://www.heykorean.com" title="Atlanta">Atlanta</a>
							</dd>
						</dl>
						<dl class="ct_wrap">
							<dd class="state" title="California">California</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4850&amp;rUrl=http://www.heykorean.com" title="San Francisco">San Francisco</a>
							</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4849&amp;rUrl=http://www.heykorean.com" title="Los Angeles">Los Angeles</a>
							</dd>
						</dl>
						<dl class="ct_wrap">
							<dd class="state" title="District of Columbia">District of Columbia</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4922&amp;rUrl=http://www.heykorean.com" title="Washington D.C./Northern Virginia">Washington D.C./<br>Northern Virginia</a>
							</dd>
						</dl>
						<dl class="ct_wrap">
							<dd class="state" title="Pennsylvania">Pennsylvania</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4852&amp;rUrl=http://www.heykorean.com" title="Philadelphia">Philadelphia</a>
							</dd>
						</dl>
					</div>
				</li>
				<li class="wide">
					<dl>
						<dt class="country" title="Asia Pacific">Asia Pacific</dt>
						<dd class="line"><img src="http://heyimg.heykorean.com/2013/ktown/img/location_line.gif"></dd>
					</dl>
					<div class="locate_list">
						<dl class="ct_wrap">
							<dt class="state" title="Korea">Korea</dt>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4822&amp;rUrl=http://www.heykorean.com" title="Seoul">Seoul</a>
							</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4973&amp;rUrl=http://www.heykorean.com" title="Gyeongju">Gyeongju</a>
							</dd>
						</dl>
						<dl class="ct_wrap">
							<dd class="state" title="Vietnam">Vietnam</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4976&amp;rUrl=http://www.heykorean.com" title="Bac Ninh">Bac Ninh</a>
							</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4914&amp;rUrl=http://www.heykorean.com" title="Hanoi">Hanoi</a>
							</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4963&amp;rUrl=http://www.heykorean.com" title="Ho Chi Minh">Ho Chi Minh</a>
							</dd>
		 				</dl>
		 				<dl class="ct_wrap">
							<dd class="state" title="China">China</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4882&amp;rUrl=http://www.heykorean.com" title="Beijing">Beijing</a>
							</dd>
							<dd class="city">
								<a href="http://global.heykorean.com/relation/?AI=4958&amp;rUrl=http://www.heykorean.com" title="Shanghai">Shanghai</a>
							</dd>			
		 				</dl>
		 				<dl class="ct_wrap">
							<dd></dd>
		 				</dl>
		 				<dl class="ct_wrap">
							<dd></dd>
						</dl>
					</div>
				</li>
			</div>
		</div>
		<div class="p-translate">
			<div id="google_translate_element"></div>
			<script type="text/javascript">
				function googleTranslateElementInit() {
				  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'de,es,fr,id,ja,ru,tl,vi,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, multilanguagePage: true}, 'google_translate_element');
				}
			</script>
			<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		</div>
		<a href="http://www.heykorean.com/help/login_proc.asp?ret=http%3A%2F%2Fmarket.heykorean.com%2F" class="btn_log">LOGIN</a>
		<div class="menu" data-load="/proxy/?url=http://heyhtml.heykorean.com/assets/en-us/market/indicator.html">			<a href="http://www.heykorean.com/hk_club/club_main.asp" title="club">club</a>
			<a href="http://www.heykorean.com/hkboard/room/rent_main.asp" title="housing">housing</a>
			<a href="http://www.heykorean.com/hk_job/index.asp" title="jobs">jobs</a>
			<a href="http://mentor.heykorean.com/" title="mentoring">mentoring</a>
			<a href="http://ktown.heykorean.com" title="yellowpage">yellowpage</a>
			<a class="more" title="more" href="#">more</a>
			<div class="more_wrap disNone" style="display:none">
				<ul>
					<li class="first"><a href="http://www.heykorean.com/hk_funtalk/">life</a></li>
					<li><a href="http://www.heykorean.com/hk_news/">NEWS</a></li>
					<li><a href="http://www.heykorean.com/hkinfo/infoview.asp">INFOPLAZA</a></li>
					<li><a href="http://www.heykorean.com/hk_service/membership/">memberPlaza</a></li>					
					<li><a href="http://www.heykorean.com/hk_photoessay/">PhotoEssay</a></li>
					<li class="last"><a href="javascript:openPopup('http://www.heykorean.com/hk_help/sitemap.asp',940,845)">All</a></li>
				</ul>
			</div>
			<div class="lang">
				<a title="english" class="p-set-lang p-pointer" data-lang="en" data-i18n="en-us"><img src="./images/flag_en.gif"></a>
				<a title="korean" class="p-set-lang p-pointer" data-lang="ko" data-i18n="ko-kr"><img src="./images/flag_ko.gif"></a>
			</div></div>
	</div>
</div>
<!-- ************** -->
<!-- ************** -->
<!-- END Header Common for All Page -->

<div class="container">
	<div class="header-wrap clearfix">

		<div class="title-page-wrap">
			<a class="logo" href="index.html"><img src="./images/hey-korean-logo.png" alt="Hey!Korean"></a>
			<h1 class="webname"><a href="index.html"><img src="./images/mentoring.png" alt="Mentoring"></a></h1>
		</div>
		<div class="profile-wrap">
			<!-- Single button -->
			<div class="btn-group">
			  <button type="button" class="btn btn-profile dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <img src="./images/user-profile-img.png" alt="">user name <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><a href="#">Information</a></li>
			    <li><a href="#">Logout</a></li>
			  </ul>
			</div>
		</div>
	</div>
	<nav class="menu-wrap clearfix">
		<ul>
			<li class="active"><a href="index.html">Home</a></li>
			<li><a href="">Us life</a></li>
			<li><a href="advice.html">Advice</a></li>
			<li><a href="local_info.html">Local info</a></li>
			<li><a href="sharing.html">Sharing</a></li>
			<li><a href="">Best</a></li>
			<li><a href="my_mentoring.html">My mentoring</a></li>
		</ul>
		<div class="search-wrap">
			<input type="text" name="search-box">
		</div>
	</nav>
	<div class="notice-wrap clearfix">
		<h3>Notice</h3>
		<a href="#">헤이코리안 멘토링 페이지를 개편하였습니다.</a>
	</div>
</div>
