<!-- #footer -->
<div id="footer">
	<div class="container-fluid">
		<ul class="nav-footer">
			<li><a href="/">About Us</a></li>
			<li><a href="/">Sponsor</a></li>
			<li><a href="/">Term</a></li>
			<li><a href="/">Avoiding Scams & Fraud</a></li>
			<li><a href="/">Contacts</a></li>
		</ul>
	</div>
	<div class="container-fluid copyright">
		<p>Hey! Korean© 1998-2016. All Rights Reserved.</p>
	</div>
</div>
<!-- /#footer -->