<script src="./js/jquery-1.12.4.js" type="text/javascript"></script>
<script src="./js/jquery-ui.js" type="text/javascript"></script>
<script src="./js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="./lib/bootstrap/bootstrap.min.js" type="text/javascript"></script>
<script src="./lib/bootstrap/bootstrap-tagsinput.js" type="text/javascript"></script>
<script src="./lib/select2/select2.min.js" type="text/javascript"></script>
<script src="./lib/icheck/icheck.min.js" type="text/javascript"></script>
<script src="./js/common.js" type="text/javascript"></script>
