@import './mentor.css';
@import './etc.css';
@import './translateelement.css';

@font-face{
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: normal;
  src: url('https://s3.amazonaws.com/cdn.heykorean.com/font/2016/01/29/NanumGothic.eot'); 
  src: local('☺'), url('./font/NanumGothic.woff') format('woff'), url('./font/NanumGothic.ttf') format('truetype'); 
}

@font-face{
  font-family: 'HelveticaNeueLTStd-Roman';
  font-style: normal;
  font-weight: normal;
  src: url('./HelveticaNeueLTStd-Roman.eot'); 
  src: local('☺'), url('https://s3.amazonaws.com/cdn.heykorean.com/font/2016/01/29/NanumGothic.woff') format('woff'), url('https://s3.amazonaws.com/cdn.heykorean.com/font/2016/01/29/NanumGothic.ttf') format('truetype'); 
}

/* reset */
html,body{margin:0;padding:0;font-size:14px;line-height:22px;}
body{font-family:'Malgun Gothic', 'NanumGothic', 'Helvetica Neue', sans-serif;background:#fff;color:#333;}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tbody,tfoot,thead,th,td{margin:0;padding:0;}
input,textarea,select,td,th{box-sizing:border-box;font-family:'Malgun Gothic', 'NanumGothic', 'Helvetica Neue', sans-serif;color:#333;vertical-align:middle;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
table{width:100%;table-layout:fixed;border-spacing:0;border-collapse:collapse;}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section,div {display:block;box-sizing:border-box;}
nav,ol,ul,li{list-style:none;box-sizing:border-box;}
hr, legend, caption {position:absolute;left:-5000px;top:0;line-height:0.1%;font-size:0.1%;width:0.1%;height:0.1%;}
.hidden {position:absolute;top:-1000em;left:0;display:block;font-size:0;line-height:0;text-indent:-9999em;}
caption{display:none;}
img,fieldset{border:0 none;}
label,button{cursor:pointer;}
em,address{font-style:normal;}
a:link,a:visited{cursor:pointer;color:#333;text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;outline:none;}

#skipNav a {display:block;overflow:hidden;height:0;line-height:24px;text-align:center;background:#000;color:#fff;}
#skipNav a:focus{height:auto;}

.clearfix:after {content:"";display:block;clear:both;}

/* Button */
button{overflow:visible;margin:0;padding:0;border:0;background:none;white-space:nowrap;cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
button span{position:relative;}
button:focus {outline:none;}

#wrap {margin:0 auto;width:1144px;}
.topwrapper {position:relative;padding-top:2px;}
.gnb, .topsearch {float:right;}


/* 상단 파편화 방지 */
/* gnb */
.s_gnb_wrap {width:100%;min-width:1144px;background:#1c7fd3;z-index:1;}
.s_gnb {position:relative;margin:0 auto;width:1144px;background:#1c7fd3;}
.s_gnb:after {display:block;content:"";clear:both;}
.s_gnb .btn {float:left;margin-top:7px;padding-left:28px;height:22px;color:#1c7fd3;text-decoration:none;background:#fff url("../images/btn_location.png") 4px 4px no-repeat;border-radius:9px;}
.s_gnb .btn:after {display:block;content:"";clear:both;}
.btn em {float:left;line-height:22px;}
.triangle {float:right;padding:9px;}
.select_wrap .triangle {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	 transform: rotate(180deg);
}
.select_wrap.on .triangle {
	padding:9px;
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	 transform: rotate(0deg);
}
.s_gnb.on .btn .triangle {
	padding:9px;
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	 transform: rotate(180deg);
}

/* Select a Country */
.select_wrap {float:right;vertical-align:middle;}
.select_wrap.on .option{display:block;margin:3px 0 0;z-index:1;}
.selecte_head {padding-top:13px;width:100%;}
.select_wrap.on .selecte_head {}
.selecte_head a {display:inline-block;height:22px;background:#fff;border:1px solid #9b9b9b;border-radius:10px;}
.selecte_head a span {display:block;float:left;padding-left:44px;line-height:22px;color:#0081f0;}
.selecte_head a.en-us span {background:url("http://heyimg.heykorean.com/2011/images/main/ico_eng.gif") 12px 5px no-repeat;}
.selecte_head a.ko-kr span {background:url("http://heyimg.heykorean.com/2011/images/main/ico_kor.gif") 12px 5px no-repeat;}
.select_wrap .option {display:none;position:absolute;right:0;bottom:105px;min-width:1px;}
.select_wrap .option ul {padding:2px 0;background:#fff;border:2px solid #1c7fd3;border-radius:5px;}
.select_wrap .option ul li {position:relative;padding:2px 21px 2px 49px;text-align:left;}
.select_wrap .option ul li.ko-kr {background:url("http://heyimg.heykorean.com/2011/images/main/ico_kor.gif") 12px 5px no-repeat;}
.select_wrap .option ul li.en-us {background:url("http://heyimg.heykorean.com/2011/images/main/ico_eng.gif") 12px 5px no-repeat;}
.select_wrap .option ul li:hover, .select_wrap .option ul li:focus {color:#0081f0;}
.select_wrap .option ul li input {position:absolute; left:0;top:0;opacity:0;}
.location_con {position:absolute;top:45px;display:none;width:100%;background:#fff;border:3px solid #1c7fd3;border-radius:5px;z-index:1;}
.location_con .container > a {position:absolute;right:30px;top:20px;}
.location_con .container > a img {width:30px;height:30px;}
.s_gnb.on .location_con {display:block;padding-bottom:40px;z-index:2;}
.gnb {float:right;}
.location_con div {position:relative;padding:15px 15px 20px;}
.location_con table {}
.location_con table tr:first-child th {font-size:16px;color:#1c7fd3;text-align:left;border-bottom:1px dashed #e6e6e6;}
.location_con table th {padding:13px 0;text-align:left;color:#000;font-size:14px;font-weight:bold;}
.location_con table th.t_width {width:20%;}
.location_con table th a {color:#000;}
.location_con table td {padding:3px 0;text-align:middle;}
a.btn_log {float:right;margin:8px 0 0 0;padding:0 8px;height:16px;/* width:55px; */color:#0081f0;line-height:16px;text-align:center;text-decoration:none;background:#fff;border:3px double transparent;border-radius:10px;/* box-shadow:#000 3px 3px 8px; */}
.menu {float:right;margin-right:-1px;font-size:0;line-height:0;}
div.menu a {display:inline-block;padding:0 4px;height:36px;line-height:36px;font-size:11px;color:#fff;text-decoration:none;text-transform:uppercase;}
div.menu a:first-child {background:none;}
.lang {display:inline-block;padding:0 13px;vertical-align:top;}
.lang a {padding:0 4px;vertical-align:middle;background:none;}
.lang a img {vertical-align:middle;}
.menu a.more {position:relative;padding-right:14px;}
.menu a.more:after {position:absolute;right:0;top:15px;display:block;content:"";width:8px;height:5px;background:url('../images/bg_more.png') right 0 no-repeat;}
.menu a.more.on:after {background-position:right -6px;}
.more_wrap {position:absolute;right:65px;top:36px;display:none;padding:10px;box-sizing:border-box;background:#fff;border:1px solid #aaa;z-index:3;}
.more_wrap ul {overflow:hidden;margin:0 -1px;width:280px;}
.more_wrap li {position:relative;display:inline-block;}
.more_wrap li a {color:#000;}
.more_wrap li:after {position:absolute;top:12px;left:-1px;display:block;content:"";width:1px;height:12px;background:#d9d9d9;}
.more_wrap li.first:after {background:none;}
.more_wrap li.last {color:#1c7fd3;}
.p-translate {float:right;margin:5px 0 0 10px;}
#ml_pop {padding-bottom:40px;width:100%;background:#fff;border:3px solid #1c7fd3;border-radius:5px;z-index:1;}
.container > li {position:relative;padding:15px 15px 0;}
.container > li:after {display:block;content:"";clear:both;}
.container > li > dl:first-child {width:100%;}
.container > li .country {padding:13px 0;font-size:16px;color:#1c7fd3;text-align:left;font-weight:bold;border-bottom:1px dashed #e6e6e6;}
.container > li .line {display:none;}
.locate_list dl.ct_wrap {display:table-cell;width:20%;}
.container > li dl.ct_wrap {min-height:115px;}
.container > li dl .state {padding:13px 0;width:100%;color:#000;font-size:14px;font-weight:bold;}
.container > li dl .state a {color:#333;text-decoration:none;}
.container > li dl .state a:hover, .container > li dl .city a:hover {color:#00C;}
.container > li dl .city a {color:#333;text-decoration:none;}
.container > li dl dd {float:none;display:block;padding:3px 0;}
.locate_list {display:table;width:100%;}  
/* //상단 파편화 방지 */

/*
.topsearch {margin-left:15px;padding:3px 4px;height:26px;background:#45b3eb;}
.topsearch input {padding:0 4px;width:150px;height:19px;box-sizing:border-box;font-size:11px;line-height:19px;color:#a8a8a8;vertical-align:middle;border:none;}
.topsearch button img {vertical-align:middle;}
.gnb {overflow:hidden;float:right;margin:0 -1px;padding-top:3px;}
div.gnb a {position:relative;display:inline-block;padding:0 4px;height:17px;line-height:17px;font-size:11px;text-decoration:none;text-transform:uppercase;}
div.gnb > a:after {position:absolute;top:4px;left:-2px;display:inline-block;content:"";width:1px;height:12px;background:#c7c7c7;}
div.gnb a:first-child {background:none;vertical-align:middle;}
.gnb a.more {position:relative;padding-right:14px;}
.gnb a.more:after {position:absolute;right:0;top:15px;display:block;content:"";width:8px;height:5px;background:url('../images/bg_more.png') right 0 no-repeat;}
.gnb a.more.on:after {background-position:right -6px;}
.ico-more {display:inline-block;margin-bottom:-1px;margin-left:5px;width:11px;height:11px;background:url("../images/top_view_more.gif") no-repeat;}
.ico-more.on {background-position:0 -11px;}
a.btn-more {margin-bottom:10px;padding-bottom:10px;}
.more_wrap {display:none;position:absolute;right:65px;top:28px;padding:10px;box-sizing:border-box;background:#fff;border:1px solid #aaa;z-index:3;}
.more_wrap ul {overflow:hidden;margin:0 -1px;width:280px;}
.more_wrap li {position:relative;display:inline-block;}
.more_wrap li a {color:#000;}
.more_wrap li:after {position:absolute;top:3px;left:-1px;display:block;content:" ";width:1px;height:12px;background:#d9d9d9;}
.more_wrap li.first:after {background:none;}
.more_wrap li.last {color:#1c7fd3;}
*/

#header {padding:30px 0 5px;}
/*#header {padding:20px 0 5px;}*/
.title-wrapper {float:left;padding-top:10px;}
.title-wrapper img {vertical-align:middle;}
.title-wrapper h1 {display:inline-block;}
.title-wrapper a {margin-left:2px;}
.title-wrapper span {margin-left:5px;font-size:16px;color:#383838;font-weight:bold;vertical-align:bottom;}
.search-box {float:right;margin-top:7px;width:300px;}
.search-box input {padding-right:0;width:205px;height:30px;line-height:30px;-webkit-appearance:none;}
.search-box button {line-height:30px;}

/*.etc-wrapper {float:right;padding-top:10px;}*/
.etc-wrapper {float:right;padding-top:10px;display:none}
.top-logwrap {display:inline-block;padding:0 5px;border:1px solid #e6e6e6;border-radius:2px;}
.top-logwrap.login {background:#f4f4f4;}
.etc-wrapper .my {margin:0 2px;}
.top-logwrap.login .my a:hover {color:#2a9ed5;text-decoration:underline;}
.etc-wrapper .myhk {padding-left:35px;background:url('../images/icon_hk.gif') 0 1px no-repeat;}
.mymemo {padding-left:19px;background:url("../images/icon_note.gif") 0 0 no-repeat;}
.mypage {padding-left:19px;background:url("../images/icon_scrap.gif") 0 0 no-repeat;}
.mywaterdrop {padding-left:18px;background:url("../images/icon_waterdrop.gif") 0 0 no-repeat;}
.etc-wrapper .get {color:#000;}
.etc-wrapper .btn-signin, .btn-log {margin-left:10px;padding:2px 4px;font-size:11px;line-height:14px;color:#515151;letter-spacing:-1px;border:1px solid #8f8f8f;border-radius:2px;box-shadow:1px 1px #b7b7b7;}
/*
.etc-wrapper .lang, .etc-wrapper .lang span {vertical-align:top;}
.etc-wrapper .lang span.flag {overflow:hidden;display:inline-block;margin:0 4px 0 8px;padding-top:2px;width:20px;height:13px;background:url("../images/flag.gif") 0 2px no-repeat;}
.etc-wrapper .lang.english {background-position:0 -15px;}
*/

.t-type01 {}

nav {position:relative;padding-top:20px;border-bottom:4px solid #5cb7e3;}
/*nav {position:relative;border-bottom:4px solid #5cb7e3;}*/
.menu-wrap {float:left;margin-bottom:-3px;}
#menu {margin-bottom:-1px;}
#menu > div {position:relative;float:left;padding:9px 10px 6px 0;font-size:15px;color:#3d3d3d;border-bottom:4px solid #5cb7e3;}
#menu > div:hover, #menu > div.on {border-color:#126dac;}
#menu > div:hover > a, #menu > div.on > a {color:#0a7ebb;}
#menu > div:first-child {background:url('../images/bg_home.gif') 5px 14px no-repeat;}
#menu > div > a {display:block;}
#menu > div > a span {padding-left:10px;font-size:16px;line-height:21px;font-weight:bold;letter-spacing:-1px;border-left:1px solid #dedede;}
#menu > div:first-child > a span {padding-left:22px;border-left:none;}
/*simon zindex from 1 to 10*/
.menu-sub {position:absolute;top:40px;padding:10px;width:172px;background:#fff;border:1px solid #3e97c2;z-index:10;}
.menu-sub a {overflow:hidden;display:block;width:100%;font-size:12px;line-height:22px;color:#000;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;}
.menu-sub a:hover {text-decoration:underline;}
.ask-share {float:right;padding-top:5px;}
.ask-share a {position:relative;display:inline-block;padding:0 5px 0 17px;font-size:15px;line-height:22px;color:#2471ac;font-weight:bold;background-color:#dff0f7;border:1px solid #c7e3f9;border-radius:2px;}
.ask-share a:hover {color:#fff;background-color:#5cb7e3;border-color:#1f91e9;}
.ask-share span {position:absolute;}
.btn-ask span {left:5px;top:5px;overflow:hidden;display:inline-block;width:6px;height:12px;background-image: url('../images/bg_ask.png');background-repeat:no-repeat;}
a.btn-ask:hover span {background-position:0 -12px;}
.btn-share span {left:2px;top:7px;overflow:hidden;display:inline-block;width:13px;height:8px;background-image: url('../images/bg_share.png');background-repeat:no-repeat;}
a.btn-share:hover span {background-position:0 -8px;}
.mentoring-notice {position:relative;padding:9px 0 7px 20px;height:36px;box-sizing:border-box;}
.top-notice, .mentoring-notice .location {float:left;}
.mentoring-notice .location {}
.mentoring-notice .location a {padding:0 4px 0 2px;}
.mentoring-notice .location a:hover {color:#2a9ed5;}
.mentoring-notice .location a:first-child {padding-left:13px;background:url("../images/bg_locatehome.gif") 0 5px no-repeat;}
.top-notice h3 {display:inline-block;margin-right:7px;padding:0 4px;line-height:16px;color:#00a7f4;font-weight:bold;vertical-align:middle;border:1px solid #ccc;border-radius:2px;box-shadow:1px 1px #ddd;}
.top-notice a {overflow:hidden;display:inline-block;width:700px;color:#333;line-height:16px;white-space:nowrap;text-overflow:ellipsis;word-break:break-all;vertical-align:middle;}
.top-notice a:hover {color:#2a9ed5;}
.newly-wrap {float:right;min-width:236px;}
.newly-wrap span {font-size:14px;font-weight:bold;color:#1175c3;letter-spacing:-1px;}
.newly-wrap .newly {color:#7f7f7f;}
.newly-wrap .announcement {display:inline-block;padding:0 3px;color:#b3784c;border:1px solid #cccbc9;border-radius:3px;vertical-align:middle;}
.newly-wrap p {overflow:hidden;display:inline-block;width:190px;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;vertical-align:middle;}
.newly-wrap p a:hover {color:#2a9ed5;}

/* level icon */
.level {background-image:url('../images/icon_grade.png');background-repeat:no-repeat;}
.level01 {background-position:center 0}
.level02 {background-position:center -17px;}
.level03 {background-position:center -34px;}
.level04 {background-position:center -51px;}
.level05 {background-position:center -67px;}
.level06 {background-position:center -84px;}
.level07 {background-position:center -101px;}
.level08 {background-position:center -118px;}
.level09 {background-position:center -135px;}
.level10 {background-position:center -152px;}
.level11 {background-position:center -169px;}
.level12 {background-position:center -186px;}
.level13 {background-position:center -214px;}

.btn-list {position:absolute;display:block;width:14px;height:14px;background:url("../images/bg_prenext.gif") 0 0 no-repeat;border:1px solid #b9b9b9;}
.btn-listpre {background-position:0 0;border-right:none;}
.btn-listnext {background-position:0 -14px;}

.aside {float:right;margin-bottom:100px;width:238px;}
.aside .most {position:relative;margin-bottom:16px;}
.aside h3 {font-size:14px;line-height:36px;font-weight:bold;color:#202020;letter-spacing:-1px;}
.aside h3 span {color:#37a3e3;}
.aside .most li {line-height:32px;}
.aside .answered-questions li {border-bottom:1px solid #e5e5e5;}
.aside .most li:first-child {border-top:1px solid #e5e5e5;}
.aside .most li span, .aside .most li a {display:inline-block;vertical-align:middle;}
.aside .most li .num {width:20px;text-align:center;color:#454545;font-weight:bold;}
.aside .most li:first-child .num {color:#f4661e;}
.aside .most li a {overflow:hidden;width:175px;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;}
.aside .most li .comment {margin-left:3px;color:#89653d;}
.aside .most ul li {padding-left:13px;background:url('../images/gray-squre.gif') 4px 16px no-repeat}
.aside .most.recommended-sharing li a {width:220px;}
.aside .most .more {position:absolute;right:5px;top:9px;font-size:11px;color:#7a7a7a;text-decoration:underline;}
#container.sub {float:left;width:884px;}

.btn-sponsorad {padding:15px 0;text-align:center;}
.btn-sponsorad a {display:inline-block;min-width:72px;line-height:26px;font-weight:bold;border-width:1px;border-style:solid;border-radius:3px;}
.btn-sponsorad .style01 {color:#415e8f;background:#c3dbfa;border-color:#b3bfd2;}
.btn-sponsorad .style02 {color:#8a6439;background:#faedde;border-color:#e0c9af;}

/* layerpopup */
.layerpopup-wrap01 {position:fixed;left:0;top:0;width:100%;height:100%;z-index:1;} 
.layerpopup-wrap01 .bg {position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.6);}
.layerpopup-wrap01 .layerpopup-con {position:absolute;left:50%;top:50%;margin:-300px 0 0 -400px;padding-top:70px;width:800px;height:600px;background:rgba(255, 255, 255, 1);border:2px solid #5cb7e3;border-radius:5px;}
.layerpopup-wrap01 .close {position:absolute;right:20px;top:20px;}
.layerpopup-wrap01 .close img {width:30px;}
.img-debate {display:block;margin:0 auto;width:450px;height:450px;}

/* footer */
#footer {position:relative;width:100%;min-width:1144px;margin-top:110px;height:63px;box-sizing:border-box;border-top:2px solid #9b9b9b;clear:both;}
#footer:after {display:block;content:"";clear:both;}
.footer_con {overflow:hidden;margin:0 auto;padding:15px 0 30px 15px;width:1144px;box-sizing:border-box;}
.policy {float:left;}
.policy a {display:inline-block;padding:0 6px 0 7px;height:12px;line-height:12px;border-left:1px solid #dedede;}
.policy a:first-child {padding-left:0;border-left:none;}
.footer_con p {float:right;font-size:10px;}

@media only screen and (max-width:1023px){
	#wrap {padding:0 10px;box-sizing:content-box;}
}
.step03_select {
	line-height: 40px;
}
ol, ul, li {
	list-style: none;
}
.step03_select li {
	display: inline-block;
	padding: 0 60px 0 0;
	font-size: 15px;
	color: #535353;
}
label, button {
	cursor: pointer;
}