.disNone {display:none;}
.p-pointer {cursor:pointer;}
div#top {padding-bottom:5px;}

/*
ul li p .p-date{margin:20px 0 -5px;text-align:center;}
ul li p .p-date{display:inline-block;padding:0 8px;font-size:11px;color:#fff;background:#3286e6;opacity:.9;border-radius:10px;}
*/

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 0px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 150px;
}

/*dd.pass_time {float:left;}*/

.product_list li div a.settoselling {width:130px;color:#333;border:1px solid #333;}


.p-loader-center {
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index:10;
    width:80px;
    opacity:0.8;
}


.market-topbanner {position:relative;padding:0 5px;min-width:1144px;width:100%;background:#e0f3ff;display:none;}
.market-topbanner img {display:block;width:100%;}
.topbanner-close {position:absolute;left:3%;top:44%;margin-top:-5px;width:3%;cursor:pointer;}
.topbanner-close img {width:100%;}
.topbanner-download {position:absolute;top:44%;right:5%;margin-top:-35px;width:19%;}
.topbanner-download img {width:100%;}

.copy-link {
    float:right;
    font-size:12px;
    width:280px;
    display:inline-block;
    vertical-align: middle;
    line-height:33px; /*border:1px solid black;*/
}
.copy-url {
    width:20px;
    float:right;
    padding: 8px 4px 0 2px;
    /*border:1px solid black;*/
}

.page_location {
    /*display:inline-block;*/
    vertical-align: middle;
    /*border:1px solid black;*/
    /*line-height:33px;*/
    height:33px;
}