.top-con {position:relative;}
.search-wrap, .main-debate {float:left;padding:23px 15px 20px 170px;width:886px;background:url('../images/bg_search.jpg') 11px 14px no-repeat;border:1px solid #ccc;}
.search-wrap p {padding-bottom:19px;font-size:24px;font-weight:bold;}
.search-con, .search-box {width:660px;border:1px solid #329fd2;}
.search-wrap input, .search-box input {float:left;padding:0 10px;width:565px;height:40px;box-sizing:border-box;line-height:normal;border:none;outline:none;-webkit-appearance:none;}
.search-wrap input:focus, .search-box input:focus {outline:none;}
.search-con button, .search-box button {float:right;width:88px;font-size:18px;line-height:40px;color:#fff;background:#5cb7e3;}
.login-wrap {position:relative;float:right;padding:7px 12px 12px;width:238px;border:1px solid #ccc;}
.aside .login-wrap {float:none;margin-bottom:16px;}
.login-wrap h3 {color:#3f3f3f;font-size:13px;line-height:22px;font-weight:bold;letter-spacing:-1px;background:url('../images/bg_login.gif') 111px 5px no-repeat;}
.login-input {float:left;width:143px;}
.login-input input {margin:2px 0;padding:0 5px;width:133px;box-sizing:border-box;}
.login-save {float:right;width:65px;}
.login-save label {line-height:22px;color:#474747;}
.login-save input {margin-right:3px;}
.login-save button {margin-top:7px;padding:0 12px;font-size:13px;line-height:18px;box-shadow:1px 1px #b7b7b7;border:1px solid #919191;}



.main-debate {position:relative;margin-bottom:-101px;padding:15px;background:none;}
.main-debate .more {position:absolute;right:15px;top:15px;color:#a1a1a1;text-decoration:underline;}
.main-debate .debate-title a {overflow:hidden;display:inline-block;width:700px;font-size:16px;line-height:21px;font-weight:bold;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;vertical-align:middle;}
.main-debate .debate-title a:hover {color:#2a9ed5;}
.main-debate .debate-title .date, .main-debate .debate-title .location  {display:inline-block;padding-left:10px;font-size:11px;color:#a1a1a1;vertical-align:middle;}
.debate-wrap {display:table;padding-top:10px;width:100%;}
.debate-wrap li {position:relative;display:table-cell;padding:1% 3% 0;width:20%;vertical-align:top;}
.debate-wrap li .num {position:absolute;left:3px;top:0;display:block;width:20px;text-align:center;color:#5cb7e3;font-weight:bold;border:1px solid #5cb7e3;border-radius:50%;}
.debate-wrap li .debate-img {overflow:hidden;display:block;margin:0 auto;width:100px;height:100px;text-align:center;}
.debate-wrap li .debate-img img {width:100%;height:auto;}
.debate-wrap li p {overflow:hidden;padding:8px 0;width:115px;font-size:14px;font-weight:bold;text-align:center;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;}
.debate-wrap li a {display:block;padding-left:20px;border:1px solid #dcdcdc;background:url('../images/bg_debate.gif') 4px 5px no-repeat;border-radius:5px;}
.debate-wrap li a span {position:relative;display:inline-block;padding: 0 8px;}
.debate-wrap li a span:after {position:absolute;right:0;top:5px;display:block;content:"";width:1px;height:10px;background:#dcdcdc;}
.debate-wrap li a strong {display:inline-block;padding-left:8px;width:30px;text-align:center;color:#f33f00;}

.my-nickname {font-size:16px;line-height:21px;}
.my-nickname:hover {display:block;color:#2a9ed5;}
.login-wrap dl {margin-left:-5px;}
.my-nickname + div {overflow:hidden;margin-bottom:-10px;padding:6px 0 7px;width:217px;}
.login-wrap dl dt, .login-wrap dl dd {display:inline-block;font-size:12px;line-height:20px;letter-spacing:-1px;}
.login-wrap dl dt {position:relative;padding-left:5px;width:25%;box-sizing:border-box;color:#3d3d3d;}
.login-wrap dl dd {width:14%;}
.login-wrap dl dd a {color:#2a9ed5;}
.login-wrap dl dt:after {position:absolute;left:0;top:5px;display:inline-block;content:"";width:1px;height:12px;background:#d9d9d9;}
.login-wrap dl dd .level {display:inline-block;margin-right:5px;margin-left:-3px;padding-top:4px;width:17px;height:14px;vertical-align:middle;}
.login-wrap dl dd .level + a {display:inline-block;}
.login-wrap .btn-mymentoring {position:absolute;right:13px;top:10px;font-size:11px;color:#ababab;text-decoration:underline;}
.login-wrap .btn-log {position:absolute;right:13px;bottom:8px;}



.signup-wrap {padding:13px 0 0;clear:both;}
.signup-wrap button, .signup-wrap a {line-height:12px;letter-spacing:-1px;}
.signup-wrap button {color:#4cabd7;font-weight:bold;}
.signup-wrap a {margin-left:5px;padding-left:5px;color:#343434;border-left:1px solid #d9d9d9;}
.signup-wrap a:hover {color:#2a9ed5;}
.most-wrap {position:relative;margin:16px 0;}
.most-qa {position:relative;float:left;padding:14px 30px 20px 15px;width:886px;border:1px solid #ccc;}
.most-qa h3 {float:left;padding-right:15px;width:130px;font-size:15px;line-height:27px;color:#343434;font-weight:bold;letter-spacing:-1px;}
.most-qa .btn-list {top:16px;}
.most-qa .btn-listpre {right:26px;}
.most-qa .btn-listnext {right:10px;}
.qna-list {overflow-y:hidden;float:left;width:674px;height:50px;}
.qna-list li {margin-bottom:4px;height:25px;line-height:25px;}
.qna-list li:after {display:block;content:"";clear:both;}
.qna-list li div {float:left;height:25px;}
.qna-list li div .category {overflow:hidden;display:inline-block;max-width:90px;white-space:nowrap;text-overflow:ellipsis;word-break:break-all;color:#ababab;}
.qna-list li div a {overflow:hidden;display:inline-block;max-width:430px;white-space:nowrap;text-overflow:ellipsis;word-break:break-all;}
.qna-list li div a:hover, .most-keywords li a:hover {color:#2a9ed5;}
.qna-list li div .count-comment {vertical-align:top;color:#a47b5d;}
.qna-list li .date {float:right;padding-left:18px;font-size:11px;color:#ababab;background:url("../images/bg_qnadate.gif") 0 8px no-repeat;}
.most-keywords {position:relative;float:right;padding:10px 15px 19px 13px;width:238px;line-height:27px;border:1px solid #ccc;}
.most-keywords h3 {font-size:15px;color:#5d5d5d;font-weight:bold;letter-spacing:-1px;}
.most-keywords ul {overflow:hidden;margin-top:5px;height:23px;}
.most-keywords li {line-height:23px;}
.most-keywords li .ranking {display:inline-block;margin-right:10px;padding:0 2px;font-size:10px;line-height:10px;color:#22a6f1;font-weight:bold;background:#f4eaf2;border:1px solid #51c6e7;border-radius:3px;}
.most-keywords li a {overflow:hidden;display:inline-block;width:150px;vertical-align:middle;white-space:nowrap;word-break:break-all;text-overflow:ellipsis;}
.most-keywords .btn-list {top:16px;}
.most-keywords .btn-listpre {right:26px;}
.most-keywords .btn-listnext {right:10px;}
.keyword-count {float:right;width:30px;text-align:center;color:#ababab;}

.mentor-main {margin:0 -2px;}
.mentor-category {position:relative;float:left;margin-right:20px;padding:0 8px;width:160px;border:1px solid #e7e7e7;}
.mentor-category h3 {padding-top:6px;font-size:14px;line-height:34px;font-weight:bold;color:#383838;border-bottom:1px solid #e6e6e6;}
.category-list {padding:10px 0 75px;}
.category-list a {position:relative;display:block;margin:0 -8px;padding:0 8px;}
.category-list a span {overflow:hidden;display:block;width:142px;line-height:26px;white-space:nowrap;text-overflow:ellipsis;word-break:break-all;}
.category-list a.on, .category-list a.active {color:#fff;background:#5cb7e3;}
.category-list a.on:after, .category-list a.active:after {
	position:absolute;right:-9px;top:4px;display:inline-block;content:"";width:18px;height:18px;color:#252525;background:#5cb7e3;z-index:1;
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
}
.category-list .surbeytype-mosaic {background:url('../images/bg_survey01.gif') right 8px no-repeat;}
.category-list .surbeytype-list {background:url('../images/bg_survey02.gif') right 8px no-repeat;}
.category-list .surbeytype-vs {margin-bottom:20px;background:url('../images/bg_survey03.gif') right 8px no-repeat;}
.nanumi {margin:0 -4px;}
.apply-position h3 {letter-spacing:-2px;}
.apply-position ul {padding:10px 0 20px;}
.apply-position li {padding-left:6px;line-height:22px;letter-spacing:-1px;background:url('../images/gray-squre.gif') 0 13px no-repeat;}
.apply-position li span {display:inline-block;width:25px;height:20px;vertical-align:middle;}
.apply-position li a {line-height:20px;vertical-align:middle;}
.help-contact {position:absolute;bottom:-50px;margin:0 -8px;font-size:0;line-height:0;}
.help-contact a {float:left;padding:0 4px;font-size:14px;line-height:24px;font-weight:bold;letter-spacing:-1px;border-radius:3px;}
.help-contact .btn-helpdesk {margin-right:6px;color:#3c537a;background:#fcfdfe;border:2px solid #a2b8dc;}
.help-contact .btn-contactus {color:#396d83;background:#fbfdfe;border:2px solid #a0cee3;}
.main-aside {float:right;width:240px;}
.btn-mainask {display:block;margin-bottom:10px;font-size:19px;line-height:50px;text-align:center;color:#fff;background:#5cb7e3;border:1px solid #37a3e3;}
.main-ad {display:block;margin-bottom:10px;}
.best-qna {position:relative;margin-bottom:10px;border:1px solid #e6e6e6;}
.best-qna h3 {height:49px;background:url("../images/best_qna.jpg") 0 0 no-repeat;}
.best-qna ul {padding:0 3px;}
.best-qna ul li {padding-left:25px;background:url('../images/bg_bullet.gif') 11px 13px no-repeat;border-top:1px dashed #e4e4e4;}
.best-qna ul li:first-child {border-top:none;}
.best-qna ul li a {overflow:hidden;display:block;width:192px;line-height:29px;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;}
.best-more {position:absolute;right:15px;top:23px;text-decoration:underline;}
.about-nanumi {margin-bottom:10px;}
.about-nanumi .tab-title {display:table;width:100%;border-top:1px solid #e0e0e0;}
.about-nanumi .tab-title a {display:table-cell;width:20%;line-height:28px;text-align:center;color:#b9b9b9;background:#f9f9f9;border-right:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.about-nanumi .tab-title a.on {color:#525252;background:#fff;border-bottom:none;}
.about-nanumi .tab-con {padding:10px;border:1px solid #e0e0e0;border-top:none;}
.about-nanumi .tab-con dt, .about-nanumi .tab-con dd {display:inline-block;}
.about-nanumi .tab-title a:first-child {border-left:1px solid #e0e0e0;}
.about-nanumi .img-thumb {float:left;width:77px;height:77px;}
.img-thumb img {width:100%;height:100%;}
.about-nanumi .info-mentor {float:right;width:135px;}
.about-nanumi .mentor-nickname {line-height:19px;}
.about-nanumi .mentor-cate {overflow:hidden;width:135px;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;}
.about-nanumi dt.level-points {color:#828282;}
.about-nanumi dt.level-points:after {display:inline-block;content:"";margin-left:4px;width:1px;height:10px;background:#dadada;vertical-align:middle;}
.about-nanumi dd.level-points {color:#009abb;}
.about-nanumi dd.level-points span {display:inline-block;margin-top:-2px;margin-right:3px;width:17px;height:16px;vertical-align:middle;}
.explain-mentor {padding-top:10px;clear:both;}
.about-nanumi a.btn-gomore {display:block;margin-top:15px;color:#ec5911;text-align:center;font-weight:bold;}
.about-nanumi a.btn-gomore span {display:inline-block;margin-left:6px;width:8px;height:8px;background:url("../images/bg_btngomore.gif") 0 0 no-repeat;}
.about-best {position:relative;margin-bottom:10px;}
.about-best .more {position:absolute;right:8px;top:32px;color:#7a7a7a;text-decoration:underline;}
.about-best .tab-title {}
.about-best .tab-title a {float:left;width:50%;box-sizing:border-box;line-height:28px;color:#707070;text-align:center;font-weight:bold;background:#f3f3f3;border:1px solid #e0e0e0;border-left:none;border-radius:5px 5px 0 0;}
.about-best .tab-title a:first-child {border-left:1px solid #e0e0e0;}
.about-best .tab-title a.on {color:#3d3d3d;background:#fff;border-bottom:none;}
.about-best .tab-con {margin-top:-1px;padding:20px 0 7px;border:1px solid #e0e0e0;border-top:none;}
.about-best .tab-con li {padding:5px 0;clear:both;border-top:1px solid #e0e0e0;}
.about-best .tab-con li:first-child {border-top:none;}
.about-best .best-num {float:left;width:28px;height:35px;line-height:35px;text-align:center;}
.about-best .img-thumb {float:left;margin-right:6px;width:33px;height:33px;border:1px solid #bcbcbc;}
.mento-leaders {float:left;width:160px;}
.about-best .nickname {color:#a47b5d;}
.about-best dl {}
.about-best dl dt, .about-best dl dd {display:inline-block;font-size:11px;}
.about-best dl dt {}
.about-best dl dt:after {display:inline-block;content:"";margin-left:5px;width:1px;height:10px;background:#d7d7d7;vertical-align:middle;}
.about-best dl dd {margin-left:-4px;vertical-align:middle;}
.about-best dl dd.level {width:23px;height:18px;}
.about-best dl dd.best-points {overflow:hidden;padding-left:3px;width:60px;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;}
.sponsor-ad h3 {margin-bottom:10px;font-size:14px;font-weight:bold;color:#f08652;}
.sponsor-ad h3 span {color:#5b5b5b;}
.sponsor-ad img {display:block;margin:0 auto;}

.mentoring-con {float:left;width:707px;}
.mentoring-con.advice {width:890px;}
.mentoring-board {position:relative;}
.mentoring-board .more {position:absolute;right:5px;top:16px;padding-right:22px;background:url("../images/bg_help.gif") right 2px no-repeat;}
.mentoring-board .more:hover {color:#2a9ed5;text-decoration:underline;}
.mentoring-board .tab-title {border-bottom:1px solid #e6e6e6;}
.mentoring-board .tab-title a {float:left;margin-bottom:-1px;padding:0 25px;min-width:136px;font-size:18px;line-height:37px;text-align:center;color:#787878;font-weight:bold;letter-spacing:-1px;background:#f3f3f3;border:1px solid #e6e6e6;border-left:none;border-radius:10px 10px 0 0;}
.mentoring-board .tab-title a:first-child {border-left:1px solid #e6e6e6;}
.mentoring-board .tab-title a.on, .mentoring-board .tab-title a:hover {margin-bottom:-1px;padding-bottom:1px;color:#252525;background:#fff;border-bottom:none;}
/* .mentoring-board .tab-con {padding-top:7px;} */
.mentoring-board .tab-con {position:relative;padding-top:7px;}
.mentoring-board .tab-con > div {}
.mentoring-board .tab-con th {font-size:11px;line-height:34px;color:#7a7a7a;font-weight:normal;text-align:center;}
.mentoring-board .tab-con th span {display:inline-block;width:12px;height:4px;background:url('../images/array.gif') right 0 no-repeat;vertical-align:middle;}
.mentoring-board .tab-con td {line-height:30px;text-align:center;border-bottom:1px solid #e6e6e6;}
.mentoring-board .tab-con tr:first-child td {border-top:1px solid #e6e6e6;}
.mentoring-board .tab-con td.waterdrop-list {font-size:11px;font-weight:bold;color:#fff;background-image:url('../images/bg_waterdrop.gif');background-repeat:no-repeat;background-position-x:center;}
.mentoring-board .tab-con .waterdrops01 {background-position:center 5px;}
.mentoring-board .tab-con .waterdrops02 {background-position:center -27px;}
.mentoring-board .tab-con .waterdrops03 {background-position:center -60px;}
.mentoring-board .tab-con td .comment-num {padding-left:5px;color:#a47b5d;letter-spacing:1px;vertical-align:middle;}
.mentoring-board .tab-con td .mentor-title {overflow:hidden;display:inline-block;max-width:415px;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;vertical-align:middle;font-weight:bold;}
.mentoring-board .tab-con td.mentor-titlecate span {overflow:hidden;display:block;width:90px;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;}
.mentoring-board .tab-con td > img {padding-top:3px;vertical-align:middle;}
.advice .mentoring-board .tab-con td .mentor-title {max-width:480px;}
.debate-list .tab-con td .mentor-title {max-width:340px;}
.pagewrap {padding:30px 0;text-align:center;}
.pagewrap > a {display:inline-block;margin:0 2px;width:16px;height:18px;background-image:url('../images/bg_btnpage.gif');background-repeat:no-repeat;vertical-align:middle;border:1px solid #bebebe;border-radius:3px;}
.pagewrap .btn-first {background-position:0 2px;}
.pagewrap .btn-pre {background-position:0 -12px;}
.pagewrap .btn-next {background-position:0 -25px;}
.pagewrap .btn-last {background-position:0 -39px;}
.pagewrap .paging {display:inline-block;margin:0 5px;vertical-align:middle;}
.pagewrap .paging a {display:inline-block;margin:0 1px;padding:0 4px;width:auto;min-width:14px;height:19px;font-size:14px;font-weight:bold;color:#333;border:1px solid #fff;}
.pagewrap .paging a:hover , .pagewrap .paging a.on {color:#5cb7e3;border:1px solid #5cb7e3;}
.mentorlist-search {padding-bottom:30px;text-align:center;}
.mentorlist-search button {margin-left:3px;padding:0 18px;line-height:21px;color:#fff;font-weight:bold;background:#767676;border:1px solid #7d7d7d;vertical-align:middle;border-radius:3px;}
.best-today {padding:15px 25px;border:1px solid #f4f4f4;}
.best-today h3 {margin-top:-4px;font-size:14px;line-height:30px;color:#515151;font-weight:bold;letter-spacing:-1px;}
.best-recommended h3 span {color:#eb5e17;}
.today-sharing h3 span {color:#349200;}
.best-recommended {position:relative;float:left;padding-right:25px;width:330px;box-sizing:border-box;border-right:1px solid #f4f4f4;}
.best-recommended .btn-list {top:3px;}
.best-recommended .btn-listpre {right:36px;}
.best-recommended .btn-listnext {right:20px;}
.best-recommended ul {overflow:hidden;height:66px;}
.best-recommended li {padding-left:7px;line-height:30px;background:url('../images/gray-squre.gif') 0 17px no-repeat;}
.best-recommended span, .best-recommended a {overflow:hidden;display:inline-block;vertical-align:middle;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;}
.best-recommended .category {color:#828282;}
.best-recommended .category span {width:54px;}
.best-recommended ul a {width:200px;}
.best-recommended .count-comment {color:#a47b5d;}
.today-sharing {position:relative;float:left;padding-left:25px;width:325px;box-sizing:border-box;}
.today-sharing .btn-list {top:3px;}
.today-sharing .btn-listpre {right:26px;}
.today-sharing .btn-listnext {right:10px;}
.today-sharing ul {overflow:hidden;margin-top:8px;height:54px;}
.today-sharing li {}
.today-sharing li > a {float:left;margin-right:6px;width:32px;height:32px;}
.today-sharing li > a > img  {width:100%;height:100%;}
.today-sharing li div {float:left;}
.today-sharing li div span {display:block;width:100%;line-height:16px;}
.today-sharing li div span:first-child {color:#3d3d3d;}
.today-sharing li div span:first-child a {font-weight:bold;}
.today-sharing li div span {color:#828282;}
.today-sharing li p {overflow:hidden;padding:4px 0 0 6px;width:300px;background:url('../images/gray-squre.gif') 0 12px no-repeat;clear:both;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;}

.qa-box {position:relative;padding:25px 35px 20px;border:1px solid #d1d1d1;}
.qa-title {padding-left:85px;}
.question-title {margin:0 -20px;background:url('../images/bg_question.jpg') 10px 0 no-repeat;}
.debate .question-title {margin:0 -20px;background:url('../images/bg_debate.jpg') 10px 0 no-repeat;}
.qa-title p {padding-bottom:10px;width:655px;min-height:22px;font-size:16px;line-height:22px;font-weight:bold;}
.sharing-title {padding-left:0;}
.sharing-box .qa-title {position:relative;padding-left:0;}
.sharing-box .qa-title > span {float:left;margin-top:-26px;margin-right:25px;padding-top:26px;width:61px;height:67px;font-size:16px;line-height:29px;text-align:center;color:#fff;font-weight:bold;background:url('../images/bg_sharing.jpg') 0 0 no-repeat;}
.sharing-box .qa-title  > div {float:left;}
.sharing-box .comment-box {margin-top:30px;}
.qa-title p .waterdrop-list {display:inline-block;margin-left:7px;width:23px;height:20px;font-size:11px;color:#fff;text-align:center;background:url('../images/bg_waterdrop.gif') 0 0 no-repeat;}
.qa-title p .waterdrops02 {background-position:0 -32px;}
.qa-title p .waterdrops03 {background-position:0 -64px;}
.qa-title .writer {margin-right:20px;color:#3d3d3d;}
.qa-title .date, .qa-title .area, .qa-title .hits {margin-right:20px;color:#a1a1a1;}
.expired {color:red;letter-spacing:-1px;}
.qa-box .btn-helpful {position:absolute;right:17px;top:20px;padding:2px 0;width:84px;height:50px;box-sizing:border-box;font-size:19px;font-weight:bold;color:#ff4c0d;background:url('../images/bg_helpful.gif') 3px 21px no-repeat;border:1px solid #e4e4e4;border-radius:5px;}
.qa-box .btn-helpful span {display:block;text-align:center;}
.qa-box .btn-helpful span:first-child {padding-bottom:4px;font-size:12px;color:#7f7f7f;font-weight:normal;}
.qa-box .btn-helpful:hover .count {color:#2a9ed5;}
.qa-box .replied {position:absolute;left:16px;top:85px;width:70px;text-align:center;}
.qa-box .replied span {display:inline-block;padding:0 6px;border:1px solid #e4e4e4;border-radius:3px;}
.qa-box .qa-con {padding:50px 0 40px;}
.qa-con img { max-width: 100%; }
.qa-box .report-source {position:relative;}
.qa-box .report-source div {float:left;display:table;width:700px;}
.qa-box .report-source div p, .qa-box .report-source div span {display:table-cell;}
.qa-box .report-source div span {margin-right:10px;padding:0 5px;width:50px;line-height:20px;text-align:center;border:1px solid #d1d1d1;border-radius:3px;}
.qa-box .report-source div p {padding-left:10px;}
.qa-box .report-source a {float:right;color:#a1a1a1;font-weight:bold;}
.qa-box .report-source a span {color:#ff0101;}
.qa-box .earn-points {font-size:11px;line-height:18px;color:#666;}
.qa-box .earn-points img, .qa-box .earn-points span {vertical-align:middle;}
.qa-box .earn-points .earn-waterdrop {padding-left:3px;color:#2a9ed5;}
.qa-box .what-about {padding-top:15px;}
.qa-box .what-about a, .what-about a img {vertical-align:middle;}
.qa-box .what-about a:first-child {padding-right:7px;font-size:11px;border-right:1px solid #737373;}
.qa-box .what-about a:first-child img {}
.debatestyle {position:relative;margin-top:100px;}
.mosaic {border-top:1px solid #d1d1d1;border-right:1px solid #d1d1d1;}
.mosaic .item-con {float:left;position:relative;padding:10px;width:405px;border-left:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1;}
.mosaic .item-con .num {float:left;font-size:28px;color:#848484;font-weight:bold;}
.mosaic .item-con:first-child .num, .vs .item-con:first-child .num {color:#FF4C0D;}
.mosaic .item-con > a {float:left;margin:0 10px;width:170px;}
.mosaic .item-con > a img, .item-con > a span {display:block;width:100%;}
.item-con > a span, .vs .debate-content p {overflow:hidden;padding-top:5px;font-size:16px;font-weight:bold;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;}
.mosaic .item-con > a:hover span {text-decoration:underline;}
.mosaic .item-con .item-rate {float:left;}
.mosaic .item-con .item-rate .votes-rate {font-size:20px;color:#FF4C0D;font-weight:bold;}
.mosaic .item-con .item-rate .votes-rate + span {padding-left:5px;color:#A1A1A1;}
.mosaic .item-con .rate-bar {position:relative;margin:15px -1px 20px;width:170px;height:26px;/* order:1px solid #d6d6d6; */}
.mosaic .item-con .rate-bar div {position:absolute;left:-1px;top:-1px;margin:0 1px;height:26px;box-sizing:content-box;background:#FF4C0D;}
.mosaic .item-con .item-rate .btn-vote {margin-bottom:10px;}
.item-con .btn-vote a {display:inline-block;padding:0 30px 0 38px;height:40px;font-size:18px;line-height:40px;font-weight:bold;background:url('../images/bg_btnvote.gif') 10px 15px no-repeat;border:1px solid #737373;border-radius:3px;}
.mosaic .item-con .item-rate .magnify-image {display:inline-block;padding:0 5px 0 20px;line-height:22px;background:url("../images/icon_magnifying.gif") 3px 6px no-repeat;border:1px solid #737373;border-radius:3px;}
.list .vote01, .list .vote02 {width:300px;}
.list .vote01 {float:left;}
.list .vote02 {float:right;}
.list .item-con .vote-rate {display:block;padding-top:20px;font-size:20px;text-align:center;font-weight:bold;}
.vote01 .vote-rate {color:#ea4200;}
.vote02 .vote-rate {color:#0081d4;}
.list .thumb img {display:block;margin-bottom:10px;width:100%;}
.list .btn-vote {padding-top:20px;text-align:center;}
.list > span {position:absolute;left:50%;top:30%;margin-left:-106px;width:212px;font-size:36px;color:#5cb7e3;font-weight:bold;text-align:center}
.list .progress-wrap {position:relative;margin:0 auto;width:300px;height:26px;background:#5cb7e3;clear:both;}
.list .progress-wrap div {position:absolute;left:0;top:0;height:26px;background:#ff510d;}
.vs .item-con {display:table;width:100%;}
.vs .num, .vs .thumb, .vs .debate-content, .vs .btn-vote {display:table-cell;vertical-align:middle;}
.vs .num {font-size:28px;color:#848484;font-weight:bold;}
.vs .thumb {padding:7px;width:150px;}
.vs .thumb img {width:100%;}
.vs .item-con {border-bottom:1px solid #d1d1d1;}
.vs .item-con:first-child {border-top:1px solid #d1d1d1;}
.vs .debate-content {}
.vs .debate-content p {margin-bottom:10px;width:460px;}
.vs .debate-content .progress-wrap {position:relative;display:inline-block;margin-right:10px;width:300px;height:30px;background:#5cb7e3;}
.vs .debate-content .progress-wrap div {position:absolute;left:0;top:0;height:30px;background:#ff510d;}
.vs .progress-wrap, .vs .votes-rate {vertical-align:middle;}
.vs .votes-rate {font-size:16px;color:#FF4C0D;font-weight:bold;}
.vs .votes-rate + span {padding-left:5px;color:#A1A1A1;vertical-align:middle;}
.vs .btn-vote {}

.answer-box {margin-top:-1px;}
/*.answer-box .question-title {background:url('../images/icon_answer.png') 20px 0 no-repeat;}*/
.answer-box .question-title.answertitle {background:none}
.answer-box .question-title:before {content: "";
	background: url('../images/icon_answer.png') 20px 0 no-repeat;
	width: 61px;
	height: 60px;
	position: absolute;
	top: 24px;
	left: 17px;
	display: block;}
.answer-box .select02 {background-position:20px -60px;}
.answer-box .select03 {background-position:20px -120px;}
.answer-box .select04 {background-position:20px -180px;}
.answer-box .thanks-comment {display:table;margin-top:60px;padding:15px 20px;width:100%;border:1px solid #d1d1d1;}
.answer-box .thanks-comment strong, .answer-box .thanks-comment p {display:table-cell;}
.answer-box .thanks-comment strong {padding-right:20px;width:50px;color:#ff4c0d;}
.answer-box .thanks-comment strong {color:#3d3d3d;}
.btn-comment {margin:30px 0 10px;padding:0 35px 0 5px;line-height:24px;font-weight:bold;background:url('../images/bg_btncomment.gif') 71px 7px no-repeat;border:1px solid #737373;border-radius:3px;}
.comment-box {padding:15px 10px;border:solid 1px #eaeaea;}
.comment-box .select-box {padding:10px 0 10px 80px;}
.comment-box .select-box label {margin-right:8px;}
.comment-box .select-box label input {margin-right:3px;}
.comment-box .write-box {}
.comment-box .write-box img {width:73px;height:73px;vertical-align:top;}
.comment-box .write-box textarea {overflow-y:auto;padding:10px 15px;width:630px;height:72px;box-sizing:border-box;border:solid 1px #d6d6d6;vertical-align:top;}
.comment-box .write-box textarea + button {width:74px;height:74px;line-height:74px;text-align:center;border:solid 1px #d6d6d6;border-radius:5px;vertical-align:top;}
.comment-box .write-box + label {padding:5px 0 0 77px}
.comment-box .write-box + label input {margin-right:5px;}

.btn-mentorbox {padding:25px 0 10px;}
.btn-mentorbox a {display:inline-block;margin-right:3px;padding:0 6px;line-height:24px;color:#383838;border:1px solid #d1d1d1;border-radius:3px;}
.btn-mentorbox a img {margin-left:5px;vertical-align:middle;}

.writeanswer-box {padding:20px 30px;border:2px solid #5cb7e3;}
.writeanswer-box + .answer-box {margin-top:-2px;border-top:none;}
.writeanswer-box .answer-title {padding:20px 0 30px 50px;background:url('../images/bg_answer.jpg') 0 6px no-repeat;}
.writeanswer-box .answer-title span {font-size:14px;color:#343434;font-weight:bold;}
.writeanswer-box .answer-title input {margin-left:10px;padding:3px;width:705px;box-sizing:border-box;}
.writeanswer-box .source-wrap {padding:10px 0;}
.writeanswer-box .chk-private {text-align:right;}
.writeanswer-box .btn-post {display:block;margin:0 auto;padding:0 25px;color:#fff;font-size:16px;line-height:30px;font-weight:bold;background:#5cb7e3;border:1px solid #37a3e3}
.otherlist-wrap {}
.other-list {padding:20px 30px;}
.other-list .otherlist-title {position:relative;padding:10px 10px 10px 0;}
.other-list h3 {float:left;padding-left:10px;font-weight:bold;background:url('../images/bg_otherlist.gif') 0 4px no-repeat;}
.other-list .more {float:left;margin-left:8px;padding:0 4px;line-height:17px;vertical-align:middle;border:1px solid #c9c9c9;border-radius:3px;}
.other-list .more1 {float:left;margin-left:8px;padding:0 4px;line-height:17px;vertical-align:middle;border:1px solid #c9c9c9;border-radius:3px;}
.other-list ul {}
.other-list ul li {position:relative;padding-left:10px;line-height:20px;background:url('../images/gray-squre.gif') 2px 7px no-repeat;}
.other-list ul li:after {display:block;content:"";clear:both;}
.list-title {float:left;}
.list-title a {overflow:hidden;display:inline-block;max-width:550px;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;}
.list-title span {padding-left:5px;color:#89653d;}
.list-date, .list-area {float:right;width:130px;color:#ababab;text-align:center;}
.list-date {width:80px;text-align:center;}
.other-list ul li a {color:#3d3d3d;}

.profile-box {position:relative;margin-top:20px;padding:10px;border:solid 1px #eaeaea}
.profile-box > img {float:left;margin-right:20px;width:93px;height:93px;}
.profile-box > div {float:left;}
.profile-box > div > strong {font-size:14px;line-height:25px;color:#a47b5d;}
.profile-box .profile-level {font-size:13px;}
.profile-box .profile-level .level {display:inline-block;margin:0 8px 0 -15px;width:47px;height:17px;background-image:url('../images/icon_grade.png');background-repeat:no-repeat;vertical-align:middle;}
.profile-box .profile-level .level01 {}
.profile-box .about-profile {float:left;position:relative;padding-top:5px;}
.profile-box .about-profile dl {float:left;}
.profile-box .about-profile dt, .profile-box .about-profile dd {display:inline-block;font-size:13px;line-height:22px;}
.profile-box .progress {margin-right:30px;width:245px;}
.profile-box .progress dt {width:30%;}
.profile-box .progress dd {position:relative;width:65%;font-weight:bold;}
/* .profile-box .progress dd:after {position:absolute;right:0;top:7px;display:block;content:"";width:1px;height:10px;background:#dcdcdc;}
.profile-box .progress dd.odd:after {display:none;} */
.profile-box .represent {width:395px;}
.profile-box .represent dt {padding-right:10px;color:#a1a1a1;}
.profile-box .represent dd {color:#3d3d3d;}

.sharing-box .reply-box {position:relative;padding:20px 0;border-top:solid 1px #eaeaea;}
.sharing-box .reply-box:first-child {border-top:none;}
.sharing-box .reply-num {float:left;padding-right:15px;}
.sharing-box .reply-num img {display:block;width:33px;height:33px;}
.sharing-box .reply-num span {display:block;font-size:11px;color:#a1a1a1;text-align:center;}
.sharing-box .reply-con {float:left;width:750px;}
.sharing-box .reply-con .report {display:block;text-align:right;color:#ff0101;}
.sharing-box .reply-con > div {padding-bottom:5px;}
.sharing-box .reply-con > div strong {font-size:13px;}
.sharing-box .reply-con > div span {padding-left:15px;color:#a1a1a1;}
.sharing-box .reply-con .report a {color:#a1a1a1;}

.answered-questions .btn-list {position:absolute;top:11px;background:url('../images/bg_prenext2.jpg') 0 0 no-repeat;}
.answered-questions .btn-listpre {right:16px;}
.answered-questions .btn-listnext {right:0;background-position:-14px 0;}
.answered-questions h3 {border-bottom:1px solid #e6e6e6;}
.most.advice h3 span {color:#ec5911;}
.aside .most.advice ol li .num {margin-right:5px;padding:0 5px;width:auto;line-height:16px;color:#929292;border:1px solid #ccc;border-radius:3px;}
.aside .most.advice ol li a {width:165px;}

.category-wrap {float:left;margin-bottom:-173px;padding:15px;width:886px;height:237px;border:1px solid #ccc;}
.category-title {float:left;padding-bottom:10px;font-size:18px;font-weight:bold;color:#2a9ed5;}
.category-con {overflow-y:auto;margin:0 -15px;padding:10px 15px;height:188px;border-top:1px solid #ccc;clear:both;}
.category-con li {float:left;padding:4px 0 5px;width:25%;box-sizing:border-box;font-size:14px;line-height:20px;}
.category-con li a {overflow:hidden;display:inline-block;max-width:145px;color:#333;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;vertical-align:middle;}
.category-con li span {margin-left:3px;color:#a1a1a1;vertical-align:middle;}
.category-con02 {display:table;width:100%;}
.category-con02 .sharing-row {display:table-row;}
.category-con02 .sharing-row div {display:table-cell;}
.category-con02 .sharing-row h4 a {font-size:15px;color:#3d3d3d;font-weight:bold;}
.category-con02 .sharing-row h4 a:hover {color:#1175c3;}
.category-con02 .sharing-row ul {margin-bottom:20px;}
.category-con02 .sharing-row li {float:none;display:block;padding:3px 0;}


.best-top {}
.best-top li {float:left;width:50%;}
.best-top li > div {display:inline-block;padding:0 0 30px 50px;max-width:370px;background:url('../images/img_qna_small1.gif') 10px 6px no-repeat;letter-spacing:-1px;}
.best-top li.first > div {padding-left:65px;background:url('../images/img_qna_big1.gif') 0 0 no-repeat;}
.best-top li > div > a {display:block;width:100%;overflow:hidden;font-size:16px;font-weight:bold;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;}
.best-top li a:hover {text-decoration:underline;}
.best-top li div span {margin-right:5px;font-size:12px;}
.best-top li .user-cate, .best-top li .user-date {color:#a1a1a1;}
.best-top li .user-name {}
.best-top li .comment-count {color:#a47b5d;vertical-align:top;}
.best-top li p {margin-top:-20px;font-size:12px;height: 120px;}


/* write-ask */
.write-title {padding:20px 0 15px;}
.write-title span {font-size:26px;color:#5cb7e3;font-weight:bold;letter-spacing:-1px;}
.write-title input {margin-left:10px;padding:0 10px;height:30px;}
.write-title .tooltip-point input:hover {border-color:#5cb7e3;}
.write-title .tooltip-point:hover {border:none;}
.write-title span {display:inline-block;vertical-align:middle;}
.write-title .chars {padding-top:10px;}
.write-title .chars > strong {float:left;color:#ff0000;}
.write-title .chars > span {float:right;font-size:11px;color:#707070;}
.select-write {margin:10px 0 0;border:1px solid #e6e6e6;}
.select-write > div {border-top:1px solid #e6e6e6;}
.select-write > div > div {padding:10px 15px;}
.select-write  h4 {padding:0 15px;font-size:14px;line-height:40px;font-weight:bold;color:#3d3d3d;background:#BFC0C0;border-bottom:1px solid #e6e6e6;}
div.select-loccation {border-top:none;}
.select-loccation select {margin-right:10px;height:20px;line-height:20px;border:1px solid #e6e6e6;}
.select-loccation h4, .select-loccation select {vertical-align:middle;}
.select-directory {}
.select-directory .directory-con div:first-child {}
.directory-con {}
.directory-con input {margin-right:3px;}
.directory-con span {margin-right:10px;}
.select-directory .select-category {margin-left:-10px;padding:10px 0;}
.select-directory .select-category ul {overflow-y:auto;float:left;margin:0 10px;padding:10px 5px;width:190px;height:120px;box-sizing:border-box;border:1px solid #e6e6e6;}
.select-directory .select-category li a {overflow:hidden;display:block;width:94%;line-height:24px;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;color:#3d3d3d;}
div.select-etc {position:relative;}
.select-write .select-etc > div {float:left;border-left:1px solid #e6e6e6;}
.select-write .select-etc .private {width:20%;border-left:none;}
.select-etc .alert {width:30%;}
.select-etc .qna {width:50%;}
.select-write .select-etc .tooltip-wrap {border-left:2px solid #5cb7e3;}
.select-write + p {padding:10px 5px;color:#989898;}
.written-source input {float:left;padding:3px 10px;}
.written-source span {float:right;}
.written-source span a {color:#a2a2a2;text-decoration:underline;}
.written-source span img {margin-left:10px;vertical-align:middle;}
.caution {padding:10px 5px;color:#ff0000;}
.btnwrite-wrap {padding:20px 0;text-align:center;}
.btnwrite-wrap button, .btnwrite-wrap a {display:inline-block;margin:0 4px;padding:0 12px;height:32px;font-size:16px;line-height:32px;background:#fdfdfd;border:1px solid #b0b0b0;border-radius:3px;}
.btnwrite-wrap .post {color:#fff;background:#5cb7e3;border:1px solid #329fd2;}

.tooltip-point {position:relative;display:block;}
/* .tooltip-point:hover {} */
.tooltip-wrap {display:none;position:absolute;right:-255px;top:0;padding:15px 10px;width:238px;border:2px solid #5cb7e3;border-radius:8px;}
.tooltip-wrap:after {
	position:absolute;left:-7px;top:8px;display:block;content:"";width:10px;height:10px;background:#fff;border-bottom:2px solid #5cb7e3;border-left:2px solid #5cb7e3;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
}
.tooltip-wrap p {padding:0 0 10px 18px;font-size:13px;color:#3d3d3d;text-align:justify;font-weight:normal;letter-spacing:-1px;background:url("../images/icon_tooltip.gif") 5px 6px no-repeat;}
.tooltip-wrap p.caution{font-size:14px;color:#2471ac;font-weight:bold;background:url('../images/icon_caution.gif') 0 4px no-repeat;}
.select-etc .private .tooltip-wrap {right:-966px;top:0;}
.select-etc .alert .tooltip-wrap {right:-700px;top:0;}

.mymentoring-main {/* position:relative; */display:table;border:1px solid #5cb7e3}]
.mymentoring-main .my-pic {border:1px solid #ccc;}
.mymentoring-main .my-info {display:table-cell;padding:25px;width:170px;border-right:1px solid #5cb7e3;vertical-align:top;}
.mymentoring-main .my-info strong {display:block;margin-bottom:10px;}
.my-info .my-info01 {letter-spacing:-1px;}
.my-info dt, .my-info dd {display:inline-block;}
.my-info dt {width:60%;}
.my-info dd {}
.my-info .my-info01 dt {color:#828282;}
.my-info .my-info01 dd {color:#c49f9f;}
.my-info .my-info02 {margin-top:10px;padding-top:10px;border-top:1px solid#ccc;}
.my-info .my-info02 dd {color:#f76300;font-weight:bold;}
.infobox01, .infobox02 {float:left;padding:25px;width:485px;}
.infobox01 .info-title {font-size:16px;font-weight:bold;color:#3d3d3d;}
.infobox01 .info-con {margin-bottom:25px;padding:20px 0 30px;color:#989898;border-bottom:1px solid #ccc;}
.infobox01 dt, .infobox01 dd {display:inline-block;padding-bottom:10px;}
.infobox01 dt {width:35%;}
.infobox01 dt strong {}
.infobox01 dd {width:60%;}
.mylevel-wrap {position:relative;margin-bottom:3px;padding:65px 0 0;}
.mylevel-wrap.my-page {padding-top:45px;}
.mylevel-wrap h3 {margin-top:-50px;margin-bottom:55px;padding-bottom:10px;color:#aeaeae;}
.mylevel-wrap .level-start, .mylevel-wrap .level-next {position:absolute;top:0;display:block;width:40px;height:50px;background:url('../images/bg_level.jpg') 0 0 no-repeat;}
.mylevel-wrap .level-next {right:0;}
.mylevel-wrap .level02 {background-position:0 -50px;}
.mylevel-wrap .level03 {background-position:0 -100px;}
.mylevel-wrap .level04 {background-position:0 -150px;}
.mylevel-wrap .level05 {background-position:0 -200px;}
.mylevel-wrap .level06 {background-position:0 -250px;}
.mylevel-wrap .level07 {background-position:0 -300px;}
.mylevel-wrap .level08 {background-position:0 -350px;}
.mylevel-wrap .level09 {background-position:0 -400px;}
.mylevel-wrap .level10 {background-position:0 -450px;}
.mylevel-wrap .level11 {background-position:0 -500px;}
.mylevel-wrap .level12 {background-position:0 -550px;}
.mylevel-wrap .progress-wrap {position:relative;width:100%;height:40px;background:#5cb7e3;}
.mylevel-wrap .progress-wrap .progress-bar {position:absolute;height:40px;background:#126dac;}
.mylevel-wrap .progress-wrap .tooltip {position:absolute;top:-70px;padding:3px 5px;border:1px solid #ccc;border-radius:10px;}
.mylevel-wrap.my-page .progress-wrap .tooltip {top:-40px;}
.mylevel-wrap .progress-wrap .tooltip:after {
	position:absolute;left:15px;bottom:-6px;display:block;content:"";width:10px;height:10px;font-size:12px;background:#fff;border-right:1px solid #ccc;border-bottom:1px solid #ccc;
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
}
.debate-write .tab-con {}
.file-preview {overflow:hidden;position:relative;padding:18px 0 0;}
.file-preview li {position:relative;float:left;margin-left:20px;width:156px;height:156px;background:#eef3f6 url("../images/thumb_upload.png") center center no-repeat;border:1px solid #dadcdd;}
.file-preview li:first-child {margin-left:0;}
.file-preview li.on {width:154px;height:154px;border:2px solid #58a1ec;}
.file-preview li.on img {display:block;width:154px;height:154px;}
.file-preview li a {display:block;position:absolute;top:8px;right:8px;width:17px;height:17px;background:url("../images/thumbnail_close.png") 0 0 no-repeat;}
.file-preview li button {position:absolute;left:0;top:0;padding:0 3px;line-height:18px;color:#fff;background:#ccc;}
.infobox02 .txt-rate {display:table;width:100%;}
.infobox02 .txt-rate div {display:table-row;}
.infobox02 .txt-rate span {display:table-cell;color:#707070;}
.infobox02 .txt-rate div:first-child span {font-size:22px; }
.infobox02 .txt-rate div:first-child span:nth-child(1) {color:#0096de;}
.infobox02 .txt-rate div:first-child span:nth-child(2) {color:#ff4800;}
.infobox02 .txt-rate div:first-child span:nth-child(3) {color:#454545;}
.infobox02 .txt-rate div span:nth-child(3) {text-align:right;}
.infobox02 .txt-rate div span:first-child {}
.infobox02 .txt-rate + h3 {padding:10px 0 5px;font-size:16px;color:#3d3d3d;font-weight:bold;}
.infobox02 dt, .infobox02 dd {display:inline-block;}
.infobox02 dt {min-width:20%;}
.infobox02 dd {width:72%;color:#ff3600;}
.infobox02 dd span {font-size:11px;font-weight:bold;color:#707070;}
.mymentoring-bottom {position:relative;padding-top:20px;}
.mymentoring-lnb {float:left;width:170px;}
.mymentoring-lnb a {display:block;padding-left:18px;line-height:30px;font-weight:bold;color:#252525;letter-spacing:-1px;}
.mymentoring-lnb a.on, .mymentoring-lnb a:hover {color:#0096de;}
.mymentoring-lnb a span {color:#707070;font-weight:normal;}
.mymentoring-con {float:right;width:970px;}
.mymentoring-con h3 {padding-bottom:5px;font-size:16px;color:#ff4800;font-weight:bold;}
.mymentoring-table {position:relative;padding-bottom:30px;}
.mymentoring-table th {padding:5px 0;color:#ccc;font-weight:normal;border-top:2px solid #cccccc;border-bottom:2px solid #cccccc;}
.mymentoring-table td {padding:5px 3px;color:#999;text-align:center;border-bottom:1px solid #cccccc;}
.mymentoring-table td a {overflow:hidden;display:block;width:100%;white-space:nowrap;text-overflow:ellipsis;word-break:break-all;}
.mymentoring-table td a:hover {color:#126dac;text-decoration:underline;}
.mymentoring-table td a:first-child {padding:5px;text-align:left;}
.mymentoring-table .more {position:absolute;right:0;top:0;color:#ccc;text-decoration:underline;cursor:pointer;}
.mymentoring-con .tab-title {margin-top:10px;border-bottom:1px solid #e1e1e1;}
.mymentoring-con .tab-title a {float:left;margin-bottom:-1px;padding:0 20px;font-size:15px;line-height:40px;color:#969696;letter-spacing:-1px;background:#f1f1f1;border:1px solid #e1e1e1;border-bottom:none;border-left:none;}
.mymentoring-con .tab-title a:first-child {border-left:1px solid #e1e1e1;}
.mymentoring-con .tab-title a.on {color:#4c4c4c;background:#fff;border-bottom:1px solid transparent;}
.myanswer-select {padding:15px 0;}
.myanswer-select > select {min-width:150px;}
.total-mentor {display:block;padding:5px 0;border-bottom:1px solid #ccc;}
.myprofile {}
.myprofile th, .myprofile td {padding:7px 3px 7px 5px;line-height:20px;text-align:left;color:#3d3d3d;}
.myprofile .alignment-con {position:relative;}
.myprofile .ajax-upload-dragdrop {float:right;margin-top:20px;padding:36px 10px;width:620px;height:137px;}
.myprofile .file-preview {float:left;width:140px;}
.myprofile .file-preview li {width:140px;height:140px;background:#fff;}
.myprofile input, .myprofile textarea, .myprofile select, .myprofile .namecard {padding:2px 3px;box-sizing:border-box;border:solid 1px #dfdfdf;}
.myprofile textarea {width:100%;}
.myprofile .profile-box .progress {width:200px;}
.btn-box {padding:40px 0;text-align:center;}
.btn-box button, .btn-box a {display:inline-block;padding:0 10px;line-height:26px;border:solid 1px #dfdfdf;border-radius:3px;}

.debate-write {}
.debate-write .tab-title {display:inline-block;width:632px;}
.debate-write .tab-title a {width:159px;border:none;}
.debate-style01 {float:left;margin-bottom:30px;margin-left:-1px;padding:15px;width:445px;border:1px solid #bfbfbf;}
.debate-style01:first-child {margin-left:0;}
.debate-style01 .alignment-title {display:block;padding-bottom:10px;font-size:24px;color:#5cb7e3;font-weight:bold;}
.debate-style01 .alignment-title + input {display:block;padding:3px 5px;width:100%;border:1px solid #bfbfbf;}
.debate-style01 .chars-num {display:block;font-size:11px;text-align:right;}
.debate-style01 .ajax-upload-dragdrop {border:none;}
.debate-style01 .alignment-con {position:relative;}
.debate-style01 .file-preview {float:left;width:156px;}
.debate-style01 .ajax-upload-dragdrop {float:right;margin-top:53px;width:250px;}
.debate-style01 .ajax-file-upload {position:relative;}
.debate-write .write-title span {vertical-align:top;}
.debate-write .tab-title {border:none;}
.debate-write .tab-title a {background:#fff;border-right:1px solid #e6e6e6;border-radius:0;}
.debate-write .tab-title a.on, .debate-write .tab-title a:hover {color:#1f91e9;}

.goodpeople {margin-top:35px;}
.goodpeople > div > div {position:relative;margin:10px 10px 10px 5px;}
.goodpeople > div > div:first-child {border-bottom:1px solid #e1e1e1;}
.best-leader {float:left;margin-right:20px;width:300px;}
.best-mentor, .mentor-section, .mentor-section {float:left;margin-right:20px;width:300px;}
.best-mentor {padding-left:10px;background:#f2f2f2;}
.top-wrap {float:right;width:210px;}
.goodpeople h3 {padding:0 0 10px 5px;font-size:16px;color:#3d3d3d;font-weight:bold;letter-spacing:-1px;}
.goodpeople .more {position:absolute;right:15px;top:0;color:#9f9f9f;text-decoration:underline;}
.goodpeople ul {position:relative;}
.goodpeople li {float:left;margin:0 0 10px 5px;width:90px;}
.goodpeople .top-wrap li {position:relative;float:none;margin:0;width:100%;}
.goodpeople .top-wrap li > span {display:inline-block;margin-right:10px;padding:0 3px;color:#fff;font-size:10px;line-height:12px;background:#9d9d9d;border:1px solid#888888;}
.goodpeople .top-wrap li:first-child > span {position:absolute;top:5px;}
.goodpeople .top-wrap li a {display:inline-block;width:155px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;vertical-align:middle;letter-spacing:-1px;}
.goodpeople .top-wrap li a:hover {text-decoration:underline;}
.goodpeople .user-img, .goodpeople .user-id, .goodpeople .user-cate {overflow:hidden;display:block;width:100%;text-align:center;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;letter-spacing:-1px;}
.goodpeople .user-id:hover, .goodpeople .user-cate:hover {text-decoration:underline;}
.goodpeople .user-img img {width:100%;}
.goodpeople .user-cate {font-size:11px;color:#9b6e51;}
.goodpeople .mentors-top {margin-bottom:15px;padding:10px 0;text-align:center;border:1px solid #e1e1e1;}
.goodpeople .thumb a {display:inline-block;}
.goodpeople .thumb dl {display:table;margin:0 auto;width:90%;}
.goodpeople .thumb dt {text-align:right;}
.goodpeople .thumb dd {text-align:left;}
.goodpeople .thumb dt, .goodpeople .thumb dd {display:table-cell;padding:0 5px;letter-spacing:-1px;}
.goodpeople .thumb .chosen {color:#126dac;}
.goodpeople .thumb .success-rate {color:#ff4800;}
.bestmentor-con {position:relative;}
.bestmentor-con > a {float:left;width:90px;height:90px;}
.bestmentor-con > a img {width:100%;}
.bestmentor-con .bestmentor-info {float:right;width:190px;}
.bestmentor-con .bestmentor-info > a {font-size:16px;font-weight:bold;}
.bestmentor-info .bestinfo-com, .bestmentor-rate {font-size:0;line-height:0;}
.bestmentor-rate {padding-top:23px;clear:both;}
.bestmentor-info .bestinfo-com dt, .bestmentor-info .bestinfo-com dd, .bestmentor-rate dt, .bestmentor-rate dd {display:inline-block;width:50%;font-size:14px;line-height:22px;letter-spacing:-1px;}
.bestinfo-com dd {color:#9a6f4f;}
.bestmentor-con p {padding:15px 3px 20px;line-height:21px;letter-spacing:-1px;}
.box-subject {position:relative;padding:13px 0;border-bottom:1px solid #e6e6e6;}
.box-subject h3 {float:left;color:#3d3d3d;}
.box-subject .sort-by {float:right;}
.box-subject .sort-by dt, .box-subject .sort-by dd {display:inline-block;}
.box-subject .sort-by dt {color:#777;}
.box-subject .sort-by dd {}
div.bx-wrapper .bx-viewport {letter-spacing:-1px;border:none;box-shadow:0 0 0 #fff;}
div.bx-wrapper .bx-viewport .bxslider {margin:0 auto;width:100%;}
.bxslider > li {margin:0 auto;width:100%;height:300px;background:#3d3d3d;}
.bxslider .weekly-best {display:table;width:100%;}
.bxslider .weekly-best li {display:table-cell;margin:0 9px;padding:5px 0 15px;width:143px;}
.bxslider .weekly-best li.on, .bxslider .weekly-best li:hover {background:#2d2d2d;}
.bxslider .weekly-best li > a {display:block;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;word-break:break-all;color:#fff;}
.bxslider .weekly-best li .medal-grade {color:#ff6400}
.bxslider .weekly-best li .weeklybest-cate {padding:0 5px;font-size:30px;line-height:48px;}
.bxslider .weekly-best li .go-mentors {background:#fff;}
.bxslider .weekly-best li .go-mentors a {padding-left:8px;background:url('../images/bg_bullet.gif') 2px 8px no-repeat;}