#processMessage {
    position: fixed;
    top: 40%;
    left: 43%;
    padding: 10px;
    width: 14%;
    z-index: 1001;
    opacity: 0.8;
    background-color: #fff;
    border: solid 1px #000;
    text-align: center;
}

input[type=submit]{
    margin-left: 3px;
    padding: 0 18px;
    line-height: 21px;
    color: #fff;
    font-weight: bold;
    background: #767676;
    border: 1px solid #7d7d7d;
    vertical-align: middle;
    border-radius: 3px;
}

.list_direct li.select_on {
    background-color: #3399FF;
    color: #ffffff;
}
.list_direct li.select_on2 {
    background-color: #7c7c7c;
    color: #ffffff;
}