@import "./jquery-ui.css";
@import "./mentor2.css";
@import "./layout.css";
@import "./slider-range.css";
@import "./etc.css";
body {
	background: #f6f6f6;
	min-width: 992px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ddd9da;
}
.container {
  min-width: 1164px !important;
  width: 1164px;
}

.panel {
	display: block;
	border: 1px solid $color-border;
	background: #FFF;
	border-radius: 3px;
	-webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 10px;
	&.col-left {
		margin-right: 1%;
	}
}
.panel-50 {
	width: 49.5%;
	float: left;
}
.panel-100 {
	width: 100%;
	&.left-wrap {
		padding: 20px;
	}
}
.header-wrap {
	padding: 0 0 22px 0;
	.logo {
		display: block;
		width: 144px;
		float: left;
		img {
			max-width: 100%;
			margin-top: 7px;
		}
	}
	.webname {
		a {
			display: block;
			float: left;
			margin-left: 20px;
		}
	}
	.profile-wrap {
		float: right;
	}
	.btn-profile {
		background: #FFF;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		padding: 3px 3px;
		img {
			margin-right: 30px;
		}
		.caret {
			margin-left: 30px;
			color: $color-dark-blue;
		}
		&:hover,
		&:focus {
			color: $color-dark-gray;
		}
	}
}
.menu-wrap {
	background: $color-blue;
	height: 46px;
	ul {
		padding: 0;
		margin: 0;
		float: left;
		height: 46px;
		li {
			padding: 0 18px;
			list-style: none;
			display: inline-block;
			a {
				text-transform: uppercase;
				font-size: 14px;
				color: #FFF;
				line-height: 43px;
				display: block;
				border-bottom: 3px solid transparent;
			}
			&.active,
			&:hover {
				a {
					font-weight: bold;
					border-bottom: 3px solid $color-dark-blue;
					text-decoration: none;
				}
			}
		}
	}
	.search-wrap {
		float: right;
		input {
			background: url(../images/search-icon.png) no-repeat 95% 50% #FFF;
			padding: 3px 30px 3px 10px;
			border: none;
			border-radius: 3px;
			margin-top: 10px;
			margin-right: 10px;
		}
	}
}
.notice-wrap {
	background: #FFF;
	h3 {
		font-size: 14px;
		text-transform: uppercase;
		display: block;
		float: left;
		background: url(../images/notice-icon.png) no-repeat 10px 50%;
		width: 100px;
		color: $color-dark-gray;
		padding: 10px 5px 10px 35px;
		margin: 0;
	}
	a {
		display: inline-block;
		line-height: 35px;
		color: $color-dark-gray;
		&:hover,
		&:focus {
			text-decoration:none;
		}
	}
}
.more {
	position: absolute;
	right: 0.5%;
	top: 10px;
	font-size: 14px;
	color: $color-light-gray;
	text-decoration: underline;
	font-weight: normal;
}
.arrow-up-icon {
	float: right;
	background: url(../images/arrow-up-icon.png) no-repeat 0 0;
	display: block;
	width: 17px;
	height: 17px;
}
.arrow-down-icon {
	float: right;
	background: url(../images/arrow-up-icon.png) no-repeat 0 0;
	transform: rotateX(-180deg);
	display: block;
	width: 17px;
	height: 17px;
}
.help-icon {
	background: url(../images/question-icon.png) no-repeat 0 0;
	background-size: 100%;
	display: block;
	width: 24px;
	height: 24px;
	float: left;
}
.btn:hover {
	opacity: 0.8;
	color: #FFF;
}
.btn-orange {
	background: $color-orange;
	font-weight: bold;
	font-size: 16px;
	color: #FFF;
	text-transform: uppercase;
	width: 49%;
}
.btn-blue {
	background: $color-blue;
	font-weight: bold;
	font-size: 16px;
	color: #FFF;
	text-transform: uppercase;
	width: 49%;
}
.btn-gray {
	background: $color-gray-btn;
	font-weight: bold;
	font-size: 16px;
	color: #FFF;
	text-transform: uppercase;
	&:hover,
	&:focus {
		color: #FFF;
		text-decoration: none;
	}
}
.btn-dark-blue {
	background: $color-dark-blue;
	font-weight: bold;
	font-size: 16px;
	color: #FFF;
	text-transform: uppercase;
	&:hover,
	&:focus {
		color: #FFF;
		text-decoration: none;
	}
}
.btn-help,
.btn-connect {
	display: block;
	margin-top: 10px;
	width: 100%;
}
.btn-report {
	position: absolute;
	top: 16px;
	right: 0;
	background: url(../images/bell-icon.png) transparent 0 0 no-repeat;
	background-size: 15px;
	padding: 0 0 0 20px;
	height: 15px;
	border: none;
	border-radius: 0;
	font-size: 14px;
	&:hover {
		color: $color-dark-gray;
	}
}
.btn-ask,
.btn-share {
	img {
		margin-top: -3px;
	}
	&:hover,
	&:focus {
		color: #FFF;
	}
}
.btn-mentee {
	background: url(../images/add-icon.png) no-repeat 10px 50%;
	border-radius: 12px;
	padding: 0 10px 0 25px;
	border: 1px solid $color-light-gray;
	float: right;
	margin-top: 20px;
	color:$color-light-gray;
	&:hover {
		color:$color-light-gray;
	}
}
.btn-back-list {
	background: url(../images/back-to-list-icon.png) #FFF 0 0;
	width: 31px;
	height: 31px;
	border: none;
	float: right;
}
.btn-show-comment {
	border: 1px solid $color-gray;
	background: url(../images/comment-icon-gray.png) transparent no-repeat 20px 50%;
	padding: 3px 15px 3px 45px;
	text-transform: uppercase;
	color: #828286;
	&:hover,
	&:focus {
		color: $color-light-gray;
		box-shadow: none;
	}
}
.btn-collapse-info {
	background: url(../images/collapse-info-icon.png) 24px 0;
	width: 24px;
	height: 23px;
	border: none;
	box-shadow: none;
	&:hover,
	&.active {
		background: url(../images/collapse-info-icon.png) 0 0;
		box-shadow: none;
	}
}
.btn-expand-info {
	background: url(../images/expand-info-icon.png) 24px 0;
	width: 24px;
	height: 23px;
	border: none;
	box-shadow: none;
	&:hover,
	&.active {
		background: url(../images/expand-info-icon.png) 0 0;
		box-shadow: none;
	}
}
.button-group {
	margin-top: 5px;
	.btn-save {
		background: url(../images/save-icon.png) $color-orange no-repeat 20px 50%;
		width: 110px;
		padding-left: 30px;
	}
	.btn-discard {
		background: url(../images/discard-icon.png) $color-light-gray no-repeat 15px 50%;
		width: 125px;
		padding-left: 30px;
	}
	.btn-post {
		width: 138px;
		float: right;
	}
}
.padding-left-0 {
	padding-left: 0;
}
.padding-right-0 {
	padding-right: 0;
}
.select-form {
	appearance: none;
	-webkit-appearance: none;
  -moz-appearance:    none;
  width: 100%;
  padding: 5px 10px;
  background: url(../images/arrow-down-icon.png) #FFF no-repeat 95% 50%;
  &.select-location {
  	border: 1px solid #d2cacc;
  	border-left: none;
  	width: 230px;
  	border-top-right-radius: 3px;
  	border-bottom-right-radius: 3px;
  }

}
.search-box {
	background: url(../images/search-icon.png) no-repeat 95% 50% #FFF;
  padding: 5px 30px 5px 10px;
  border: 1px solid $color-light-gray;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  margin-left: 10px;
}
.breadcrumb-wrap {
	ul {
		padding: 0;
		li {
			list-style: none;
			display: inline-block;
			margin-right: 10px;
			position: relative;
			&:after {
				content:"";
				position: absolute;
				right: -9px;
				top: 7px;
				background: url(../images/arrow-left.png) no-repeat;
				width: 6px;
				height: 10px;
			}
			a {
				color: $color-dark-gray;
				font-size: 16px;
			}
			&:first-child {
				a {
					text-transform: uppercase;
				}
			}
			&:last-child {
				&:after {
					display:none;
				}
			}
		}
	}
}
footer {
	margin-bottom: 50px;
	.footer-menu {
		margin: 0 20px;
		border-top: 1px solid $color-light-gray;
		ul {
			padding: 0;
			display: block;
			margin: 20px auto;
			text-align: center;
			li {
				list-style: none;
				display: inline-block;
				a {
					display: block;
					color: $color-light-gray;
					padding: 0 13px;
					font-size: 14px;
					position: relative;

					&:hover {
						text-decoration: none;
					}
					&:after {
						content: "";
						width: 1px;
						height: 8px;
						background: $color-light-gray;
						position: absolute;
						top: 7px;
						right: 0px;
					}
				}
				&:last-child {
					a {
						&:after {
							display:none;
						}
					}
				}
			}
		}
		.copyright {
			display: block;
			margin: 0 auto;
			text-align: center;
			img {
				width: 93px;
				height: auto;
				margin-top: -5px;
			}
		}
	}
}
.paging-wrap {
	ul {
		display: block;
		padding: 0;
		margin: 20px 0 0 0;
		text-align: center;
		li {
			display: inline-block;
			list-style: none;
			font-size: 13px;
			text-align: center;
			&.paging {
				height: 12px;
			}
			a {
				display: block;
				font-weight: bold;
				color: $color-dark-gray;
				width: 22px;
				height: 21px;
				line-height: 19px;
				&.active,
				&:hover {
					border: 1px solid $color-dark-gray;
					color: red;
					text-decoration: none;
				}
				&.page-button {
					width: 10px;
					height: 16px;
					position: relative;
					&:hover {
						border: none;
						opacity: 0.8;
					}
					&.first-page {
						background: url(../images/paging-icon.png) no-repeat 0 0;
					}
					&.prev-page {
						background: url(../images/paging-icon.png) no-repeat -10px 0;
						margin-right: 10px;
					}
					&.next-page {
						background: url(../images/paging-icon.png) no-repeat -20px 0;
						margin-left: 10px;
					}
					&.last-page {
						background: url(../images/paging-icon.png) no-repeat -30px 0;
					}
				}
			}
		}
	}
}
/* Topbar menu common */
.s_gnb_wrap {
  width: 100%;
  min-width: 1144px;
  background: $color-blue;
  z-index: 1;
}
.s_gnb {
  position: relative;
  margin: 0 auto;
  width: 1144px;
  background: #1c7fd3;
	.btn {
	  float: left;
	  margin-top: 7px;
	  padding: 0 0 0 28px;
	  height: 22px;
	  color: $color-blue;
	  text-decoration: none;
	  background: #fff url("../images/btn_location.png") 4px 4px no-repeat;
	  border-radius: 9px;
		em {
    	float: left;
    	line-height: 22px;
    	font-style: normal;
		}
		.triangle {
	    float: right;
	    padding: 9px;
		}
	}	
}
.location_con {
  position: absolute;
  top: 45px;
  display: none;
  width: 100%;
  background: #fff;
  border: 3px solid $color-blue;
  border-radius: 5px;
  z-index: 999;
  .container-popup {
    position: relative;
    width: 1138px !important;
    padding: 15px 15px 20px;
	}
	.container-popup > a.p-pointer {
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
    img {
    	width: 30px;
    	height: 30px;
    }
	}
}
.container-popup > li {
	list-style: none;
}
.container-popup > li > dl:first-child {
    width: 100%;
}
.container-popup > li .country {
    padding: 13px 0;
    font-size: 16px;
    color: #1c7fd3;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px dashed #e6e6e6;
}
.locate_list {
    display: table;
    width: 100%;
}
.container-popup > li dl dd {
    float: none;
    display: block;
    padding: 3px 0;
}
.container-popup > li .line {
    display: none;
}
.location_con div {
    position: relative;
    padding: 15px 15px 20px;
}
.locate_list dl.ct_wrap {
    display: table-cell;
    width: 20%;
}
.container > li dl.ct_wrap {
    min-height: 115px;
}
.container-popup > li dl .state {
    padding: 13px 0;
    width: 100%;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}
.container-popup > li dl .state a {
    color: #333;
    text-decoration: none;
}
.container-popup > li dl dd {
    float: none;
    display: block;
    padding: 3px 0;
}
.container-popup > li dl .city a {
    color: #333;
    text-decoration: none;
}
.container-popup > li dl .state a:hover, .container > li dl .city a:hover {
    color: #00C;
}
.menu {
    float: right;
    margin-right: -1px;
    font-size: 0;
    line-height: 0;
}
div.menu a {
    display: inline-block;
    padding: 0 4px;
    height: 36px;
    line-height: 36px;
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
div.menu a:first-child {
    background: none;
}
.menu a.more {
    position: relative;
    padding-right: 14px;
    top: 0;
}
.menu a.more:after {
    position: absolute;
    right: 0;
    top: 15px;
    display: block;
    content: "";
    width: 8px;
    height: 5px;
    background: url('../images/bg_more.png') right 0 no-repeat;
}
.more_wrap {
    position: absolute;
    right: 65px;
    top: 36px;
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #aaa;
    z-index: 3;
}
.more_wrap ul {
    overflow: hidden;
    margin: 0 -1px;
    width: 280px;
    padding-left: 0;
}
.more_wrap li {
    position: relative;
    display: inline-block;
}
.more_wrap li {
    position: relative;
    display: inline-block;
}
.more_wrap li a {
    color: #000;
    position: relative;
}
.more_wrap li:after {
    position: absolute;
    top: 12px;
    left: -1px;
    display: block;
    content: "";
    width: 1px;
    height: 12px;
    background: #d9d9d9;
}
div.menu a:first-child {
    background: none;
}
a.btn_log {
    float: right;
    margin: 8px 0 0 0;
    padding: 0 8px;
    height: 22px;
    /* width: 55px; */
    color: $color-blue;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    background: #fff;
    border: 3px double transparent;
    border-radius: 10px;
    /* box-shadow: #000 3px 3px 8px; */
}
.p-translate {
    float: right;
    margin: 5px 0 0 10px;
}
.goog-te-gadget {
    font-family: arial;
    font-size: 11px;
    color: #666;
    white-space: nowrap;
}
.lang {
    display: inline-block;
    padding: 0 13px;
    vertical-align: top;
}
