aside {
	display: block;
	float: left;
	width: 244px;
	margin-left: 14px;
	margin-top: 12px;
	margin-bottom: 20px;
	.button-wrap {
		margin-bottom: 10px;
	}
}
.best-mentoring-wrap {
	background: #FFF;
	margin: 6px 0 5px 0;
	border: 1px solid $color-border;
	border-radius: 3px;
	padding: 24px 12px;
	position: relative;
	.best-mentoring-header {
		position: relative;
		margin: 0 0 20px 0.5%;
		padding: 0 0 0 30px;
		font-size: 20px;
		font-weight: bold;
		color: $color-orange;
		background: url(../images/crown-icon.png) no-repeat 0 0;
	}
	.item {
		display: block;
		width: 19%;
		float: left;
		margin: 0 0.5%;
		position: relative;
		height: 170px;
		overflow: hidden;
		&:after {
			content: "";
			background: rgba(0,0,0,0.7);
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			-webkit-transition: top .2s ease-in;
    	transition: top .2s ease-in;
		}
		&.law-category {
			background: url(../images/law.png) no-repeat;
			background-size: 100% 100%;
		}
		&.banking-category {
			background: url(../images/bank.png) no-repeat;
			background-size: 100% 100%;
		}
		&.school-category {
			background: url(../images/hands-all-in.png) no-repeat;
			background-size: 100% 100%;
		}
		&.travelling-category {
			background: url(../images/travelling.png) no-repeat;
			background-size: 100% 100%;
		}
		&.visa-category {
			background: url(../images/visa.png) no-repeat;
			background-size: 100% 100%;
		}

		.question-title {
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			transform: translateY(-50%);
			color: #FFF;
			z-index: 1;
			text-align: center;
			padding: 0 15px;
			font-size: 16px;
			-webkit-transition: top .2s ease-in;
    	transition: top .2s ease-in;
		}
		.answer-box {
			position: absolute;
	    right: 0;
	    left: 0;
	    bottom: -170px;
	    z-index: 10;
	    width: 100%;
	    height: 100%;
	    line-height: 18px;
	    zoom: 1;
	    -webkit-transition: bottom .2s ease-out;
	    transition: bottom .2s ease-out;
	    text-align: center;
	    background: rgba(62,148,218,0.66);
		}
		&:hover {
			cursor: default;
			.question-title {
				top:-170px;
			}
			&:after {
				top:-170px;
			}
			.answer-box {
				bottom: 0;
				z-index: 9;
				color: #FFF;
				position: relative;
				.question-title {
					top: 20px;
					width: 100%;
					left: 0;
					margin-bottom: 15px;
					box-sizing: border-box;
					padding: 3px 10px;
					display: block;
					clear: both;
					font-size: 12px;
					display: block;
					clear: both;
					position: relative;
				}
				p {
					text-align: left;
					font-size: 9px;
					padding: 0 10px;
				}
				.user-info {
					position: absolute;
					bottom: 10px;
					left: 10px;
					right: 10px;
					a {
						font-size: 14px;
						color: #FFF;
						float: left;
						left: 0px;
						color: $color-gray;
						img {
							width: 28px;
							height: 28px;
							border-radius: 50%;
						}
					}
					.date {
						position: absolute;
						font-size: 9px;
						float: right;
						right: 0px;
						top: 5px;
						color: $color-gray;
					}
				}
			}
		}
	}
}
.top-recommend-wrap {
	background: #FFF;
	margin: 6px 0 0 0;
	border: 1px solid $color-border;
	border-radius: 3px;
	padding: 20px;
	position: relative;
	.top-recommend-header {
		position: relative;
		margin: 0 0 20px 0;
		font-size: 20px;
		font-weight: bold;
		color: $color-orange;
	}
	.list-item {
		float: left;
		.item {
			display: block;
			width: 129px;
			float: left;
			margin-right: 19px;
			position: relative;
			height: 129px;
			overflow: hidden;
			a {
				display: block;
				img {
					max-width: 100%;
					height: 129px;
					object-fit: cover;
					object-position: center;
				}
				&:after {
					content: "";
					background: rgba(0,0,0,0.22);
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
				}
				.label-rank {
					position: absolute;
					top: 0;
					right: 10px;
					background: url(../images/label-rank-bg.png) no-repeat;
					width: 35px;
					height: 32px;
					z-index: 9;
					color: #FFF;
					text-align: center;
					text-transform: uppercase;
					font-size: 11px;
					line-height: 12px;
					padding-top: 5px;
				}
				&:hover {
					cursor: pointer;
					&:after {
						display: none;
					}
				}
			}
		}
	}
	.world-ktown {
		float: left;
		img {
			display: block;
			float: left;
		}
		.download-ktown {
			float: left;
			margin-left: 29px;
			background: url(../images/ktown-location.png) no-repeat 0 0;
			width: 109px;
			.btn-download {
				margin-top: 117px;
				width: 100%;
				background: #bbb3b5;
				color: #FFF;
				text-decoration: underline;
				position: relative;
				display: block;
				&:after {
					content:"";
					position: absolute;
					background: url(../images/arrow-right-w.png) no-repeat 0 0;
					width: 5px;
					height: 10px;
					top: 12px;
					right: 15px;
				}
			}
		}
	}
}
.category-list-wrap {
	background: #FFF;
	padding: 24px 50px;
	border: 1px solid $color-border;
	margin-top: 5px;
	header {
		position: relative;
		.see-all {
			position: absolute;
			text-transform: none;
			text-decoration: none;
			top: 0px;
	    right: 0;
	    font-size: 14px;
	    color: $color-light-gray;
	    font-weight: normal;
		}
		h3 {
			font-size: 15px;
			color: $color-blue;
			font-weight: bold;
			text-transform: uppercase;
			margin: 10px 0;
			&.best-category {
				color: $color-gray;
				font-size: 14px;
				text-transform: uppercase;
				font-weight: bold;
				color: #afafb2;
				background: url(../images/brown-icon-gray.png) no-repeat 0 50%;
				padding-left: 15px;
			}
		}
	}
	.category-list {
		display: block;
		clear: both;
		padding: 0;
		position: relative;
		&.main-category {
			margin-top: 30px;
			margin-bottom: 0;
			&:before {
				display: none;
			}
			li {
				a {
					margin-bottom: 0px;
					position: relative;
					padding-left: 10px;
					font-size: 15px;
					&:before {
						content:"";
						width: 6px;
						height: 6px;
						-webkit-border-radius: 50%;
						-moz-border-radius: 50%;
						border-radius: 50%;
						position: absolute;
						top: 7px;
						left: 0;
						background: $color-dark-blue;
					}
					&.active {
						font-weight: bold;
					}
				}
			}
		}
		&:before {
			content:"";
			display: block;
			height: 50px;
			width: 100%;
		}
		li {
			list-style: none;
			display: inline-block;
			width: 170px;
			a {
				display: block;
				font-size: 15px;
				font-weight: normal;
				color: $color-dark-gray;
				margin-bottom: 30px;
				&:hover {
					text-decoration:none;
					font-weight: bold;
				}
			}
		}
		&.col-3 {
			li {
				width: 344px;
			}
		}
		&.col-4 {
			li {
				width: 257px;
			}
		}
	}
}
.sub-category-wrap {
	margin: 10px 0 0 0 !important;
	.sub-category-header {
		padding: 0px 50px;
		font-size: 15px;
		font-weight: bold;
		margin: 30px 0 0 0;
	}
	.sub-category-list {
		padding: 40px 50px 0 50px;
		li {
			list-style: none;
			display: inline-block;
			width: 170px;
			a {
				display: block;
				font-size: 15px;
				font-weight: normal;
				color: $color-dark-gray;
				margin-bottom: 20px;
				&:hover {
					text-decoration:none;
					font-weight: bold;
				}
			}
		}
		&.col-3 {
			li {
				width: 344px;
			}
		}
		&.col-4 {
			li {
				width: 257px;
			}
		}
	}
}

.main-wrap {
	float: left;
	width: 885px;
	margin-top: 12px;
	margin-bottom: 34px;
}
.main-content {
	float: left;
	width: 885px;
	background: #FFF;
	border: 1px solid #f4eef0;
	margin-top: 12px;
	margin-bottom: 34px;
	padding: 26px 32px;
	position: relative;
	&.home {
		.toolbar-wrap {
			.style-group {
				display: none;
			}
			.search-wrap {
		    display: block;
		    float: right;
		    margin-top: 0px;
			}
		}
	}
	&.q-ask-wrap {
		padding: 15px;
		margin-bottom: 78px;
		.button-group {
			margin-top: 15px;
		}
	}
	h3 {
		font-size: 30px;
		display: block;
	}
	.list-tab {
		display: table;
		width: 100%;
		padding: 0;
		li {
			display: table-cell;
			list-style: none;
			a {
				display: block;
				text-align: center;
				position: relative;
				border-bottom: 1px solid #d2cacc;
				padding: 15px 0 23px 0;
				font-size: 16px;
				font-weight: bold;
				color: #8f8f93;
				&:after {
					content: "";
					width: 1px;
					height: 16px;
					background: #d2cacc;
					position: absolute;
					top: 18px;
					right: 0;
				}
				&.tab-answers {
					.icon {
						display: inline-block;
						background: url(../images/tab-answer-icon.png) -19px 0 no-repeat;
						width: 19px;
						height: 14px;
						margin-right: 12px;
						margin-top: 3px;
					}
				}
				&.tab-adopt {
					.icon {
						display: inline-block;
						background: url(../images/tab-adopt-icon.png) -16px 0 no-repeat;
						width: 16px;
						height: 14px;
						margin-right: 12px;
					}
				}
				&.tab-settle {
					.icon {
						display: inline-block;
						background: url(../images/tab-settle-icon.png) -12px 0 no-repeat;
						width: 12px;
						height: 14px;
						margin-right: 12px;
						margin-top: 3px;
					}
				}
			}
			&.active,
			&:hover {
				a {
					color: #1e86b9;
					border-bottom: 1px solid #1e86b9;
					text-decoration: none;
					&.tab-answers {
						.icon {
							background: url(../images/tab-answer-icon.png) 0 0 no-repeat;
						}
					}
					&.tab-adopt {
						.icon {
							background: url(../images/tab-adopt-icon.png) 0 0 no-repeat;
						}
					}
					&.tab-settle {
						.icon {
							background: url(../images/tab-settle-icon.png) 0 0 no-repeat;
						}
					}
				}
			}
			&:last-child {
				a {
					&:after {
						display: none;
					}
				}
			}
		}
	}
	.toolbar-wrap {
		border-bottom: 1px solid #e0e0e0;
		padding-bottom: 10px;
		.style-group {
			display: block;
			float: left;
			margin-top: 20px;
		}
		.search-wrap {
			display: block;
			float: right;
			margin-top: 20px;
			.select-btn {
				float: left;
				.btn {
					color: $color-light-gray;
					font-size: 14px;
					background: #FFF;
					border: 1px solid $color-border;
					margin-right: 10px;
					height: 24px;
					padding: 0 10px;
					&:focus {
						box-shadow: none;
					}
				}
			}
			.input-group {
				width: 200px;
				float: left;
				margin-right: 10px;
				height: 24px;
				.form-control {
					border: 1px solid $color-border;
					border-right: none;
					box-shadow: none;
					padding: 3px 10px;
					height: 24px;
					&:focus {
						box-shadow: none;
					}
				}
				.btn-search {
					background: url(../images/search-icon.png) no-repeat 0 0;
					background-size: 11px auto;
					background-position: center;
					width: 24px;
					height: 24px;
					border: 1px solid $color-border;
					border-left: none;
				}
			}
		}
	}
	.list-content-wrap {
		&.expand-info {
			.item {
				border-bottom: 1px solid #e0e0e0;
				padding: 20px;
				.waterdrop {
					display: block;
					float: left;
					width: 95px;
					img {
						display: block;
						margin: 20px auto 0 auto;
					}
					span {
						display: block;
						text-align: center;
						margin: 0px auto;
						font-size: 17px;
						color: $color-light-gray;
					}
				}
				.item-context {
					display: block;
					float: left;
					width: 684px;
					.header {
						position: relative;
						.category {
							display: block;
							float: left;
							font-size: 14px;
							color: $color-dark-gray;
							min-width: 60px;
							&:before {
								content: "[ ";
							}
							&:after {
								content: " ]";
							}
						}
						.title {
							font-size: 16px;
							color: $color-dark-gray;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							display: block;
							float: left;
							width: 500px;
							font-weight: bold;
						}
						.comment-counter {
							display: block;
							position: absolute;
							top: 3px;
							right: 60px;
							background: url(../images/comment-icon.png) no-repeat 0 0;
							width: 40px;
							padding-left: 18px;
							height: 12px;
							line-height: 12px;
							color: $color-dark-gray;
						}
						.location {
							position: absolute;
							top: 3px;
							right: 0px;
							width: 50px;
							text-align: center;
							line-height: 12px;
							color: $color-dark-gray;
						}
						.view {
							display: none;
						}
						.like {
							display: none;
						}
					}
					p {
						display: block;
						font-size: 13px;
						color: $color-dark-gray;
						margin-top: 30px;
						margin-bottom: 0;
					}
				}
				@for $i from 10 to 25 {
	        &:nth-child(#{$i}) {
						display: none;
	        }
	      }
			}
			
		}
		&.collapse-info {
			.item {
				border-bottom: 1px solid #e0e0e0;
				padding: 7px 0 5px 0;
				.waterdrop {
					display: block;
					float: left;
					width: 30px;
					margin-right: 10px;
					img {
						display: block;
						margin: 0 auto;
						width: 9px;
						height: 11px;
					}
					span {
						display: block;
						text-align: center;
						margin: 0px auto;
						font-size: 10px;
						color: $color-light-gray;
					}
				}
				.item-context {
					display: block;
					float: left;
					width: 779px;
					.header {
						position: relative;
						.category {
							display: block;
							float: left;
							font-size: 14px;
							color: $color-dark-gray;
							min-width: 60px;
							&:before {
								content: "[ ";
							}
							&:after {
								content: " ]";
							}
						}
						.title {
							font-size: 14px;
							color: $color-dark-gray;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							display: block;
							float: left;
							width: 380px;
							font-weight: bold;
						}
						.comment-counter {
							display: none;						
						}
						.location {
							display: none;
						}
						.view {
							display: block;
							float: right;
							margin-right: 15px;
							background: url(../images/view-icon.png) no-repeat 0 50%;
							padding-left:20px;
							opacity: .8;
						}
						.like {
							display: block;
							float: right;
							margin-right: 10px;
							background: url(../images/heart-icon.png) no-repeat 0 50%;
							padding-left:20px;
							opacity: .8;
						}
					}
					p {
						display: none;
					}
				}
			}
		}
	}
	.btn-more {
		display: block;
		width: 190px;
		margin: 20px auto 0 auto;
	}
	.tutorial-wrap {
		position: absolute;
		top: 60px;
		right: -257px;
		width: 237px;
		padding: 21px 29px 37px 29px;
		background: #FFF;
		-webkit-box-shadow: 0px 7px 9px 5px rgba(0, 0, 0, 0.1);
		-moz-box-shadow:    0px 7px 9px 5px rgba(0, 0, 0, 0.1);
		box-shadow:         0px 7px 9px 5px rgba(0, 0, 0, 0.1);
		&:before {
			content: "";
			width: 20px;
			height: 20px;
			background: #FFF;
			position: absolute;
			top: 15px;
			left: -10px;
			-webkit-transform: rotateZ(45deg);
			-moz-transform: rotateZ(45deg);
			transform: rotateZ(45deg);
		}
		img {
			display: block;
		}
		span {
			font-size: 12px;
			font-weight: bold;
			display: block;
			margin-top: 10px;
			margin-bottom: 5px;
		}
		p {
			font-size: 12px;
			font-weight: normal;
			margin-bottom: 5px;
			strong {
				font-weight: 500;
			}
		}
	}
}
.aside-block {
	padding: 17px 18px;
	background: #FFF;
	border: 1px solid $color-border;
	border-radius: 3px;
	margin-bottom: 10px;
	&.keyword-wrap {
		.header {
			position: relative;
			h3 {
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 300;
				margin-top: 0px;
				margin-bottom: 20px;
			}
			.control-block {
				position: absolute;
				top: 0;
				right: 0;
				a {
					margin-left: 5px;
				}
			}
		}
		
		.keyword-list {
			ol {
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					margin-bottom: 8px;
					display: block;
					a {
						color: $color-dark-gray;
						font-size: 10px;
						font-weight: bold;
						display: block;
						position: relative;
						.pos {
						display: inline-block;
						font-size: 10px;
						font-weight: bold;
						color: $color-blue;
						border: 1px solid $color-blue;
						width: 13px;
						text-align: center;
						border-radius: 2px;
						}	
						.quantity {
							float: right;
							color: $color-light-gray;
							font-weight: normal;
						}
						&:hover {
							text-decoration: none;
							opacity: 0.8;
						}
					}
				}
			}
		}
	}
	&.leader-board-wrap {
		.leader-board-header {
			padding: 0;
			margin: 0;
			display: table;
			width: 100%;
			margin-bottom: 20px;
			li {
				list-style: none;
				display: table-cell;
				text-align: center;
				a {
					color: $color-light-gray;
					font-size: 14px;
					border-bottom: 3px solid transparent;
					padding-bottom: 6px;
					&:hover {
						text-decoration: none;
					}
				}
				&:first-child {
					border-right: 1px solid $color-light-gray;
				}
				&.active {
					a {
						border-bottom: 3px solid $color-blue;
						text-decoration: none;
						color: $color-dark-gray;
					}
				}
			}
		}
	}
}
.leader-board-content {
	position: relative;
	ol {
		padding: 0;
		li {
			list-style: none;
			display: block;
			margin-bottom: 25px;
			a {
				display: block;
				clear: both;
				&:hover {
					text-decoration: none;
				}
				.number {
					font-size: 14px;
					color: $color-orange;
					display: block;
					float: left;
					margin-right: 8px;
					font-weight: bold;
				}
				.user-img {
					display: block;
					float: left;
					margin-right: 8px;
					width: 33px;
					height: 33px;
					border: 1px solid $color-light-gray;
					border-radius: 3px;
					overflow: hidden;
					img {
						object-fit: cover;
						object-position: center;
						max-width: 100%;
						height: 33px;
					}
				}
				.user-info {
					display: block;
					float: left;
					color: $color-light-gray;
					.user-name {
						font-size: 14px;
						display: block;
						line-height: 14px;
					}
					.rank {
						display: inline-block;
						margin-right: 25px;
						img {
							width: 14px;
						}
					}
					.point {
						img {
							width: 9px;
							height: auto;
						}
					}
				}
				.title {
					margin-top: 3px;
					display: block;
					float: left;
					font-size: 12px;
					color: $color-dark-gray;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					width: 190px;
				}
			}
		}
	}
	.more {
		top: 105%;
	}
}
.ads-img {
	margin: 10px 0;
	img {
		max-width: 100%;
    width: 240px;
    display: block;
    text-align: center;
    margin: 0 auto;
	}
}
.sponsor-wrap {
	h3 {
		display: block;
		font-weight: bold;
		font-size: 14px;
		color: $color-light-gray;
	}
	img {
		width: 100%;
		max-width: 100%;
	}
}
.user-panel {
	padding: 20px;
	height: 260px;
	h3 {
		display: inline-block;
		margin: 0 0 13px 0;
		color: $color-dark-blue;
		font-size: 24px;
		text-transform: uppercase;
	}
	.user-id {
		display: inline-block;
		color: $color-light-gray;
		font-size: 18px;
	}
	.btn-edit {
		background: url(../images/edit-icon.png) no-repeat 0 0;
		width: 19px;
		height: 17px;
		float: right;
		border: none;
		margin-top: 3px;
	}
	.user-img {
		width: 136px;
		height: 136px;
		display: block;
		float: left;
		overflow: hidden;
		img {
			display: block;
			max-width: 100%;
			border-radius: 4px;
			object-fit: cover;
			height: 100%;
		}
	}
	.level {
		margin-right: 20px;
	}
	.point {
		margin-right: 20px;
	}
	.user-description {
		display: block;
		float: left;
		width: 260px;
		padding-left: 20px;
		.introduction {
			margin-top: 10px;
			background: #f9f9f9;
			border: 1px solid #eaeaea;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			padding: 10px 15px;
			position: relative;
			span {
				font-weight: bold;
			}
			&:before {
				content: "";
				position: absolute;
				top: 20px;
				left: -8px;
				background: #f9f9f9;
				border: 1px solid #eaeaea;
				border-right: none;
				border-top: none;
				width: 15px;
				height: 15px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
				-moz-transform: rotate(45deg);  /* FF3.5/3.6 */
				-o-transform: rotate(45deg);  /* Opera 10.5 */
				-webkit-transform: rotate(45deg);  /* Saf3.1+ */
				transform: rotate(45deg);
			}
		}
	}
	
}
.user-level {
	background: url(../images/status-bg.png) !important;
	background-repeat: repeat-y !important;
	background-size: 100%;
	padding: 20px;
	height: 260px;
	position: relative;
	.header-level {
		display: inline-block;
		margin: 0 0 13px 0;
		color: #FFF;
		font-size: 24px;
		text-transform: uppercase;
	}
	.btn-question {
		background: url(../images/question-icon-border.png) no-repeat;
		width: 19px;
		height: 19px;
		float: right;
		border: none;
		margin-top: 5px;
	}
	.progress-wrap {
		position: relative;
		margin-top: 60px;
		.current-level {
			float: left;
			margin-top: -8px;
			img {
				display: block;
				border-radius: 50%;
				-webkit-box-shadow: 0px 0px 13px 6px rgba(123, 255, 255,1);
				-moz-box-shadow:    0px 0px 13px 6px rgba(123, 255, 255, 1);
				box-shadow:         0px 0px 13px 6px rgba(123, 255, 255, 1);
			}
			
		}
		.next-level {
			position: absolute;
			float: right;
			top: -5px;
			right: 15px;
			img {
				display: block;
				transform: rotate(45deg);
				-webkit-box-shadow: 0px 0px 8px 3px rgba(123, 255, 255,1);
				-moz-box-shadow:    0px 0px 8px 3px rgba(123, 255, 255, 1);
				box-shadow:         0px 0px 8px 3px rgba(123, 255, 255, 1);
			}
		}
		.progress {
			margin-top: 10px;
			height: 12px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			margin-left: 45px;
			margin-right: 50px;
			overflow: visible;
			.progress-bar {
				background-color: $color-orange;
				position: relative;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				.point {
					position: absolute;
					top: -30px;
					right: -10px;
					background: url(../images/water-blue.png) #FFF 7px 50% no-repeat;
					background-size: 10px 13px;
					padding: 4px 10px 4px 22px;
					line-height: 11px;
					font-size: 11px;
					border-radius: 20px;
					-moz-border-radius: 20px;
					-webkit-border-radius: 20px;
					color: $color-light-gray;
					&:after {
						content: "";
						position:absolute;
						width: 0;
						height: 0;
						border-top: 5px solid #FFF;
						border-left: 5px solid transparent;
						bottom: -5px;
						right: 10px;
					}
				}
			}
		}
	}
	.detail-info {
		background-color: #FFF;
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 25px 0 10px 0;
		ul {
			display: table;
			width: 100%;
			padding: 0;
			li {
				list-style: none;
				display: table-cell;
				position:relative;
				span {
					display: block;
					text-align: center;
					&.number {
						font-size: 26px;
						color: $color-dark-gray;
					}
					&.type {
						font-size: 11px;
						color: $color-light-gray;
					}
				}
				&:after {
					content: "";
					position: absolute;
					width: 1px;
					height: 35px;
					background-color: #ebebeb;
					right: 0;
					top: 2px;
				}
				&:last-child {
					&:after {
						content: "";
						display: none;
					}
				}
				&.color-blue {
					&:before {
						content: "";
						position: absolute;
						top: -5px;
						left: 50%;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						-moz-border-radius: 50%;
						-webkit-border-radius: 50%;
						background: $color-blue;
					}
				}
				&.color-red {
					&:before {
						content: "";
						position: absolute;
						top: -5px;
						left: 50%;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						-moz-border-radius: 50%;
						-webkit-border-radius: 50%;
						background: $color-red;
					}
				}
				&.color-orange {
					&:before {
						content: "";
						position: absolute;
						top: -5px;
						left: 50%;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						-moz-border-radius: 50%;
						-webkit-border-radius: 50%;
						background: $color-orange;
					}
				}
				&.color-green {
					&:before {
						content: "";
						position: absolute;
						top: -5px;
						left: 50%;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						-moz-border-radius: 50%;
						-webkit-border-radius: 50%;
						background: $color-green;
					}
				}
			}
		}
	}
}
.list-panel {
	padding: 20px;
	.header {
		position: relative;
		h3 {
			display: block;
			float: left;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			color: $color-dark-gray;
			margin: 0 5px 0 0;
			padding-left: 30px;
			background: url(../images/talk-icon.png) no-repeat 0 0;
			span {
				color: $color-blue;
			}
		}
		.quantity {
			display: block;
			float: left;
			color: $color-light-gray;
			font-size: 16px;
			margin-top: -3px;
		}
		.more {
			top: 0px;
		}
	}
	.list-content {
		
		font-size: 16px;
		margin-top: 20px;
		padding: 0 20px;
		.table {
			tr {
				td {
					border-top: none;
					border-bottom: 1px solid #f3f2f2;
					color: #606161;
				}
			}
		}
		.title {
			font-weight: 500;
		}
		.category {
			width: 135px;
		}
		.check {
			background: url(../images/check-icon.png) no-repeat 0 50%;
			padding-left: 22px;
			width: 75px;
		}
		.comment {
			background: url(../images/comment-icon-line.png) no-repeat 0 50%;
			padding-left: 22px;
			width: 75px;
		}
		.view {
			background: url(../images/view-icon.png) no-repeat 0 50%;
			padding-left: 22px;
			width: 90px;
		}
	}
}
.main-topic {
	border-top: 1px solid $color-gray;
	&.gold-comment {
		border-top: none;
		margin-top: -20px;
		.header {
			.icon {
				display: block;
		    float: left;
		    margin-left: 27px;
		    color: #FFF;
		    text-transform: uppercase;
		    text-align: center;
		    font-weight: bold;
		    &.gold-icon {
		    	background: url(../images/gold-medal.png) no-repeat;
		    	width: 90px;
					height: 95px;
		    }
			}
		}
		.content {
			p {
				img {
					max-width: 100%;
				}
			}
		}
		.user-wrap {
			margin-top: 40px;
		}
		.comment-box {
			&:before {
				content: "";
				display: block;
				height: 20px;
			}
		}
	}
	&.silver-comment {
		border-top: none;
		margin-top: -20px;
		.header {
			.icon {
				display: block;
		    float: left;
		    margin-left: 27px;
		    color: #FFF;
		    text-transform: uppercase;
		    text-align: center;
		    font-weight: bold;
		    &.silver-icon {
		    	background: url(../images/silver-medal.png) no-repeat;
		    	width: 90px;
					height: 95px;
		    }
			}
		}
		.user-wrap {
			margin-top: 40px;
		}
	}
	.header {
		position: relative;
		.icon {
			display: block;
			float: left;
			margin-left: 27px;
			color: #FFF;
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
			&.icon-share {
				background: url(../images/share-bg.png) no-repeat;
				width: 72px;
				height: 89px;
				.share-text {
					display: block;
					background: url(../images/six-star-icon.png) no-repeat 50% 0;
					padding-top: 25px;
					margin-top: 15px;
				}
			}
			&.icon-default {
				background: url(../images/title-bg.png) no-repeat;
				width: 75px;
				height: 99px;
				.water-text {
					display: block;
					background: url(../images/water-blue2x.png) no-repeat 50% 0;
					padding-top: 40px;
					margin-top: 15px;
					font-size: 20px;
					color: $color-dark-gray;
				}
			}
		}
		.title-wrap {
			display: block;
			float: left;
			margin-left: 40px;
			.title {
				font-size: 24px;
				font-weight: bold;
			}
			.user-name {
				display: inline-block;
				font-size: 14px;
				color: $color-dark-gray;
				margin-right: 10px;
			}
			.date,
			.time {
				color: $color-gray;
				font-size: 14px;
			}
			.view {
				background: url(../images/view-icon.png) 0 50% no-repeat;
				background-size: 13px 8px;
				color: $color-gray;
				padding-left: 18px;
				margin-left: 10px;
			}
			.comment {
				background: url(../images/comment-icon-line.png) 0 50% no-repeat;
				background-size: 16px 16px;
				color: $color-gray;
				padding-left: 18px;
				margin-left: 10px;
			}
		}
	}
	.content {
		margin-top: 20px;
		p {
			font-size: 18px;
			color: $color-dark-gray;
			margin-bottom: 50px;
			line-height: 25px;
		}
		.source {
			color: $color-gray;
		}
	}
	.social-wrap {
		margin-top: 100px;
		ul {
			float: right;
			padding: 0;
			li {
				list-style: none;
				display: inline-block;
				&.like {
					margin-right: 24px;
					span {
						position: relative;
						height: 26px;
						padding: 3px 10px;
						font-size: 18px;
						line-height: 18px;
						-webkit-border-radius: 13px;
						-moz-border-radius:    13px;
						border-radius:         13px;
						-webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.15);
						-moz-box-shadow:    2px 2px 7px 0px rgba(0, 0, 0, 0.15);
						box-shadow:         2px 2px 7px 0px rgba(0, 0, 0, 0.15);
						margin: 3px 10px 0 0;
						&:after {
							content: "";
							display: block;
							position: absolute;
							width: 0;
							height: 0;
							top: 12px;
							right: -4px;
							border-top: 5px solid #FFF;
							border-right: 5px solid transparent;
						}
					}
				}
			}
		}
	}
	.user-wrap {
		background: $color-gray-bg;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding: 15px 17px;
		position: relative;
		.user-img {
			width: 89px;
			height: 89px;
			overflow: hidden;
			border-radius: 5px;
			float: left;
			img {
				max-width: 100%;
				height: 89px;
				object-fit: cover;
				object-position: center;
			}
		}
		.user-description {
			float: left;
			margin-left: 15px;
			width: 333px;
			h3 {
				font-size: 24px;
				text-transform: uppercase;
				display: block;
				float: left;
				margin: 0;
				color: $color-dark-blue;
				line-height: 24px;
				margin-top: -2px;
				margin-bottom: 5px;
			}	
			.user-id {
				display: block;
				float: left;
				color: $color-light-gray;
				font-size: 14px;
				margin: 2px 0 0 5px;
			}
			.introduction {
				display: block;
				width: 333px;
				background: #FFF;
				padding: 3px 10px;
				-webkit-border-radius: 5%;
				-moz-border-radius: 5%;
				border-radius: 5%;
				span {
					font-weight: bold;
					font-size: 14px;
				}
				p {
					line-height: 18px;
					margin-bottom: 0;
					font-size: 12px;
				}
			}
		}
		.user-info {
			display: block;
			float: left;
			margin-left: 25px;
			width: 347px;
			color: $color-light-gray;
			.level {
				margin-right: 18px;
				font-size: 12px;
				img {
					width: 27px;
					margin-right: 10px;
				}
			}
			.point {
				margin-right: 18px;
				font-size: 12px;
				img {
					width: 14px;
					margin-right: 10px;
				}
			}
			.rank {
				margin-right: 18px;
				font-size: 12px;
				img {
					width: 23px;
					margin-right: 10px;
				}
			}
			.text {
				display: inline-block;
				float: left;
				width: 140px;
				margin-top: 20px;
				position: relative;
				padding-left: 10px;
				color: $color-light-gray;
				&:before {
					content: "";
					width: 6px;
					height: 6px;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					background: $color-green;
					position: absolute;
					top: 5px;
					left: 0;
				}
			}
			.btn-mentee {
				position: absolute;
				bottom: 15px;
				right: 17px;
			}
		}
	}
}
.comment-box {
	&.gray-box {
		background: $color-gray-bg;
		padding: 20px;
	}

	&.reply-box {
		padding: 0 20px;
		&:after {
			content: "";
			height: 20px;
		}
	}
	.user-img {
		width: 65px;
		height: 65px;
		overflow: hidden;
		border-radius: 5px;
		float: left;
		img {
			max-width: 100%;
			object-fit: cover;
			object-position: center;
			height: 65px;
		}
	}
	.text-editor {
		margin-left: 10px;
		float: left;
		width: 728px;
		textarea {
			width: 100%;
			max-width: 100%;
		}
	}
	
}
.comment-list {
	margin-top: 48px;
	.item {
		.main-comment {
			border-bottom: 1px solid #ddd9da;
			padding-bottom: 20px;
			margin-bottom: 20px;
		}
		.user-img {
			width: 65px;
			height: 65px;
			float: left;
			position: relative;
			img {
				max-width: 100%;
				height: 65px;
				object-fit: cover;
				object-position: center;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
			.popup {
				display: none;
			}
			&:hover {
				cursor: pointer;
				&:after {
					content:"";
					width: 65px;
					height: 10px;
					background: transparent;
					position: absolute;
					bottom: -10px;
					left: 0;
				}
				.popup {
					position: absolute;
					display: block;
					top: 75px;
					left: 20px;
					width: 368px;
					border: 1px solid $color-border;
					-webkit-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.13);
					-moz-box-shadow:    4px 4px 9px 0px rgba(0, 0, 0, 0.13);
					box-shadow:         4px 4px 9px 0px rgba(0, 0, 0, 0.13);
					background: #FFF;
					z-index: 99999;
					padding: 20px;
					.popup-user-img {
						width: 65px;
						height: 65px;
						float: left;
						img {
							max-width: 100%;
							height: 65px;
							object-fit: cover;
							object-position: center;
							-webkit-border-radius: 5px;
							-moz-border-radius: 5px;
							border-radius: 5px;
						}
					}
					.popup-user-info {
						display: block;
						float: left;
						margin-left: 10px;
						width: 250px;
						position: relative;
						.user-name {
							font-size: 18px;
							color: $color-dark-blue;
							display: inline-block;
							margin-right: 5px;
						}
						.user-id {
							color: $color-gray;
							font-size: 12px;
						}
						.rank {
							color: $color-light-gray;
							font-size: 12px;
							margin-right: 10px;
							margin-top: 7px;
							float: right;
						}
						.point {
							display: inline-block;
							color: $color-light-gray;
							font-size: 12px;
							background: url(../images/water-gray.png) 0 3px no-repeat;
							background-size: 7px 9px;
							padding-left: 10px;
							margin-top: 7px;
							float: right;
							margin-right: 0;
						}
						.level {
							display: inline-block;
							margin-top: 12px;
							img {
								height: 25px;
							}
						}
						.btn-mentee {
							position: absolute;
							bottom:0px;
							right: 0px;
						}
					}
				}
			}
		}
		.comment-content {
			float: left;
			margin-left: 10px;
			width: 768px;
			.comment-info {
				margin-top: -3px;
				.user-name {
					font-size: 18px;
					font-weight: bold;
					margin-right: 25px;
					color: $color-dark-gray;
				}
				.date {
					color: $color-light-gray;
					font-size: 14px;
				}
				.time {
					color: $color-light-gray;
					font-size: 14px;
				}
			}
			p {
				font-size: 18px;
			}
			
		}
		.item {
			margin-left: 45px;
			border-bottom: none;
			.comment-content {
				width: 723px;
			}
		}
	}
}
.comment-action {
	margin-top: 25px;
	ul {
		padding: 0;
		float: right;
		margin: 0;
		li {
			list-style: none;
			display: inline-block;
			margin-left: 10px;
			.btn-like {
				background: url(../images/heart-icon.png) transparent no-repeat 0 50%;
				padding-left: 20px;
				color: #828286;
				&:hover,
				&:focus {
					color: $color-light-gray;
					box-shadow: none;
				}
			}
			.btn-dislike {
				background: url(../images/bell-icon.png) transparent no-repeat 0 50%;
				padding-left: 20px;
				color: #828286;
				&:hover,
				&:focus {
					color: $color-light-gray;
					box-shadow: none;
				}
			}
			.comment {
				background: url(../images/comment-icon-line.png) transparent no-repeat 0 50%;
				padding-left: 25px;
				display: inline-block;
				height: 22px;
				margin-right: 10px;
			}
			
		}
	}
}
.back-list {
	margin-top: 20px;
	border-top: 1px solid #ddd9da;
	padding: 10px 0 0 0;
}
.tags-search-wrap {
	margin: 15px 0;
	.search-wrap {
		display: block;
		float: right;
		input {
	    background: url(../images/search-icon.png) no-repeat 95% 50% #FFF;
	    padding: 3px 30px 3px 10px;
	    border: 1px solid $color-gray;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
		}
	}
}
.select-location-wrap {
	margin-bottom: 10px;
}
.tags-wrap {
	display: block;
	float: left;
	&.q-ask-tags {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
		.bootstrap-tagsinput {
			width: 100%;
			border-radius: 0;
			border-left: none;
			border-top-right-radius: 3px;
    	border-bottom-right-radius: 3px;
    	box-shadow: none;
    	background: url(../images/search-icon.png) no-repeat 99% 55%;
    	padding: 6px 6px;
    	.label-info {
    		background: #F6f6f6;
    		color: $color-light-gray;
    		padding: 6px 10px;
    		-webkit-border-radius: 12px;
    		-moz-border-radius: 12px;
    		border-radius: 12px;
    		[data-role="remove"] {
    			opacity: 0.6;
    		}
    	}
		}
	}
	.tag-item {
		display: inline-block;
		background: #FFF;
		padding:0 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-right: 5px;
		.btn-remove-tag {
			background: none;
			border: none;
			padding: 0;
			margin: 0 0 0 3px;
		}
	}
}
.checkbox-wrap {
	margin-bottom: 40px;
	label {
		font-weight: normal;
		margin-right: 20px;
	}
}
.comment-wrap {
	margin: 20px 0;
	position: relative;
	.btn-show-comment {
		float: right;
	}
}
.title-wrap {
	position: relative;
	.title-box {
		width: 100%;
		padding: 5px 10px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #d2cacc;
	}
	.input-counter {
	  display: block;
    position: absolute;
    width: 100px;
    z-index: 99;
    bottom: 2px;
    background: transparent;
    border: none;
    color: #9aa3a6;
    font-size: 10px;
    right: 5px;
    text-align: right;
	}
}
.text-editor-wrap {
	margin-top: 10px;
	textarea {
		width: 100%;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #d2cacc;
	} 
}
.q-ask-info-wrap {
	clear: both;
	background: #f6f6f6;
	padding: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #eff3f5;
	.btn-back-list {
		float: left;
	}
	.row-title {
		display: block;
		font-size: 14px;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}
	.waterdrop-wrap {
		margin-top: 10px;
		.title {
			display: block;
			float: left;
			font-size: 14px;
		}
		.help-icon {
			display: block;
			float: left;
			margin-left: 5px;
			background: none;
		}
		.slider-container {
			margin-top: 5px;
			width: 265px;
			float: left;
			-webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
			position: relative;
			background: #f6f6f6;
			
		}
		.amount {
			margin: 7px 5px 0 25px; 
			width: 60px;
			height: 24px;
			border-radius: 12px;
			border: 1px solid #ccc;
			text-align: center;
		}
	}
	.checkbox-wrap {
		margin-top: 15px;
		margin-bottom: 0;
	}
	.radio-wrap {
		label {
			font-size: 14px;
			font-weight: normal;
			margin-right: 15px;
			cursor: pointer;
		}
	}
}
