/*
    dimension definition
*/
$width-mobile: 480px;
$width-tablet: 768px;
$width-desktop: 992px;
$width-large-desktop: 1200px;

/*
    colour definition
*/
/*
    corp colour guide
*/
$color-black: #000;
$color-white: #fff;
$color-blue: #5db7e3;
$color-dark-blue: #4881c2;
$color-dark-gray: #545756;
$color-light-gray: #989899;
$color-gray: #c7c7ca;
$color-orange: #f66d12;
$color-green: #0ec73e;
$color-red: #fa6666;
$color-border: #f4eef0;
$color-gray-btn: #9d9494;
$color-gray-bg: #f6f6f6;
