/*
    dimension definition
*/
/*
    colour definition
*/
/*
    corp colour guide
*/
@import url(./jquery-ui.css);
@import url(./mentor2.css);
@import url(./layout.css);
@import url(./slider-range.css);
@import url(./etc.css);
body {
  background: #f6f6f6;
  min-width: 992px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ddd9da;
}

.container {
  min-width: 1164px !important;
  width: 1164px;
}

.panel {
  display: block;
  border: 1px solid #f4eef0;
  background: #FFF;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 10px;
}

.panel.col-left {
  margin-right: 1%;
}

.panel-50 {
  width: 49.5%;
  float: left;
}

.panel-100 {
  width: 100%;
}

.panel-100.left-wrap {
  padding: 20px;
}

.header-wrap {
  padding: 0 0 22px 0;
}

.header-wrap .logo {
  display: block;
  width: 144px;
  float: left;
}

.header-wrap .logo img {
  max-width: 100%;
  margin-top: 7px;
}

.header-wrap .webname a {
  display: block;
  float: left;
  margin-left: 20px;
}

.header-wrap .profile-wrap {
  float: right;
}

.header-wrap .btn-profile {
  background: #FFF;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 3px 3px;
}

.header-wrap .btn-profile img {
  margin-right: 30px;
}

.header-wrap .btn-profile .caret {
  margin-left: 30px;
  color: #4881c2;
}

.header-wrap .btn-profile:hover, .header-wrap .btn-profile:focus {
  color: #545756;
}

.menu-wrap {
  background: #5db7e3;
  height: 46px;
}

.menu-wrap ul {
  padding: 0;
  margin: 0;
  float: left;
  height: 46px;
}

.menu-wrap ul li {
  padding: 0 18px;
  list-style: none;
  display: inline-block;
}

.menu-wrap ul li a {
  text-transform: uppercase;
  font-size: 14px;
  color: #FFF;
  line-height: 43px;
  display: block;
  border-bottom: 3px solid transparent;
}

.menu-wrap ul li.active a, .menu-wrap ul li:hover a {
  font-weight: bold;
  border-bottom: 3px solid #4881c2;
  text-decoration: none;
}

.menu-wrap .search-wrap {
  float: right;
}

.menu-wrap .search-wrap input {
  background: url(../images/search-icon.png) no-repeat 95% 50% #FFF;
  padding: 3px 30px 3px 10px;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  margin-right: 10px;
}

.notice-wrap {
  background: #FFF;
}

.notice-wrap h3 {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  float: left;
  background: url(../images/notice-icon.png) no-repeat 10px 50%;
  width: 100px;
  color: #545756;
  padding: 10px 5px 10px 35px;
  margin: 0;
}

.notice-wrap a {
  display: inline-block;
  line-height: 35px;
  color: #545756;
}

.notice-wrap a:hover, .notice-wrap a:focus {
  text-decoration: none;
}

.more {
  position: absolute;
  right: 0.5%;
  top: 10px;
  font-size: 14px;
  color: #989899;
  text-decoration: underline;
  font-weight: normal;
}

.arrow-up-icon {
  float: right;
  background: url(../images/arrow-up-icon.png) no-repeat 0 0;
  display: block;
  width: 17px;
  height: 17px;
}

.arrow-down-icon {
  float: right;
  background: url(../images/arrow-up-icon.png) no-repeat 0 0;
  transform: rotateX(-180deg);
  display: block;
  width: 17px;
  height: 17px;
}

.help-icon {
  background: url(../images/question-icon.png) no-repeat 0 0;
  background-size: 100%;
  display: block;
  width: 24px;
  height: 24px;
  float: left;
}

.btn:hover {
  opacity: 0.8;
  color: #FFF;
}

.btn-orange {
  background: #f66d12;
  font-weight: bold;
  font-size: 16px;
  color: #FFF;
  text-transform: uppercase;
  width: 49%;
}

.btn-blue {
  background: #5db7e3;
  font-weight: bold;
  font-size: 16px;
  color: #FFF;
  text-transform: uppercase;
  width: 49%;
}

.btn-gray {
  background: #9d9494;
  font-weight: bold;
  font-size: 16px;
  color: #FFF;
  text-transform: uppercase;
}

.btn-gray:hover, .btn-gray:focus {
  color: #FFF;
  text-decoration: none;
}

.btn-dark-blue {
  background: #4881c2;
  font-weight: bold;
  font-size: 16px;
  color: #FFF;
  text-transform: uppercase;
}

.btn-dark-blue:hover, .btn-dark-blue:focus {
  color: #FFF;
  text-decoration: none;
}

.btn-help,
.btn-connect {
  display: block;
  margin-top: 10px;
  width: 100%;
}

.btn-report {
  position: absolute;
  top: 16px;
  right: 0;
  background: url(../images/bell-icon.png) transparent 0 0 no-repeat;
  background-size: 15px;
  padding: 0 0 0 20px;
  height: 15px;
  border: none;
  border-radius: 0;
  font-size: 14px;
}

.btn-report:hover {
  color: #545756;
}

.btn-ask img,
.btn-share img {
  margin-top: -3px;
}

.btn-ask:hover, .btn-ask:focus,
.btn-share:hover,
.btn-share:focus {
  color: #FFF;
}

.btn-mentee {
  background: url(../images/add-icon.png) no-repeat 10px 50%;
  border-radius: 12px;
  padding: 0 10px 0 25px;
  border: 1px solid #989899;
  float: right;
  margin-top: 20px;
  color: #989899;
}

.btn-mentee:hover {
  color: #989899;
}

.btn-back-list {
  background: url(../images/back-to-list-icon.png) #FFF 0 0;
  width: 31px;
  height: 31px;
  border: none;
  float: right;
}

.btn-show-comment {
  border: 1px solid #c7c7ca;
  background: url(../images/comment-icon-gray.png) transparent no-repeat 20px 50%;
  padding: 3px 15px 3px 45px;
  text-transform: uppercase;
  color: #828286;
}

.btn-show-comment:hover, .btn-show-comment:focus {
  color: #989899;
  box-shadow: none;
}

.btn-collapse-info {
  background: url(../images/collapse-info-icon.png) 24px 0;
  width: 24px;
  height: 23px;
  border: none;
  box-shadow: none;
}

.btn-collapse-info:hover, .btn-collapse-info.active {
  background: url(../images/collapse-info-icon.png) 0 0;
  box-shadow: none;
}

.btn-expand-info {
  background: url(../images/expand-info-icon.png) 24px 0;
  width: 24px;
  height: 23px;
  border: none;
  box-shadow: none;
}

.btn-expand-info:hover, .btn-expand-info.active {
  background: url(../images/expand-info-icon.png) 0 0;
  box-shadow: none;
}

.button-group {
  margin-top: 5px;
}

.button-group .btn-save {
  background: url(../images/save-icon.png) #f66d12 no-repeat 20px 50%;
  width: 110px;
  padding-left: 30px;
}

.button-group .btn-discard {
  background: url(../images/discard-icon.png) #989899 no-repeat 15px 50%;
  width: 125px;
  padding-left: 30px;
}

.button-group .btn-post {
  width: 138px;
  float: right;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.select-form {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 5px 10px;
  background: url(../images/arrow-down-icon.png) #FFF no-repeat 95% 50%;
}

.select-form.select-location {
  border: 1px solid #d2cacc;
  border-left: none;
  width: 230px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.search-box {
  background: url(../images/search-icon.png) no-repeat 95% 50% #FFF;
  padding: 5px 30px 5px 10px;
  border: 1px solid #989899;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 10px;
}

.breadcrumb-wrap ul {
  padding: 0;
}

.breadcrumb-wrap ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.breadcrumb-wrap ul li:after {
  content: "";
  position: absolute;
  right: -9px;
  top: 7px;
  background: url(../images/arrow-left.png) no-repeat;
  width: 6px;
  height: 10px;
}

.breadcrumb-wrap ul li a {
  color: #545756;
  font-size: 16px;
}

.breadcrumb-wrap ul li:first-child a {
  text-transform: uppercase;
}

.breadcrumb-wrap ul li:last-child:after {
  display: none;
}

footer {
  margin-bottom: 50px;
}

footer .footer-menu {
  margin: 0 20px;
  border-top: 1px solid #989899;
}

footer .footer-menu ul {
  padding: 0;
  display: block;
  margin: 20px auto;
  text-align: center;
}

footer .footer-menu ul li {
  list-style: none;
  display: inline-block;
}

footer .footer-menu ul li a {
  display: block;
  color: #989899;
  padding: 0 13px;
  font-size: 14px;
  position: relative;
}

footer .footer-menu ul li a:hover {
  text-decoration: none;
}

footer .footer-menu ul li a:after {
  content: "";
  width: 1px;
  height: 8px;
  background: #989899;
  position: absolute;
  top: 7px;
  right: 0px;
}

footer .footer-menu ul li:last-child a:after {
  display: none;
}

footer .footer-menu .copyright {
  display: block;
  margin: 0 auto;
  text-align: center;
}

footer .footer-menu .copyright img {
  width: 93px;
  height: auto;
  margin-top: -5px;
}

.paging-wrap ul {
  display: block;
  padding: 0;
  margin: 20px 0 0 0;
  text-align: center;
}

.paging-wrap ul li {
  display: inline-block;
  list-style: none;
  font-size: 13px;
  text-align: center;
}

.paging-wrap ul li.paging {
  height: 12px;
}

.paging-wrap ul li a {
  display: block;
  font-weight: bold;
  color: #545756;
  width: 22px;
  height: 21px;
  line-height: 19px;
}

.paging-wrap ul li a.active, .paging-wrap ul li a:hover {
  border: 1px solid #545756;
  color: red;
  text-decoration: none;
}

.paging-wrap ul li a.page-button {
  width: 10px;
  height: 16px;
  position: relative;
}

.paging-wrap ul li a.page-button:hover {
  border: none;
  opacity: 0.8;
}

.paging-wrap ul li a.page-button.first-page {
  background: url(../images/paging-icon.png) no-repeat 0 0;
}

.paging-wrap ul li a.page-button.prev-page {
  background: url(../images/paging-icon.png) no-repeat -10px 0;
  margin-right: 10px;
}

.paging-wrap ul li a.page-button.next-page {
  background: url(../images/paging-icon.png) no-repeat -20px 0;
  margin-left: 10px;
}

.paging-wrap ul li a.page-button.last-page {
  background: url(../images/paging-icon.png) no-repeat -30px 0;
}

/* Topbar menu common */
.s_gnb_wrap {
  width: 100%;
  min-width: 1144px;
  background: #5db7e3;
  z-index: 1;
}

.s_gnb {
  position: relative;
  margin: 0 auto;
  width: 1144px;
  background: #1c7fd3;
}

.s_gnb .btn {
  float: left;
  margin-top: 7px;
  padding: 0 0 0 28px;
  height: 22px;
  color: #5db7e3;
  text-decoration: none;
  background: #fff url("../images/btn_location.png") 4px 4px no-repeat;
  border-radius: 9px;
}

.s_gnb .btn em {
  float: left;
  line-height: 22px;
  font-style: normal;
}

.s_gnb .btn .triangle {
  float: right;
  padding: 9px;
}

.location_con {
  position: absolute;
  top: 45px;
  display: none;
  width: 100%;
  background: #fff;
  border: 3px solid #5db7e3;
  border-radius: 5px;
  z-index: 999;
}

.location_con .container-popup {
  position: relative;
  width: 1138px !important;
  padding: 15px 15px 20px;
}

.location_con .container-popup > a.p-pointer {
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
}

.location_con .container-popup > a.p-pointer img {
  width: 30px;
  height: 30px;
}

.container-popup > li {
  list-style: none;
}

.container-popup > li > dl:first-child {
  width: 100%;
}

.container-popup > li .country {
  padding: 13px 0;
  font-size: 16px;
  color: #1c7fd3;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px dashed #e6e6e6;
}

.locate_list {
  display: table;
  width: 100%;
}

.container-popup > li dl dd {
  float: none;
  display: block;
  padding: 3px 0;
}

.container-popup > li .line {
  display: none;
}

.location_con div {
  position: relative;
  padding: 15px 15px 20px;
}

.locate_list dl.ct_wrap {
  display: table-cell;
  width: 20%;
}

.container > li dl.ct_wrap {
  min-height: 115px;
}

.container-popup > li dl .state {
  padding: 13px 0;
  width: 100%;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.container-popup > li dl .state a {
  color: #333;
  text-decoration: none;
}

.container-popup > li dl dd {
  float: none;
  display: block;
  padding: 3px 0;
}

.container-popup > li dl .city a {
  color: #333;
  text-decoration: none;
}

.container-popup > li dl .state a:hover, .container > li dl .city a:hover {
  color: #00C;
}

.menu {
  float: right;
  margin-right: -1px;
  font-size: 0;
  line-height: 0;
}

div.menu a {
  display: inline-block;
  padding: 0 4px;
  height: 36px;
  line-height: 36px;
  font-size: 11px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

div.menu a:first-child {
  background: none;
}

.menu a.more {
  position: relative;
  padding-right: 14px;
  top: 0;
}

.menu a.more:after {
  position: absolute;
  right: 0;
  top: 15px;
  display: block;
  content: "";
  width: 8px;
  height: 5px;
  background: url("../images/bg_more.png") right 0 no-repeat;
}

.more_wrap {
  position: absolute;
  right: 65px;
  top: 36px;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #aaa;
  z-index: 3;
}

.more_wrap ul {
  overflow: hidden;
  margin: 0 -1px;
  width: 280px;
  padding-left: 0;
}

.more_wrap li {
  position: relative;
  display: inline-block;
}

.more_wrap li {
  position: relative;
  display: inline-block;
}

.more_wrap li a {
  color: #000;
  position: relative;
}

.more_wrap li:after {
  position: absolute;
  top: 12px;
  left: -1px;
  display: block;
  content: "";
  width: 1px;
  height: 12px;
  background: #d9d9d9;
}

div.menu a:first-child {
  background: none;
}

a.btn_log {
  float: right;
  margin: 8px 0 0 0;
  padding: 0 8px;
  height: 22px;
  /* width: 55px; */
  color: #5db7e3;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  background: #fff;
  border: 3px double transparent;
  border-radius: 10px;
  /* box-shadow: #000 3px 3px 8px; */
}

.p-translate {
  float: right;
  margin: 5px 0 0 10px;
}

.goog-te-gadget {
  font-family: arial;
  font-size: 11px;
  color: #666;
  white-space: nowrap;
}

.lang {
  display: inline-block;
  padding: 0 13px;
  vertical-align: top;
}

/*# sourceMappingURL=common.css.map */