/*
    dimension definition
*/
/*
    colour definition
*/
/*
    corp colour guide
*/
@media (min-width: 768px) {
  .mobile-menu-wrap {
    display: none;
  }
  .pc-menu-wrap {
    display: block;
  }
}

@media (max-width: 767px) {
  .mobile-menu {
    display: block;
  }
  .pc-menu-wrap {
    display: none;
  }
  #topbar {
    display: none;
  }
}

@media (max-width: 1200px) {
  .feature-function {
    margin: 45px 0 61px 0;
    border-top: 1px solid #ebf0f2;
    border-bottom: 1px solid #ebf0f2;
    padding: 50px 0 40px 0;
    background: #FFF;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    font-family: 'Open Sans';
  }
  .feature-function.index-function {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .feature-function .feature-wrap {
    padding: 0 40px;
  }
  .feature-function .feature-wrap .item {
    position: relative;
    color: #8493a8;
    width: 33%;
    padding: 0;
    display: table-cell;
  }
  .feature-function .feature-wrap .item:after {
    content: " ";
    width: 1px;
    height: 47px;
    background: #dddddd;
    position: absolute;
    right: 10px;
    top: 13px;
  }
  .feature-function .feature-wrap .item:last-child:after {
    content: "";
    display: none;
  }
  .feature-function .feature-wrap .item .item-img {
    max-width: 54px;
    width: 20%;
    float: left;
  }
  .feature-function .feature-wrap .item .item-img img {
    display: block;
    max-width: 100%;
    width: 100%;
  }
  .feature-function .feature-wrap .item .item-block {
    margin: 0 auto;
    padding: 0 15px;
  }
  .feature-function .feature-wrap .item .item-context {
    display: block;
    float: left;
    width: 80%;
    padding-left: 10px;
  }
  .feature-function .feature-wrap .item .item-context label {
    display: block;
    font-size: 2.5vw;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: -0.5px;
    margin-top: -10px;
    white-space: nowrap;
    color: #3d4d65;
    font-family: 'Open Sans';
    font-weight: 400;
  }
  .feature-function .feature-wrap .item .item-context span {
    font-size: 1.6vw;
    font-family: 'Raleway';
    font-weight: 300;
    text-transform: lowercase;
    margin-left: 3px;
  }
  .feature-function .feature-wrap .item.free-shipping {
    width: 32%;
  }
  .feature-function .feature-wrap .item.day-return {
    width: 35%;
  }
  .feature-function .feature-wrap .item.support {
    width: 33%;
  }
  .item-index {
    background: #FFF;
    border: 1px solid #ebf0f2;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    margin: 0;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  .item-index .item-img {
    position: relative;
    padding: 0px;
  }
  .item-index .item-img img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    max-width: 100%;
  }
  .item-index .item-img .type-sale {
    position: absolute;
    background: url(../images/bookmark-bg-1.png);
    width: 108px;
    height: 104px;
    top: 0px;
    left: 30px;
    text-align: center;
    /*position: absolute;
		  	top: -7px;
		  	left: 129px;
		  	z-index: 1;
		  	color: #eee;
		  	font-size: 2em;
		  	cursor: pointer;
		  	width: 1.5em;
		  	line-height: 0.5em;
		    -webkit-transition: line-height 0.5s;
		  	transition: line-height 0.5s;
		  	text-align: center;
	

		  	&:after {
		  		content: "";
				font-size: 0.5em;
				position: absolute;
				height: 1.2em;
				border: 61px solid $color-main;
				z-index: -1;
				top: -10px;
				border-top-width: 95px;
    			border-bottom-width: 23px;
				border-bottom-color: transparent;
				right: 0;
				-webkit-transition: height 0.5s;
				transition: height 0.5s;
		  	}
		  	&:before {
		  		content: "";
				font-size: 0.5em;
				position: absolute;
				border-style: solid;
				border-color: transparent transparent #B71C1C transparent;
				top: -1em;
				left: 30px;
				border-width: 0 11px 18px 0;
				z-index: -1;
		  	}*/
  }
  .item-index .item-img .type-sale span {
    display: block;
    color: #fff;
  }
  .item-index .item-img .type-sale span.hot-lbl {
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 205%;
    line-height: 40px;
  }
  .item-index .item-img .type-sale span.percent-lbl {
    font-family: 'Open Sans';
    font-weight: bolder;
    font-size: 400%;
    line-height: 30px;
  }
  .item-index .item-img .status-lbl {
    position: absolute;
    background: url(../images/status-bg.png);
    width: 134px;
    height: 134px;
    top: 0px;
    right: 0px;
    text-align: center;
  }
  .item-index .item-img .status-lbl span {
    display: block;
    color: #ffea00;
    transform: rotate(45deg);
    font-size: 200%;
    text-align: center;
    width: 50px;
    margin: 14px 0px 0px 66px;
  }
  .item-index .item-img .slider-nav .slick-list {
    margin: 10px 0px 10px 10px;
  }
  .item-index .item-img .slider-nav .slick-list .slick-track .slick-slide {
    cursor: pointer;
    margin-right: 10px;
  }
  .item-index .item-img .slider-nav .slick-list .slick-track .slick-slide img {
    border-radius: 0;
  }
  .item-index-info {
    font-family: 'Open Sans';
    padding: 0 20px;
  }
  .item-index-info .group {
    box-sizing: border-box;
    margin: 0px;
  }
  .item-index-info .group.category-group {
    padding: 0px 0px 10px 0px;
    text-transform: uppercase;
    border-bottom: 1px solid #dddddd;
  }
  .item-index-info .group.category-group .category {
    display: block;
    float: left;
    padding: 2px 8px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 1.2vw;
    margin-top: 5px;
    text-align: center;
  }
  .item-index-info .group.category-group .category.foodndrink {
    background: #f65952;
  }
  .item-index-info .group.category-group .time-wrap {
    display: block;
    float: right;
    margin-top: 7px;
    font-size: 1.5vw;
    text-transform: uppercase;
    color: #3d4d65;
    font-family: 'Open Sans';
  }
  .item-index-info .group.category-group .time-wrap .time-badge {
    background: #3d4d65;
    color: #fff;
    padding: 0px 5px;
    border-radius: 4px;
    letter-spacing: -1px;
    text-align: center;
  }
  .item-index-info .group.product-info-group a:hover {
    text-decoration: none;
  }
  .item-index-info .group.product-info-group .item-title {
    font-size: 2.5vw;
    line-height: 32px;
    min-height: 50px;
    display: block;
    margin: 10px 0px 3px 0;
    text-transform: uppercase;
    color: #575757;
  }
  .item-index-info .group.product-info-group .short-info {
    font-size: 140%;
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    color: #575757;
    min-height: 206px;
    margin-top: -3px;
  }
  .item-index-info .group.product-info-group .new-price {
    display: block;
    float: left;
    font-size: 4.2vw;
    font-weight: bold;
    margin: 3px 0 0 15px;
    text-transform: uppercase;
    color: #f65952;
  }
  .item-index-info .group.product-info-group .new-price sub {
    font-size: 58%;
    top: -18px;
  }
  .item-index-info .group.product-info-group .old-price-group {
    display: block;
    float: right;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 15px 0 0px;
  }
  .item-index-info .group.product-info-group .old-price-group .old-price-label {
    font-size: 162%;
    color: #575757;
    display: block;
    line-height: 35px;
  }
  .item-index-info .group.product-info-group .old-price-group .old-price {
    font-size: 2vw;
    color: #575757;
    text-decoration: line-through;
    font-weight: 500;
    margin-top: -12px;
    display: block;
  }
  .item-index-info .group.product-info-group .old-price-group .old-price sub {
    top: 0;
    font-size: 100%;
  }
  .item-index-info .group.product-info-group .separate {
    display: block;
    height: 13px;
    width: 100%;
    margin-top: 5px;
    background: url(../images/separate-bg.png) repeat-x 0px 0px;
    box-sizing: border-box;
  }
  .item-index-info .group.action-group {
    margin-top: 40px;
    position: relative;
  }
  .item-index-info .group.action-group .btn-group {
    padding-right: 0;
    padding-left: 0;
    width: 49%;
    margin-right: 1%;
    float: left;
  }
  .item-index-info .group.action-group .btn-group:last-child {
    margin-right: 0;
  }
  .item-index-info .group.action-group .btn-group .btn-large {
    background: #FFF;
    padding: 6px 0px 6px 0px;
    width: 100%;
    text-transform: uppercase;
  }
  .item-index-info .group.action-group .btn-group .btn-large.btn-add-cart {
    border: 2px solid #f65952;
    color: #f65952;
    font-size: 1.8vw;
    float: right;
    background: url(../images/cart-red-icon.png) 10px 50% no-repeat;
    background-size: 20px;
    padding-left: 10px;
    box-shadow: none;
  }
  .item-index-info .group.action-group .btn-group .btn-large.btn-add-cart:hover {
    color: #fff;
    background: url(../images/cart-white-icon.png) #f65952 10px 50% no-repeat;
    background-size: 20px;
  }
  .item-index-info .group.action-group .btn-group .btn-large.btn-view-detail {
    border: 2px solid #58cd58;
    float: left !important;
    color: #58cd58;
    font-size: 1.8vw;
    float: right;
    background: url(../images/search-green-icon.png) 10px 50% no-repeat;
    background-size: 20px;
    padding-left: 10px;
    box-shadow: none;
  }
  .item-index-info .group.action-group .btn-group .btn-large.btn-view-detail:hover {
    color: #fff;
    background: url(../images/search-white-icon.png) #58cd58 10px 50% no-repeat;
    background-size: 20px;
  }
  .item-index-info .group.action-group .label-guide {
    display: none;
    position: absolute;
    top: -30px;
    left: 0;
    text-align: center;
    background: #fffabf;
    font-family: 'Open Sans';
    padding: 5px 0;
    font-size: 1.2vw;
    border-radius: 5px;
  }
  .item-index-info .group.action-group .label-guide a {
    color: #f65952;
    text-decoration: underline;
  }
}

@media (max-width: 992px) {
  #topbar {
    background: #f65952;
  }
  #topbar .col-sm-10 {
    padding-left: 0px;
  }
  #topbar .btn-rounded {
    display: block;
    font-family: Arial;
    border-radius: 10px;
    border: none;
    margin-top: 8px;
    color: #f65952;
  }
  #topbar .btn-rounded.btn-location {
    font-size: 140%;
    padding: 0px 5px 0px 11px;
  }
  #topbar .btn-rounded.btn-location .fa-globe {
    font-size: 120%;
    margin-top: 3px;
    margin-left: -3px;
    margin-right: 2px;
  }
  #topbar .btn-rounded.btn-location .fa-caret-down {
    font-size: 100%;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 2px;
  }
  #topbar .btn-rounded.btn-login {
    padding: 3px 8px 1px 8px;
    font-size: 1.1vw;
    margin: 6px 5px 0 5px;
  }
  #topbar .nav-top {
    margin-right: 0px;
    margin-bottom: 0px;
    border: none;
    min-height: 37px;
    padding: 0;
  }
  #topbar .nav-top li {
    padding: 5px 0px 0 0;
    display: block;
    float: left;
  }
  #topbar .nav-top li:last-child {
    padding-right: 0px;
  }
  #topbar .nav-top li.top-item a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1vw;
    line-height: 30px;
    display: block;
    margin: 0 0 0 5px;
  }
  #topbar .nav-top li.more-menu a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1vw;
    line-height: 30px;
    display: block;
    margin: 0 5px;
  }
  #topbar .nav-top li.more-menu a .fa-caret-down {
    margin-left: -2px;
    font-size: 80%;
  }
  #topbar .nav-top li.more-menu a:hover {
    cursor: pointer;
  }
  #topbar .nav-top li.more-menu .dropdown-menu li {
    display: block;
    width: 100%;
  }
  #topbar .nav-top li.more-menu .dropdown-menu li a {
    color: #575757 !important;
    font-size: 90%;
    display: block;
  }
  #topbar .nav-top li.flag-icon a {
    margin: 5px 0 0 6px;
    display: block;
  }
  #topbar .nav-top li.flag-icon a img {
    border-radius: 2px;
  }
  #topbar .nav-top .p-translate {
    margin-right: 0;
    margin-top: 1px;
  }
  #topbar .nav-top .p-translate span a:hover {
    text-decoration: none;
  }
  #header {
    padding-top: 25px;
    padding-bottom: 4px;
  }
  #header .col-sm-7 {
    padding-left: 0px;
  }
  #header .title-page-wrap {
    margin-top: 5px;
  }
  #header .title-page-wrap .logo {
    width: 145px;
    height: auto;
    display: block;
    float: left;
  }
  #header .title-page-wrap .logo img {
    width: 100%;
    max-width: 100%;
  }
  #header .title-page-wrap .webname {
    font-size: 100%;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
  }
  #header .title-page-wrap .webname a {
    display: block;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    font-size: 1.7vw;
    color: #f65952;
    margin: 10px 10px 0 12px;
  }
  #header .title-page-wrap .webname a:hover {
    text-decoration: none;
  }
  #header .title-page-wrap .location {
    display: block;
    float: left;
    font-family: 'Helvetica Neue';
    font-weight: 300;
    font-size: 1.7vw;
    color: #575757;
    margin-top: 8px;
  }
  #header .nav-shopping-cart {
    margin: 0;
    padding: 0;
    min-height: auto;
    border: 0;
  }
  #header .nav-shopping-cart li {
    display: block;
    float: left;
  }
  #header .nav-shopping-cart li a {
    display: block;
    border: 1px solid #ebf0f2;
    color: #8493a8;
    font-size: 120%;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 35px;
    font-family: 'Open Sans';
  }
  #header .nav-shopping-cart li a:hover {
    text-decoration: none;
  }
  #header .nav-shopping-cart li a .fa {
    font-size: 130%;
    display: inline-block;
  }
  #header .nav-shopping-cart li:first-child a {
    margin-left: 0;
  }
  #header .nav-shopping-cart li:last-child a {
    text-transform: none;
  }
  #header .nav-shopping-cart li.profile a {
    display: block;
    padding: 0px 15px 0 15px;
    font-size: 140%;
    font-family: 'Helvetica Neue';
  }
  #header .nav-shopping-cart li.profile img {
    display: block;
    float: left;
    margin-right: 15px;
    margin-top: 2px;
  }
  #header .nav-shopping-cart li.my-cart a {
    display: block;
    padding: 0px 10px 0 10px;
    font-size: 120%;
    position: relative;
  }
  #header .nav-shopping-cart li.my-cart a .fa {
    margin-right: 17px;
    font-size: 168%;
    display: block;
    float: left;
    margin-top: 9px;
  }
  #header .nav-shopping-cart li.my-cart a .counter {
    position: absolute;
    background: #f65952;
    color: #fff;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    font-size: 75%;
    line-height: 17px;
    text-align: center;
    top: 4px;
    left: 20px;
    font-family: 'Lato';
    font-weight: bold;
  }
  #header .nav-shopping-cart li.order-history a {
    display: block;
    padding: 0px 10px 0 10px;
    font-size: 120%;
  }
  #header .nav-shopping-cart li.order-history a .fa {
    margin-right: 9px;
    font-size: 140%;
    display: block;
    float: left;
    margin-top: 9px;
  }
  .feature-function {
    margin: 45px 0 61px 0;
    border-top: 1px solid #ebf0f2;
    border-bottom: 1px solid #ebf0f2;
    padding: 30px 0 23px 0;
    background: #FFF;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    font-family: 'Open Sans';
  }
  .feature-function.index-function {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .feature-function .feature-wrap {
    padding: 0 20px;
  }
  .feature-function .feature-wrap .item {
    position: relative;
    color: #8493a8;
    width: 33%;
    padding: 0;
    display: table-cell;
  }
  .feature-function .feature-wrap .item:after {
    content: " ";
    width: 1px;
    height: 47px;
    background: #dddddd;
    position: absolute;
    right: 10px;
    top: 0px;
  }
  .feature-function .feature-wrap .item:last-child:after {
    content: "";
    display: none;
  }
  .feature-function .feature-wrap .item .item-img {
    max-width: 54px;
    width: 20%;
    float: left;
  }
  .feature-function .feature-wrap .item .item-img img {
    display: block;
    max-width: 100%;
    width: 100%;
  }
  .feature-function .feature-wrap .item .item-block {
    margin: 0 auto;
    padding: 0 15px;
  }
  .feature-function .feature-wrap .item .item-context {
    display: block;
    float: left;
    width: 80%;
    padding-left: 10px;
    padding-top: 5px;
  }
  .feature-function .feature-wrap .item .item-context label {
    display: block;
    font-size: 2.1vw;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: -0.5px;
    margin-top: -10px;
    white-space: nowrap;
    color: #3d4d65;
    font-family: 'Open Sans';
    font-weight: 400;
  }
  .feature-function .feature-wrap .item .item-context span {
    font-size: 1.4vw;
    font-family: 'Raleway';
    font-weight: 300;
    text-transform: lowercase;
    margin-left: 3px;
  }
  .feature-function .feature-wrap .item.free-shipping {
    width: 32%;
  }
  .feature-function .feature-wrap .item.day-return {
    width: 35%;
  }
  .feature-function .feature-wrap .item.support {
    width: 33%;
  }
  .carousel-caption {
    left: 6%;
    top: 42%;
    transform: translateY(-50%);
    text-align: left;
    text-shadow: none;
  }
  .carousel-caption h1 {
    font-family: 'Open Sans';
    font-weight: 200;
    color: #717171;
    font-size: 4.5vw;
    margin: 0;
  }
  .carousel-caption h2 {
    font-family: 'Open Sans';
    font-weight: 500;
    color: #717171;
    font-size: 4.5vw;
    margin: 0;
  }
  .carousel-caption span {
    font-size: 1.4vw;
    color: #b54a36;
  }
  .item-index {
    background: #FFF;
    border: 1px solid #ebf0f2;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    margin: 0;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  .item-index .item-img {
    position: relative;
    padding: 0px;
  }
  .item-index .item-img img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    max-width: 100%;
  }
  .item-index .item-img .type-sale {
    position: absolute;
    background: url(../images/bookmark-bg-1.png) no-repeat;
    background-size: 100%;
    width: 80px;
    height: 104px;
    top: 0px;
    left: 20px;
    text-align: center;
    /*position: absolute;
		  	top: -7px;
		  	left: 129px;
		  	z-index: 1;
		  	color: #eee;
		  	font-size: 2em;
		  	cursor: pointer;
		  	width: 1.5em;
		  	line-height: 0.5em;
		    -webkit-transition: line-height 0.5s;
		  	transition: line-height 0.5s;
		  	text-align: center;
	

		  	&:after {
		  		content: "";
				font-size: 0.5em;
				position: absolute;
				height: 1.2em;
				border: 61px solid $color-main;
				z-index: -1;
				top: -10px;
				border-top-width: 95px;
    			border-bottom-width: 23px;
				border-bottom-color: transparent;
				right: 0;
				-webkit-transition: height 0.5s;
				transition: height 0.5s;
		  	}
		  	&:before {
		  		content: "";
				font-size: 0.5em;
				position: absolute;
				border-style: solid;
				border-color: transparent transparent #B71C1C transparent;
				top: -1em;
				left: 30px;
				border-width: 0 11px 18px 0;
				z-index: -1;
		  	}*/
  }
  .item-index .item-img .type-sale span {
    display: block;
    color: #fff;
  }
  .item-index .item-img .type-sale span.hot-lbl {
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1.8vw;
    line-height: 20px;
    margin-top: 5px;
  }
  .item-index .item-img .type-sale span.percent-lbl {
    font-family: 'Open Sans';
    font-weight: bolder;
    font-size: 3.4vw;
  }
  .item-index .item-img .status-lbl {
    position: absolute;
    background: url(../images/status-bg.png) no-repeat;
    background-size: 100%;
    width: 110px;
    height: 134px;
    top: 0px;
    right: 0px;
    text-align: center;
  }
  .item-index .item-img .status-lbl span {
    display: block;
    color: #ffea00;
    transform: rotate(45deg);
    font-size: 2vw;
    text-align: center;
    width: 50px;
    margin: 14px 0px 0px 50px;
  }
  .item-index .item-img .slider-nav .slick-list {
    margin: 10px 0px 10px 10px;
  }
  .item-index .item-img .slider-nav .slick-list .slick-track .slick-slide {
    cursor: pointer;
    margin-right: 10px;
  }
  .item-index .item-img .slider-nav .slick-list .slick-track .slick-slide img {
    border-radius: 0;
  }
  .item-index-info {
    font-family: 'Open Sans';
    padding: 0 20px;
  }
  .item-index-info .group {
    box-sizing: border-box;
    margin: 0px;
  }
  .item-index-info .group.category-group {
    padding: 0px 0px 10px 0px;
    text-transform: uppercase;
    border-bottom: 1px solid #dddddd;
  }
  .item-index-info .group.category-group .category {
    display: block;
    float: left;
    padding: 2px 8px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 1.2vw;
    margin-top: 5px;
    text-align: center;
  }
  .item-index-info .group.category-group .category.foodndrink {
    background: #f65952;
  }
  .item-index-info .group.category-group .time-wrap {
    display: block;
    float: right;
    margin-top: 7px;
    font-size: 1.5vw;
    text-transform: uppercase;
    color: #3d4d65;
    font-family: 'Open Sans';
  }
  .item-index-info .group.category-group .time-wrap .time-badge {
    background: #3d4d65;
    color: #fff;
    padding: 0px 5px;
    border-radius: 4px;
    letter-spacing: -1px;
    text-align: center;
  }
  .item-index-info .group.product-info-group a:hover {
    text-decoration: none;
  }
  .item-index-info .group.product-info-group .item-title {
    font-size: 2.5vw;
    line-height: 25px;
    min-height: 50px;
    display: block;
    margin: 10px 0px 3px 0;
    text-transform: uppercase;
    color: #575757;
  }
  .item-index-info .group.product-info-group .short-info {
    font-size: 140%;
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    color: #575757;
    min-height: 206px;
    margin-top: -3px;
  }
  .item-index-info .group.product-info-group .new-price {
    display: block;
    float: left;
    font-size: 4.2vw;
    font-weight: bold;
    margin: 3px 0 0 15px;
    text-transform: uppercase;
    color: #f65952;
  }
  .item-index-info .group.product-info-group .new-price sub {
    font-size: 58%;
    top: -14px;
  }
  .item-index-info .group.product-info-group .old-price-group {
    display: block;
    float: right;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 15px 0 0px;
  }
  .item-index-info .group.product-info-group .old-price-group .old-price-label {
    font-size: 162%;
    color: #575757;
    display: block;
    line-height: 35px;
  }
  .item-index-info .group.product-info-group .old-price-group .old-price {
    font-size: 2vw;
    color: #575757;
    text-decoration: line-through;
    font-weight: 500;
    margin-top: -12px;
    display: block;
  }
  .item-index-info .group.product-info-group .old-price-group .old-price sub {
    top: 0;
    font-size: 100%;
  }
  .item-index-info .group.product-info-group .separate {
    display: block;
    height: 13px;
    width: 100%;
    margin-top: 5px;
    background: url(../images/separate-bg.png) repeat-x 0px 0px;
    box-sizing: border-box;
  }
  .item-index-info .group.action-group {
    margin-top: 35px;
    position: relative;
  }
  .item-index-info .group.action-group .btn-group {
    padding-right: 0;
    padding-left: 0;
    width: 49%;
    margin-right: 1%;
    float: left;
  }
  .item-index-info .group.action-group .btn-group:last-child {
    margin-right: 0;
  }
  .item-index-info .group.action-group .btn-group .btn-large {
    background: #FFF;
    padding: 6px 0px 6px 0px;
    width: 100%;
    text-transform: uppercase;
  }
  .item-index-info .group.action-group .btn-group .btn-large.btn-add-cart {
    border: 2px solid #f65952;
    color: #f65952;
    font-size: 1.8vw;
    float: right;
    background: url(../images/cart-red-icon.png) 10px 50% no-repeat;
    background-size: 20px;
    padding-left: 10px;
    box-shadow: none;
  }
  .item-index-info .group.action-group .btn-group .btn-large.btn-add-cart:hover {
    color: #fff;
    background: url(../images/cart-white-icon.png) #f65952 10px 50% no-repeat;
    background-size: 20px;
  }
  .item-index-info .group.action-group .btn-group .btn-large.btn-view-detail {
    border: 2px solid #58cd58;
    float: left !important;
    color: #58cd58;
    font-size: 1.8vw;
    float: right;
    background: url(../images/search-green-icon.png) 10px 50% no-repeat;
    background-size: 20px;
    padding-left: 10px;
    box-shadow: none;
  }
  .item-index-info .group.action-group .btn-group .btn-large.btn-view-detail:hover {
    color: #fff;
    background: url(../images/search-white-icon.png) #58cd58 10px 50% no-repeat;
    background-size: 20px;
  }
  .item-index-info .group.action-group .label-guide {
    display: none;
    position: absolute;
    top: -29px;
    left: 0;
    text-align: center;
    background: #fffabf;
    font-family: 'Open Sans';
    padding: 5px 0;
    font-size: 1.2vw;
    border-radius: 5px;
  }
  .item-index-info .group.action-group .label-guide a {
    color: #f65952;
    text-decoration: underline;
  }
}

/*# sourceMappingURL=layout.css.map */