/*
    dimension definition
*/
/*
    colour definition
*/
/*
    corp colour guide
*/
aside {
  display: block;
  float: left;
  width: 244px;
  margin-left: 14px;
  margin-top: 12px;
  margin-bottom: 20px;
}

aside .button-wrap {
  margin-bottom: 10px;
}

.best-mentoring-wrap {
  background: #FFF;
  margin: 6px 0 5px 0;
  border: 1px solid #f4eef0;
  border-radius: 3px;
  padding: 24px 12px;
  position: relative;
}

.best-mentoring-wrap .best-mentoring-header {
  position: relative;
  margin: 0 0 20px 0.5%;
  padding: 0 0 0 30px;
  font-size: 20px;
  font-weight: bold;
  color: #f66d12;
  background: url(../images/crown-icon.png) no-repeat 0 0;
}

.best-mentoring-wrap .item {
  display: block;
  width: 19%;
  float: left;
  margin: 0 0.5%;
  position: relative;
  height: 170px;
  overflow: hidden;
}

.best-mentoring-wrap .item:after {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: top .2s ease-in;
  transition: top .2s ease-in;
}

.best-mentoring-wrap .item.law-category {
  background: url(../images/law.png) no-repeat;
  background-size: 100% 100%;
}

.best-mentoring-wrap .item.banking-category {
  background: url(../images/bank.png) no-repeat;
  background-size: 100% 100%;
}

.best-mentoring-wrap .item.school-category {
  background: url(../images/hands-all-in.png) no-repeat;
  background-size: 100% 100%;
}

.best-mentoring-wrap .item.travelling-category {
  background: url(../images/travelling.png) no-repeat;
  background-size: 100% 100%;
}

.best-mentoring-wrap .item.visa-category {
  background: url(../images/visa.png) no-repeat;
  background-size: 100% 100%;
}

.best-mentoring-wrap .item .question-title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #FFF;
  z-index: 1;
  text-align: center;
  padding: 0 15px;
  font-size: 16px;
  -webkit-transition: top .2s ease-in;
  transition: top .2s ease-in;
}

.best-mentoring-wrap .item .answer-box {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -170px;
  z-index: 10;
  width: 100%;
  height: 100%;
  line-height: 18px;
  zoom: 1;
  -webkit-transition: bottom .2s ease-out;
  transition: bottom .2s ease-out;
  text-align: center;
  background: rgba(62, 148, 218, 0.66);
}

.best-mentoring-wrap .item:hover {
  cursor: default;
}

.best-mentoring-wrap .item:hover .question-title {
  top: -170px;
}

.best-mentoring-wrap .item:hover:after {
  top: -170px;
}

.best-mentoring-wrap .item:hover .answer-box {
  bottom: 0;
  z-index: 9;
  color: #FFF;
  position: relative;
}

.best-mentoring-wrap .item:hover .answer-box .question-title {
  top: 20px;
  width: 100%;
  left: 0;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 3px 10px;
  display: block;
  clear: both;
  font-size: 12px;
  display: block;
  clear: both;
  position: relative;
}

.best-mentoring-wrap .item:hover .answer-box p {
  text-align: left;
  font-size: 9px;
  padding: 0 10px;
}

.best-mentoring-wrap .item:hover .answer-box .user-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.best-mentoring-wrap .item:hover .answer-box .user-info a {
  font-size: 14px;
  color: #FFF;
  float: left;
  left: 0px;
  color: #c7c7ca;
}

.best-mentoring-wrap .item:hover .answer-box .user-info a img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.best-mentoring-wrap .item:hover .answer-box .user-info .date {
  position: absolute;
  font-size: 9px;
  float: right;
  right: 0px;
  top: 5px;
  color: #c7c7ca;
}

.top-recommend-wrap {
  background: #FFF;
  margin: 6px 0 0 0;
  border: 1px solid #f4eef0;
  border-radius: 3px;
  padding: 20px;
  position: relative;
}

.top-recommend-wrap .top-recommend-header {
  position: relative;
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: bold;
  color: #f66d12;
}

.top-recommend-wrap .list-item {
  float: left;
}

.top-recommend-wrap .list-item .item {
  display: block;
  width: 129px;
  float: left;
  margin-right: 19px;
  position: relative;
  height: 129px;
  overflow: hidden;
}

.top-recommend-wrap .list-item .item a {
  display: block;
}

.top-recommend-wrap .list-item .item a img {
  max-width: 100%;
  height: 129px;
  object-fit: cover;
  object-position: center;
}

.top-recommend-wrap .list-item .item a:after {
  content: "";
  background: rgba(0, 0, 0, 0.22);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.top-recommend-wrap .list-item .item a .label-rank {
  position: absolute;
  top: 0;
  right: 10px;
  background: url(../images/label-rank-bg.png) no-repeat;
  width: 35px;
  height: 32px;
  z-index: 9;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 12px;
  padding-top: 5px;
}

.top-recommend-wrap .list-item .item a:hover {
  cursor: pointer;
}

.top-recommend-wrap .list-item .item a:hover:after {
  display: none;
}

.top-recommend-wrap .world-ktown {
  float: left;
}

.top-recommend-wrap .world-ktown img {
  display: block;
  float: left;
}

.top-recommend-wrap .world-ktown .download-ktown {
  float: left;
  margin-left: 29px;
  background: url(../images/ktown-location.png) no-repeat 0 0;
  width: 109px;
}

.top-recommend-wrap .world-ktown .download-ktown .btn-download {
  margin-top: 117px;
  width: 100%;
  background: #bbb3b5;
  color: #FFF;
  text-decoration: underline;
  position: relative;
  display: block;
}

.top-recommend-wrap .world-ktown .download-ktown .btn-download:after {
  content: "";
  position: absolute;
  background: url(../images/arrow-right-w.png) no-repeat 0 0;
  width: 5px;
  height: 10px;
  top: 12px;
  right: 15px;
}

.category-list-wrap {
  background: #FFF;
  padding: 24px 50px;
  border: 1px solid #f4eef0;
  margin-top: 5px;
}

.category-list-wrap header {
  position: relative;
}

.category-list-wrap header .see-all {
  position: absolute;
  text-transform: none;
  text-decoration: none;
  top: 0px;
  right: 0;
  font-size: 14px;
  color: #989899;
  font-weight: normal;
}

.category-list-wrap header h3 {
  font-size: 15px;
  color: #5db7e3;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
}

.category-list-wrap header h3.best-category {
  color: #c7c7ca;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #afafb2;
  background: url(../images/brown-icon-gray.png) no-repeat 0 50%;
  padding-left: 15px;
}

.category-list-wrap .category-list {
  display: block;
  clear: both;
  padding: 0;
  position: relative;
}

.category-list-wrap .category-list.main-category {
  margin-top: 30px;
  margin-bottom: 0;
}

.category-list-wrap .category-list.main-category:before {
  display: none;
}

.category-list-wrap .category-list.main-category li a {
  margin-bottom: 0px;
  position: relative;
  padding-left: 10px;
  font-size: 15px;
}

.category-list-wrap .category-list.main-category li a:before {
  content: "";
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 0;
  background: #4881c2;
}

.category-list-wrap .category-list.main-category li a.active {
  font-weight: bold;
}

.category-list-wrap .category-list:before {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
}

.category-list-wrap .category-list li {
  list-style: none;
  display: inline-block;
  width: 170px;
}

.category-list-wrap .category-list li a {
  display: block;
  font-size: 15px;
  font-weight: normal;
  color: #545756;
  margin-bottom: 30px;
}

.category-list-wrap .category-list li a:hover {
  text-decoration: none;
  font-weight: bold;
}

.category-list-wrap .category-list.col-3 li {
  width: 344px;
}

.category-list-wrap .category-list.col-4 li {
  width: 257px;
}

.sub-category-wrap {
  margin: 10px 0 0 0 !important;
}

.sub-category-wrap .sub-category-header {
  padding: 0px 50px;
  font-size: 15px;
  font-weight: bold;
  margin: 30px 0 0 0;
}

.sub-category-wrap .sub-category-list {
  padding: 40px 50px 0 50px;
}

.sub-category-wrap .sub-category-list li {
  list-style: none;
  display: inline-block;
  width: 170px;
}

.sub-category-wrap .sub-category-list li a {
  display: block;
  font-size: 15px;
  font-weight: normal;
  color: #545756;
  margin-bottom: 20px;
}

.sub-category-wrap .sub-category-list li a:hover {
  text-decoration: none;
  font-weight: bold;
}

.sub-category-wrap .sub-category-list.col-3 li {
  width: 344px;
}

.sub-category-wrap .sub-category-list.col-4 li {
  width: 257px;
}

.main-wrap {
  float: left;
  width: 885px;
  margin-top: 12px;
  margin-bottom: 34px;
}

.main-content {
  float: left;
  width: 885px;
  background: #FFF;
  border: 1px solid #f4eef0;
  margin-top: 12px;
  margin-bottom: 34px;
  padding: 26px 32px;
  position: relative;
}

.main-content.home .toolbar-wrap .style-group {
  display: none;
}

.main-content.home .toolbar-wrap .search-wrap {
  display: block;
  float: right;
  margin-top: 0px;
}

.main-content.q-ask-wrap {
  padding: 15px;
  margin-bottom: 78px;
}

.main-content.q-ask-wrap .button-group {
  margin-top: 15px;
}

.main-content h3 {
  font-size: 30px;
  display: block;
}

.main-content .list-tab {
  display: table;
  width: 100%;
  padding: 0;
}

.main-content .list-tab li {
  display: table-cell;
  list-style: none;
}

.main-content .list-tab li a {
  display: block;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #d2cacc;
  padding: 15px 0 23px 0;
  font-size: 16px;
  font-weight: bold;
  color: #8f8f93;
}

.main-content .list-tab li a:after {
  content: "";
  width: 1px;
  height: 16px;
  background: #d2cacc;
  position: absolute;
  top: 18px;
  right: 0;
}

.main-content .list-tab li a.tab-answers .icon {
  display: inline-block;
  background: url(../images/tab-answer-icon.png) -19px 0 no-repeat;
  width: 19px;
  height: 14px;
  margin-right: 12px;
  margin-top: 3px;
}

.main-content .list-tab li a.tab-adopt .icon {
  display: inline-block;
  background: url(../images/tab-adopt-icon.png) -16px 0 no-repeat;
  width: 16px;
  height: 14px;
  margin-right: 12px;
}

.main-content .list-tab li a.tab-settle .icon {
  display: inline-block;
  background: url(../images/tab-settle-icon.png) -12px 0 no-repeat;
  width: 12px;
  height: 14px;
  margin-right: 12px;
  margin-top: 3px;
}

.main-content .list-tab li.active a, .main-content .list-tab li:hover a {
  color: #1e86b9;
  border-bottom: 1px solid #1e86b9;
  text-decoration: none;
}

.main-content .list-tab li.active a.tab-answers .icon, .main-content .list-tab li:hover a.tab-answers .icon {
  background: url(../images/tab-answer-icon.png) 0 0 no-repeat;
}

.main-content .list-tab li.active a.tab-adopt .icon, .main-content .list-tab li:hover a.tab-adopt .icon {
  background: url(../images/tab-adopt-icon.png) 0 0 no-repeat;
}

.main-content .list-tab li.active a.tab-settle .icon, .main-content .list-tab li:hover a.tab-settle .icon {
  background: url(../images/tab-settle-icon.png) 0 0 no-repeat;
}

.main-content .list-tab li:last-child a:after {
  display: none;
}

.main-content .toolbar-wrap {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.main-content .toolbar-wrap .style-group {
  display: block;
  float: left;
  margin-top: 20px;
}

.main-content .toolbar-wrap .search-wrap {
  display: block;
  float: right;
  margin-top: 20px;
}

.main-content .toolbar-wrap .search-wrap .select-btn {
  float: left;
}

.main-content .toolbar-wrap .search-wrap .select-btn .btn {
  color: #989899;
  font-size: 14px;
  background: #FFF;
  border: 1px solid #f4eef0;
  margin-right: 10px;
  height: 24px;
  padding: 0 10px;
}

.main-content .toolbar-wrap .search-wrap .select-btn .btn:focus {
  box-shadow: none;
}

.main-content .toolbar-wrap .search-wrap .input-group {
  width: 200px;
  float: left;
  margin-right: 10px;
  height: 24px;
}

.main-content .toolbar-wrap .search-wrap .input-group .form-control {
  border: 1px solid #f4eef0;
  border-right: none;
  box-shadow: none;
  padding: 3px 10px;
  height: 24px;
}

.main-content .toolbar-wrap .search-wrap .input-group .form-control:focus {
  box-shadow: none;
}

.main-content .toolbar-wrap .search-wrap .input-group .btn-search {
  background: url(../images/search-icon.png) no-repeat 0 0;
  background-size: 11px auto;
  background-position: center;
  width: 24px;
  height: 24px;
  border: 1px solid #f4eef0;
  border-left: none;
}

.main-content .list-content-wrap.expand-info .item {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px;
}

.main-content .list-content-wrap.expand-info .item .waterdrop {
  display: block;
  float: left;
  width: 95px;
}

.main-content .list-content-wrap.expand-info .item .waterdrop img {
  display: block;
  margin: 20px auto 0 auto;
}

.main-content .list-content-wrap.expand-info .item .waterdrop span {
  display: block;
  text-align: center;
  margin: 0px auto;
  font-size: 17px;
  color: #989899;
}

.main-content .list-content-wrap.expand-info .item .item-context {
  display: block;
  float: left;
  width: 684px;
}

.main-content .list-content-wrap.expand-info .item .item-context .header {
  position: relative;
}

.main-content .list-content-wrap.expand-info .item .item-context .header .category {
  display: block;
  float: left;
  font-size: 14px;
  color: #545756;
  min-width: 60px;
}

.main-content .list-content-wrap.expand-info .item .item-context .header .category:before {
  content: "[ ";
}

.main-content .list-content-wrap.expand-info .item .item-context .header .category:after {
  content: " ]";
}

.main-content .list-content-wrap.expand-info .item .item-context .header .title {
  font-size: 16px;
  color: #545756;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  float: left;
  width: 500px;
  font-weight: bold;
}

.main-content .list-content-wrap.expand-info .item .item-context .header .comment-counter {
  display: block;
  position: absolute;
  top: 3px;
  right: 60px;
  background: url(../images/comment-icon.png) no-repeat 0 0;
  width: 40px;
  padding-left: 18px;
  height: 12px;
  line-height: 12px;
  color: #545756;
}

.main-content .list-content-wrap.expand-info .item .item-context .header .location {
  position: absolute;
  top: 3px;
  right: 0px;
  width: 50px;
  text-align: center;
  line-height: 12px;
  color: #545756;
}

.main-content .list-content-wrap.expand-info .item .item-context .header .view {
  display: none;
}

.main-content .list-content-wrap.expand-info .item .item-context .header .like {
  display: none;
}

.main-content .list-content-wrap.expand-info .item .item-context p {
  display: block;
  font-size: 13px;
  color: #545756;
  margin-top: 30px;
  margin-bottom: 0;
}

.main-content .list-content-wrap.expand-info .item:nth-child(10) {
  display: none;
}

.main-content .list-content-wrap.expand-info .item:nth-child(11) {
  display: none;
}

.main-content .list-content-wrap.expand-info .item:nth-child(12) {
  display: none;
}

.main-content .list-content-wrap.expand-info .item:nth-child(13) {
  display: none;
}

.main-content .list-content-wrap.expand-info .item:nth-child(14) {
  display: none;
}

.main-content .list-content-wrap.expand-info .item:nth-child(15) {
  display: none;
}

.main-content .list-content-wrap.expand-info .item:nth-child(16) {
  display: none;
}

.main-content .list-content-wrap.expand-info .item:nth-child(17) {
  display: none;
}

.main-content .list-content-wrap.expand-info .item:nth-child(18) {
  display: none;
}

.main-content .list-content-wrap.expand-info .item:nth-child(19) {
  display: none;
}

.main-content .list-content-wrap.expand-info .item:nth-child(20) {
  display: none;
}

.main-content .list-content-wrap.expand-info .item:nth-child(21) {
  display: none;
}

.main-content .list-content-wrap.expand-info .item:nth-child(22) {
  display: none;
}

.main-content .list-content-wrap.expand-info .item:nth-child(23) {
  display: none;
}

.main-content .list-content-wrap.expand-info .item:nth-child(24) {
  display: none;
}

.main-content .list-content-wrap.collapse-info .item {
  border-bottom: 1px solid #e0e0e0;
  padding: 7px 0 5px 0;
}

.main-content .list-content-wrap.collapse-info .item .waterdrop {
  display: block;
  float: left;
  width: 30px;
  margin-right: 10px;
}

.main-content .list-content-wrap.collapse-info .item .waterdrop img {
  display: block;
  margin: 0 auto;
  width: 9px;
  height: 11px;
}

.main-content .list-content-wrap.collapse-info .item .waterdrop span {
  display: block;
  text-align: center;
  margin: 0px auto;
  font-size: 10px;
  color: #989899;
}

.main-content .list-content-wrap.collapse-info .item .item-context {
  display: block;
  float: left;
  width: 779px;
}

.main-content .list-content-wrap.collapse-info .item .item-context .header {
  position: relative;
}

.main-content .list-content-wrap.collapse-info .item .item-context .header .category {
  display: block;
  float: left;
  font-size: 14px;
  color: #545756;
  min-width: 60px;
}

.main-content .list-content-wrap.collapse-info .item .item-context .header .category:before {
  content: "[ ";
}

.main-content .list-content-wrap.collapse-info .item .item-context .header .category:after {
  content: " ]";
}

.main-content .list-content-wrap.collapse-info .item .item-context .header .title {
  font-size: 14px;
  color: #545756;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  float: left;
  width: 380px;
  font-weight: bold;
}

.main-content .list-content-wrap.collapse-info .item .item-context .header .comment-counter {
  display: none;
}

.main-content .list-content-wrap.collapse-info .item .item-context .header .location {
  display: none;
}

.main-content .list-content-wrap.collapse-info .item .item-context .header .view {
  display: block;
  float: right;
  margin-right: 15px;
  background: url(../images/view-icon.png) no-repeat 0 50%;
  padding-left: 20px;
  opacity: .8;
}

.main-content .list-content-wrap.collapse-info .item .item-context .header .like {
  display: block;
  float: right;
  margin-right: 10px;
  background: url(../images/heart-icon.png) no-repeat 0 50%;
  padding-left: 20px;
  opacity: .8;
}

.main-content .list-content-wrap.collapse-info .item .item-context p {
  display: none;
}

.main-content .btn-more {
  display: block;
  width: 190px;
  margin: 20px auto 0 auto;
}

.main-content .tutorial-wrap {
  position: absolute;
  top: 60px;
  right: -257px;
  width: 237px;
  padding: 21px 29px 37px 29px;
  background: #FFF;
  -webkit-box-shadow: 0px 7px 9px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 7px 9px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 7px 9px 5px rgba(0, 0, 0, 0.1);
}

.main-content .tutorial-wrap:before {
  content: "";
  width: 20px;
  height: 20px;
  background: #FFF;
  position: absolute;
  top: 15px;
  left: -10px;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.main-content .tutorial-wrap img {
  display: block;
}

.main-content .tutorial-wrap span {
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.main-content .tutorial-wrap p {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 5px;
}

.main-content .tutorial-wrap p strong {
  font-weight: 500;
}

.aside-block {
  padding: 17px 18px;
  background: #FFF;
  border: 1px solid #f4eef0;
  border-radius: 3px;
  margin-bottom: 10px;
}

.aside-block.keyword-wrap .header {
  position: relative;
}

.aside-block.keyword-wrap .header h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 20px;
}

.aside-block.keyword-wrap .header .control-block {
  position: absolute;
  top: 0;
  right: 0;
}

.aside-block.keyword-wrap .header .control-block a {
  margin-left: 5px;
}

.aside-block.keyword-wrap .keyword-list ol {
  margin: 0;
  padding: 0;
}

.aside-block.keyword-wrap .keyword-list ol li {
  list-style: none;
  margin-bottom: 8px;
  display: block;
}

.aside-block.keyword-wrap .keyword-list ol li a {
  color: #545756;
  font-size: 10px;
  font-weight: bold;
  display: block;
  position: relative;
}

.aside-block.keyword-wrap .keyword-list ol li a .pos {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  color: #5db7e3;
  border: 1px solid #5db7e3;
  width: 13px;
  text-align: center;
  border-radius: 2px;
}

.aside-block.keyword-wrap .keyword-list ol li a .quantity {
  float: right;
  color: #989899;
  font-weight: normal;
}

.aside-block.keyword-wrap .keyword-list ol li a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.aside-block.leader-board-wrap .leader-board-header {
  padding: 0;
  margin: 0;
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.aside-block.leader-board-wrap .leader-board-header li {
  list-style: none;
  display: table-cell;
  text-align: center;
}

.aside-block.leader-board-wrap .leader-board-header li a {
  color: #989899;
  font-size: 14px;
  border-bottom: 3px solid transparent;
  padding-bottom: 6px;
}

.aside-block.leader-board-wrap .leader-board-header li a:hover {
  text-decoration: none;
}

.aside-block.leader-board-wrap .leader-board-header li:first-child {
  border-right: 1px solid #989899;
}

.aside-block.leader-board-wrap .leader-board-header li.active a {
  border-bottom: 3px solid #5db7e3;
  text-decoration: none;
  color: #545756;
}

.leader-board-content {
  position: relative;
}

.leader-board-content ol {
  padding: 0;
}

.leader-board-content ol li {
  list-style: none;
  display: block;
  margin-bottom: 25px;
}

.leader-board-content ol li a {
  display: block;
  clear: both;
}

.leader-board-content ol li a:hover {
  text-decoration: none;
}

.leader-board-content ol li a .number {
  font-size: 14px;
  color: #f66d12;
  display: block;
  float: left;
  margin-right: 8px;
  font-weight: bold;
}

.leader-board-content ol li a .user-img {
  display: block;
  float: left;
  margin-right: 8px;
  width: 33px;
  height: 33px;
  border: 1px solid #989899;
  border-radius: 3px;
  overflow: hidden;
}

.leader-board-content ol li a .user-img img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  height: 33px;
}

.leader-board-content ol li a .user-info {
  display: block;
  float: left;
  color: #989899;
}

.leader-board-content ol li a .user-info .user-name {
  font-size: 14px;
  display: block;
  line-height: 14px;
}

.leader-board-content ol li a .user-info .rank {
  display: inline-block;
  margin-right: 25px;
}

.leader-board-content ol li a .user-info .rank img {
  width: 14px;
}

.leader-board-content ol li a .user-info .point img {
  width: 9px;
  height: auto;
}

.leader-board-content ol li a .title {
  margin-top: 3px;
  display: block;
  float: left;
  font-size: 12px;
  color: #545756;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 190px;
}

.leader-board-content .more {
  top: 105%;
}

.ads-img {
  margin: 10px 0;
}

.ads-img img {
  max-width: 100%;
  width: 240px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.sponsor-wrap h3 {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #989899;
}

.sponsor-wrap img {
  width: 100%;
  max-width: 100%;
}

.user-panel {
  padding: 20px;
  height: 260px;
}

.user-panel h3 {
  display: inline-block;
  margin: 0 0 13px 0;
  color: #4881c2;
  font-size: 24px;
  text-transform: uppercase;
}

.user-panel .user-id {
  display: inline-block;
  color: #989899;
  font-size: 18px;
}

.user-panel .btn-edit {
  background: url(../images/edit-icon.png) no-repeat 0 0;
  width: 19px;
  height: 17px;
  float: right;
  border: none;
  margin-top: 3px;
}

.user-panel .user-img {
  width: 136px;
  height: 136px;
  display: block;
  float: left;
  overflow: hidden;
}

.user-panel .user-img img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
  object-fit: cover;
  height: 100%;
}

.user-panel .level {
  margin-right: 20px;
}

.user-panel .point {
  margin-right: 20px;
}

.user-panel .user-description {
  display: block;
  float: left;
  width: 260px;
  padding-left: 20px;
}

.user-panel .user-description .introduction {
  margin-top: 10px;
  background: #f9f9f9;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px 15px;
  position: relative;
}

.user-panel .user-description .introduction span {
  font-weight: bold;
}

.user-panel .user-description .introduction:before {
  content: "";
  position: absolute;
  top: 20px;
  left: -8px;
  background: #f9f9f9;
  border: 1px solid #eaeaea;
  border-right: none;
  border-top: none;
  width: 15px;
  height: 15px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)";
  /* IE8 */
  -moz-transform: rotate(45deg);
  /* FF3.5/3.6 */
  -o-transform: rotate(45deg);
  /* Opera 10.5 */
  -webkit-transform: rotate(45deg);
  /* Saf3.1+ */
  transform: rotate(45deg);
}

.user-level {
  background: url(../images/status-bg.png) !important;
  background-repeat: repeat-y !important;
  background-size: 100%;
  padding: 20px;
  height: 260px;
  position: relative;
}

.user-level .header-level {
  display: inline-block;
  margin: 0 0 13px 0;
  color: #FFF;
  font-size: 24px;
  text-transform: uppercase;
}

.user-level .btn-question {
  background: url(../images/question-icon-border.png) no-repeat;
  width: 19px;
  height: 19px;
  float: right;
  border: none;
  margin-top: 5px;
}

.user-level .progress-wrap {
  position: relative;
  margin-top: 60px;
}

.user-level .progress-wrap .current-level {
  float: left;
  margin-top: -8px;
}

.user-level .progress-wrap .current-level img {
  display: block;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 13px 6px #7bffff;
  -moz-box-shadow: 0px 0px 13px 6px #7bffff;
  box-shadow: 0px 0px 13px 6px #7bffff;
}

.user-level .progress-wrap .next-level {
  position: absolute;
  float: right;
  top: -5px;
  right: 15px;
}

.user-level .progress-wrap .next-level img {
  display: block;
  transform: rotate(45deg);
  -webkit-box-shadow: 0px 0px 8px 3px #7bffff;
  -moz-box-shadow: 0px 0px 8px 3px #7bffff;
  box-shadow: 0px 0px 8px 3px #7bffff;
}

.user-level .progress-wrap .progress {
  margin-top: 10px;
  height: 12px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-left: 45px;
  margin-right: 50px;
  overflow: visible;
}

.user-level .progress-wrap .progress .progress-bar {
  background-color: #f66d12;
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.user-level .progress-wrap .progress .progress-bar .point {
  position: absolute;
  top: -30px;
  right: -10px;
  background: url(../images/water-blue.png) #FFF 7px 50% no-repeat;
  background-size: 10px 13px;
  padding: 4px 10px 4px 22px;
  line-height: 11px;
  font-size: 11px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  color: #989899;
}

.user-level .progress-wrap .progress .progress-bar .point:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid #FFF;
  border-left: 5px solid transparent;
  bottom: -5px;
  right: 10px;
}

.user-level .detail-info {
  background-color: #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 25px 0 10px 0;
}

.user-level .detail-info ul {
  display: table;
  width: 100%;
  padding: 0;
}

.user-level .detail-info ul li {
  list-style: none;
  display: table-cell;
  position: relative;
}

.user-level .detail-info ul li span {
  display: block;
  text-align: center;
}

.user-level .detail-info ul li span.number {
  font-size: 26px;
  color: #545756;
}

.user-level .detail-info ul li span.type {
  font-size: 11px;
  color: #989899;
}

.user-level .detail-info ul li:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 35px;
  background-color: #ebebeb;
  right: 0;
  top: 2px;
}

.user-level .detail-info ul li:last-child:after {
  content: "";
  display: none;
}

.user-level .detail-info ul li.color-blue:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #5db7e3;
}

.user-level .detail-info ul li.color-red:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #fa6666;
}

.user-level .detail-info ul li.color-orange:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #f66d12;
}

.user-level .detail-info ul li.color-green:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #0ec73e;
}

.list-panel {
  padding: 20px;
}

.list-panel .header {
  position: relative;
}

.list-panel .header h3 {
  display: block;
  float: left;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #545756;
  margin: 0 5px 0 0;
  padding-left: 30px;
  background: url(../images/talk-icon.png) no-repeat 0 0;
}

.list-panel .header h3 span {
  color: #5db7e3;
}

.list-panel .header .quantity {
  display: block;
  float: left;
  color: #989899;
  font-size: 16px;
  margin-top: -3px;
}

.list-panel .header .more {
  top: 0px;
}

.list-panel .list-content {
  font-size: 16px;
  margin-top: 20px;
  padding: 0 20px;
}

.list-panel .list-content .table tr td {
  border-top: none;
  border-bottom: 1px solid #f3f2f2;
  color: #606161;
}

.list-panel .list-content .title {
  font-weight: 500;
}

.list-panel .list-content .category {
  width: 135px;
}

.list-panel .list-content .check {
  background: url(../images/check-icon.png) no-repeat 0 50%;
  padding-left: 22px;
  width: 75px;
}

.list-panel .list-content .comment {
  background: url(../images/comment-icon-line.png) no-repeat 0 50%;
  padding-left: 22px;
  width: 75px;
}

.list-panel .list-content .view {
  background: url(../images/view-icon.png) no-repeat 0 50%;
  padding-left: 22px;
  width: 90px;
}

.main-topic {
  border-top: 1px solid #c7c7ca;
}

.main-topic.gold-comment {
  border-top: none;
  margin-top: -20px;
}

.main-topic.gold-comment .header .icon {
  display: block;
  float: left;
  margin-left: 27px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.main-topic.gold-comment .header .icon.gold-icon {
  background: url(../images/gold-medal.png) no-repeat;
  width: 90px;
  height: 95px;
}

.main-topic.gold-comment .content p img {
  max-width: 100%;
}

.main-topic.gold-comment .user-wrap {
  margin-top: 40px;
}

.main-topic.gold-comment .comment-box:before {
  content: "";
  display: block;
  height: 20px;
}

.main-topic.silver-comment {
  border-top: none;
  margin-top: -20px;
}

.main-topic.silver-comment .header .icon {
  display: block;
  float: left;
  margin-left: 27px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.main-topic.silver-comment .header .icon.silver-icon {
  background: url(../images/silver-medal.png) no-repeat;
  width: 90px;
  height: 95px;
}

.main-topic.silver-comment .user-wrap {
  margin-top: 40px;
}

.main-topic .header {
  position: relative;
}

.main-topic .header .icon {
  display: block;
  float: left;
  margin-left: 27px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.main-topic .header .icon.icon-share {
  background: url(../images/share-bg.png) no-repeat;
  width: 72px;
  height: 89px;
}

.main-topic .header .icon.icon-share .share-text {
  display: block;
  background: url(../images/six-star-icon.png) no-repeat 50% 0;
  padding-top: 25px;
  margin-top: 15px;
}

.main-topic .header .icon.icon-default {
  background: url(../images/title-bg.png) no-repeat;
  width: 75px;
  height: 99px;
}

.main-topic .header .icon.icon-default .water-text {
  display: block;
  background: url(../images/water-blue2x.png) no-repeat 50% 0;
  padding-top: 40px;
  margin-top: 15px;
  font-size: 20px;
  color: #545756;
}

.main-topic .header .title-wrap {
  display: block;
  float: left;
  margin-left: 40px;
}

.main-topic .header .title-wrap .title {
  font-size: 24px;
  font-weight: bold;
}

.main-topic .header .title-wrap .user-name {
  display: inline-block;
  font-size: 14px;
  color: #545756;
  margin-right: 10px;
}

.main-topic .header .title-wrap .date,
.main-topic .header .title-wrap .time {
  color: #c7c7ca;
  font-size: 14px;
}

.main-topic .header .title-wrap .view {
  background: url(../images/view-icon.png) 0 50% no-repeat;
  background-size: 13px 8px;
  color: #c7c7ca;
  padding-left: 18px;
  margin-left: 10px;
}

.main-topic .header .title-wrap .comment {
  background: url(../images/comment-icon-line.png) 0 50% no-repeat;
  background-size: 16px 16px;
  color: #c7c7ca;
  padding-left: 18px;
  margin-left: 10px;
}

.main-topic .content {
  margin-top: 20px;
}

.main-topic .content p {
  font-size: 18px;
  color: #545756;
  margin-bottom: 50px;
  line-height: 25px;
}

.main-topic .content .source {
  color: #c7c7ca;
}

.main-topic .social-wrap {
  margin-top: 100px;
}

.main-topic .social-wrap ul {
  float: right;
  padding: 0;
}

.main-topic .social-wrap ul li {
  list-style: none;
  display: inline-block;
}

.main-topic .social-wrap ul li.like {
  margin-right: 24px;
}

.main-topic .social-wrap ul li.like span {
  position: relative;
  height: 26px;
  padding: 3px 10px;
  font-size: 18px;
  line-height: 18px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.15);
  margin: 3px 10px 0 0;
}

.main-topic .social-wrap ul li.like span:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 12px;
  right: -4px;
  border-top: 5px solid #FFF;
  border-right: 5px solid transparent;
}

.main-topic .user-wrap {
  background: #f6f6f6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 17px;
  position: relative;
}

.main-topic .user-wrap .user-img {
  width: 89px;
  height: 89px;
  overflow: hidden;
  border-radius: 5px;
  float: left;
}

.main-topic .user-wrap .user-img img {
  max-width: 100%;
  height: 89px;
  object-fit: cover;
  object-position: center;
}

.main-topic .user-wrap .user-description {
  float: left;
  margin-left: 15px;
  width: 333px;
}

.main-topic .user-wrap .user-description h3 {
  font-size: 24px;
  text-transform: uppercase;
  display: block;
  float: left;
  margin: 0;
  color: #4881c2;
  line-height: 24px;
  margin-top: -2px;
  margin-bottom: 5px;
}

.main-topic .user-wrap .user-description .user-id {
  display: block;
  float: left;
  color: #989899;
  font-size: 14px;
  margin: 2px 0 0 5px;
}

.main-topic .user-wrap .user-description .introduction {
  display: block;
  width: 333px;
  background: #FFF;
  padding: 3px 10px;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;
}

.main-topic .user-wrap .user-description .introduction span {
  font-weight: bold;
  font-size: 14px;
}

.main-topic .user-wrap .user-description .introduction p {
  line-height: 18px;
  margin-bottom: 0;
  font-size: 12px;
}

.main-topic .user-wrap .user-info {
  display: block;
  float: left;
  margin-left: 25px;
  width: 347px;
  color: #989899;
}

.main-topic .user-wrap .user-info .level {
  margin-right: 18px;
  font-size: 12px;
}

.main-topic .user-wrap .user-info .level img {
  width: 27px;
  margin-right: 10px;
}

.main-topic .user-wrap .user-info .point {
  margin-right: 18px;
  font-size: 12px;
}

.main-topic .user-wrap .user-info .point img {
  width: 14px;
  margin-right: 10px;
}

.main-topic .user-wrap .user-info .rank {
  margin-right: 18px;
  font-size: 12px;
}

.main-topic .user-wrap .user-info .rank img {
  width: 23px;
  margin-right: 10px;
}

.main-topic .user-wrap .user-info .text {
  display: inline-block;
  float: left;
  width: 140px;
  margin-top: 20px;
  position: relative;
  padding-left: 10px;
  color: #989899;
}

.main-topic .user-wrap .user-info .text:before {
  content: "";
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #0ec73e;
  position: absolute;
  top: 5px;
  left: 0;
}

.main-topic .user-wrap .user-info .btn-mentee {
  position: absolute;
  bottom: 15px;
  right: 17px;
}

.comment-box.gray-box {
  background: #f6f6f6;
  padding: 20px;
}

.comment-box.reply-box {
  padding: 0 20px;
}

.comment-box.reply-box:after {
  content: "";
  height: 20px;
}

.comment-box .user-img {
  width: 65px;
  height: 65px;
  overflow: hidden;
  border-radius: 5px;
  float: left;
}

.comment-box .user-img img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  height: 65px;
}

.comment-box .text-editor {
  margin-left: 10px;
  float: left;
  width: 728px;
}

.comment-box .text-editor textarea {
  width: 100%;
  max-width: 100%;
}

.comment-list {
  margin-top: 48px;
}

.comment-list .item .main-comment {
  border-bottom: 1px solid #ddd9da;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.comment-list .item .user-img {
  width: 65px;
  height: 65px;
  float: left;
  position: relative;
}

.comment-list .item .user-img img {
  max-width: 100%;
  height: 65px;
  object-fit: cover;
  object-position: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.comment-list .item .user-img .popup {
  display: none;
}

.comment-list .item .user-img:hover {
  cursor: pointer;
}

.comment-list .item .user-img:hover:after {
  content: "";
  width: 65px;
  height: 10px;
  background: transparent;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.comment-list .item .user-img:hover .popup {
  position: absolute;
  display: block;
  top: 75px;
  left: 20px;
  width: 368px;
  border: 1px solid #f4eef0;
  -webkit-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.13);
  background: #FFF;
  z-index: 99999;
  padding: 20px;
}

.comment-list .item .user-img:hover .popup .popup-user-img {
  width: 65px;
  height: 65px;
  float: left;
}

.comment-list .item .user-img:hover .popup .popup-user-img img {
  max-width: 100%;
  height: 65px;
  object-fit: cover;
  object-position: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.comment-list .item .user-img:hover .popup .popup-user-info {
  display: block;
  float: left;
  margin-left: 10px;
  width: 250px;
  position: relative;
}

.comment-list .item .user-img:hover .popup .popup-user-info .user-name {
  font-size: 18px;
  color: #4881c2;
  display: inline-block;
  margin-right: 5px;
}

.comment-list .item .user-img:hover .popup .popup-user-info .user-id {
  color: #c7c7ca;
  font-size: 12px;
}

.comment-list .item .user-img:hover .popup .popup-user-info .rank {
  color: #989899;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 7px;
  float: right;
}

.comment-list .item .user-img:hover .popup .popup-user-info .point {
  display: inline-block;
  color: #989899;
  font-size: 12px;
  background: url(../images/water-gray.png) 0 3px no-repeat;
  background-size: 7px 9px;
  padding-left: 10px;
  margin-top: 7px;
  float: right;
  margin-right: 0;
}

.comment-list .item .user-img:hover .popup .popup-user-info .level {
  display: inline-block;
  margin-top: 12px;
}

.comment-list .item .user-img:hover .popup .popup-user-info .level img {
  height: 25px;
}

.comment-list .item .user-img:hover .popup .popup-user-info .btn-mentee {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.comment-list .item .comment-content {
  float: left;
  margin-left: 10px;
  width: 768px;
}

.comment-list .item .comment-content .comment-info {
  margin-top: -3px;
}

.comment-list .item .comment-content .comment-info .user-name {
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
  color: #545756;
}

.comment-list .item .comment-content .comment-info .date {
  color: #989899;
  font-size: 14px;
}

.comment-list .item .comment-content .comment-info .time {
  color: #989899;
  font-size: 14px;
}

.comment-list .item .comment-content p {
  font-size: 18px;
}

.comment-list .item .item {
  margin-left: 45px;
  border-bottom: none;
}

.comment-list .item .item .comment-content {
  width: 723px;
}

.comment-action {
  margin-top: 25px;
}

.comment-action ul {
  padding: 0;
  float: right;
  margin: 0;
}

.comment-action ul li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}

.comment-action ul li .btn-like {
  background: url(../images/heart-icon.png) transparent no-repeat 0 50%;
  padding-left: 20px;
  color: #828286;
}

.comment-action ul li .btn-like:hover, .comment-action ul li .btn-like:focus {
  color: #989899;
  box-shadow: none;
}

.comment-action ul li .btn-dislike {
  background: url(../images/bell-icon.png) transparent no-repeat 0 50%;
  padding-left: 20px;
  color: #828286;
}

.comment-action ul li .btn-dislike:hover, .comment-action ul li .btn-dislike:focus {
  color: #989899;
  box-shadow: none;
}

.comment-action ul li .comment {
  background: url(../images/comment-icon-line.png) transparent no-repeat 0 50%;
  padding-left: 25px;
  display: inline-block;
  height: 22px;
  margin-right: 10px;
}

.back-list {
  margin-top: 20px;
  border-top: 1px solid #ddd9da;
  padding: 10px 0 0 0;
}

.tags-search-wrap {
  margin: 15px 0;
}

.tags-search-wrap .search-wrap {
  display: block;
  float: right;
}

.tags-search-wrap .search-wrap input {
  background: url(../images/search-icon.png) no-repeat 95% 50% #FFF;
  padding: 3px 30px 3px 10px;
  border: 1px solid #c7c7ca;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.select-location-wrap {
  margin-bottom: 10px;
}

.tags-wrap {
  display: block;
  float: left;
}

.tags-wrap.q-ask-tags {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tags-wrap.q-ask-tags .bootstrap-tagsinput {
  width: 100%;
  border-radius: 0;
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: none;
  background: url(../images/search-icon.png) no-repeat 99% 55%;
  padding: 6px 6px;
}

.tags-wrap.q-ask-tags .bootstrap-tagsinput .label-info {
  background: #F6f6f6;
  color: #989899;
  padding: 6px 10px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.tags-wrap.q-ask-tags .bootstrap-tagsinput .label-info [data-role="remove"] {
  opacity: 0.6;
}

.tags-wrap .tag-item {
  display: inline-block;
  background: #FFF;
  padding: 0 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-right: 5px;
}

.tags-wrap .tag-item .btn-remove-tag {
  background: none;
  border: none;
  padding: 0;
  margin: 0 0 0 3px;
}

.checkbox-wrap {
  margin-bottom: 40px;
}

.checkbox-wrap label {
  font-weight: normal;
  margin-right: 20px;
}

.comment-wrap {
  margin: 20px 0;
  position: relative;
}

.comment-wrap .btn-show-comment {
  float: right;
}

.title-wrap {
  position: relative;
}

.title-wrap .title-box {
  width: 100%;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d2cacc;
  font-size: 18px;
  font-weight: bold;
  color: #5db7e3;
}

.title-wrap .input-counter {
  display: block;
  position: absolute;
  width: 100px;
  z-index: 99;
  bottom: 2px;
  background: transparent;
  border: none;
  color: #9aa3a6;
  font-size: 10px;
  right: 5px;
  text-align: right;
}

.text-editor-wrap {
  margin-top: 10px;
}

.text-editor-wrap textarea {
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d2cacc;
}

.q-ask-info-wrap {
  clear: both;
  background: #f6f6f6;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #eff3f5;
}

.q-ask-info-wrap .btn-back-list {
  float: left;
}

.q-ask-info-wrap .row-title {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.q-ask-info-wrap .waterdrop-wrap {
  margin-top: 10px;
}

.q-ask-info-wrap .waterdrop-wrap .title {
  display: block;
  float: left;
  font-size: 14px;
}

.q-ask-info-wrap .waterdrop-wrap .help-icon {
  display: block;
  float: left;
  margin-left: 5px;
  background: none;
}

.q-ask-info-wrap .waterdrop-wrap .slider-container {
  margin-top: 5px;
  width: 265px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background: #f6f6f6;
}

.q-ask-info-wrap .waterdrop-wrap .amount {
  margin: 7px 5px 0 25px;
  width: 60px;
  height: 24px;
  border-radius: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

.q-ask-info-wrap .checkbox-wrap {
  margin-top: 15px;
  margin-bottom: 0;
}

.q-ask-info-wrap .radio-wrap label {
  font-size: 14px;
  font-weight: normal;
  margin-right: 15px;
  cursor: pointer;
}

/*# sourceMappingURL=mentor2.css.map */