.ui-slider, .ui-slider .slider-range-inverse, .ui-slider .ui-slider-range {
  height: 8px;
  border-radius: 9px;
  border-width: 0;
}

.ui-slider {
  margin-top: 10px;
  background-color: #2eeada;
  background-image: -webkit-linear-gradient(left, #2eeada 0%, #6ebdea 25%, #c981fb 100%);
  background-image: linear-gradient(to right,#2eeada 0%, #6ebdea 25%, #c981fb 100%);
  height: 8px;
  -webkit-box-shadow: inset 0px 2px 1px 1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow:    inset 0px 2px 1px 1px rgba(0, 0, 0, 0.21);
  box-shadow:         inset 0px 2px 1px 1px rgba(0, 0, 0, 0.21);
}
.ui-widget.ui-widget-content {
  border: none;
}
.ui-slider * {
  outline: none;
}
.ui-slider .slider-range-inverse {
  background: #FFF;
  position: absolute;
  right: 0;
  -webkit-box-shadow: inset 0px 2px 1px 1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow:    inset 0px 2px 1px 1px rgba(0, 0, 0, 0.21);
  box-shadow:         inset 0px 2px 1px 1px rgba(0, 0, 0, 0.21);
}
.ui-slider .ui-slider-range {
  background: transparent;
}
.ui-slider .ui-slider-handle {
  width: 27px;
  height: 27px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background: #FFF;
  top: -10px;
  border-radius: 50%;
  border-width: 0;
}
.ui-slider .ui-slider-handle:active {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.ui-slider .ui-slider-handle .dot {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
  display: block;
}
.ui-slider .ui-slider-handle .dot:before {
  content: "";
  top: -4px;
  left: -4px;
  position: absolute;
  background: url(../images/dropwater-bg.png) transparent 0 0;
  background-size: 100%;
  width: 27px;
  height: 27px;
  z-index: 999;
}
.ui-slider .ui-slider-handle .dot .handle-track {
  display: block;
  height: 18px;
  background-color: #2eeada;
  background-image: -webkit-linear-gradient(left, #2eeada 0%, #6ebdea 25%, #c981fb 100%);
  background-image: linear-gradient(to right,#2eeada 0%, #6ebdea 25%, #c981fb 100%);
  position: absolute;
  padding-right: 18px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}